<h1 mat-dialog-title>Coupons</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Coupon Type<span class="text-danger">*</span></label>
          <select class="form-control" formControlName="type">
            <option value="">Select Coupon Type</option>
            <option value="normal">Normal</option>
            <option value="reference">Reference</option>
          </select>
          <div *ngIf="controls['type'].invalid && submitted">
            <div class="text-danger" *ngIf="controls['type'].errors?.['required']">
              Required
            </div>  
          </div>
        
        </div>
      </div>
      <div class="col-md-4" *ngIf="controls['type'].value == 'reference'">
        <div class="form-group">
          <label>Select Role<span class="text-danger">*</span></label>
          <select
            formControlName="role"
            class="form-control"
            #role
            (change)="selectRole(role?.value
            )"
          >
            <option  value="">Select Role</option>
            <option value="{{ role?.roleId }}" *ngFor="let role of roles">
              {{ role.roleName }}
            </option>
          </select>
          <div *ngIf="controls['role'].invalid  && submitted">
            <div class="text-danger" *ngIf="controls['role'].errors?.['required']">
              Required
            </div>
          </div>
      
        </div>
      </div>
      <div class="col-md-4" *ngIf="controls['type'].value == 'reference'">
        <div class="form-group">
          <label>Select User<span class="text-danger">*</span></label>
          <select formControlName="userId" class="form-control">
            <option disabled>Select User</option>
            <option value="{{ user.userId }}" *ngFor="let user of users">
              {{ user.firstName }} {{ user.lastName }}
            </option>
          </select>
          <div *ngIf="controls['userId'].invalid && submitted">
            <div
              class="text-danger"
              *ngIf="controls['userId']?.errors?.['required']"
            >
              Required
            </div>
          </div>
         
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Select Coupon for<span class="text-danger">*</span></label>
          <select
            name="Coupen"
            class="form-control"
            formControlName="couponFor"
          >
            <option selected value="">Select Coupon for</option>
            <option value="pricingplan">For Pricing Plan</option>
            <option value="addon">For AddOn</option>
          </select>
          <div
            *ngIf="
              controls['couponFor'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['couponFor']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        
        </div>
      </div>
   
      <div class="col-md-4">
        <div class="form-group">
          <label>Coupon Code Type<span class="text-danger">*</span></label>
          <select
            name="Coupen"
            class="form-control"
            aria-label="Default select example"
            formControlName="generationType"
          >
            <option selected value="">Select Coupon Code Type</option>
            <option value="custom">Custom</option>
            <option value="autogenerated">Auto Generated</option>
          </select>
          <div
            *ngIf="
              controls['generationType'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['generationType']?.errors?.['required']"
            >
              Required
            </div>
          </div>
   
        </div>
      </div>
      <div
        class="col-md-4"
        *ngIf="controls['generationType'].value === 'custom'"
      >
        <div class="form-group">
          <label>Custom Coupon Code<span class="text-danger">*</span></label>
          <input
            type="text"
            placeholder="Custom Coupon Code"
            formControlName="code"
            class="form-control"
            maxlength="6"
          />
          <div *ngIf="controls['code'].invalid && submitted">
            <div class="text-danger" *ngIf="controls['code']?.errors?.['required']">
              Required
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label
            >Type of Coupon Series<span class="text-danger"
              >*</span
            ></label
          >
          <select
            class="form-control"
            aria-label="Default select example"
            formControlName="typeOfSeries"
          >
            <option value="">Select Type of Coupon Series</option>
            <option value="sequence">Sequence</option>
            <option value="occurrence">Occurrence</option>
          </select>
          <div
            *ngIf="
              controls['typeOfSeries'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['typeOfSeries']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>No. Of Coupons<span class="text-danger">*</span></label>
          <input
            type="text"
            (keypress)="onlyNumeric($event)"
            maxlength="5"
            placeholder="No Of Coupons"
            formControlName="noOfCoupens"
            class="form-control"
          />
          <div
            *ngIf="
              controls['noOfCoupens'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['noOfCoupens']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group">
          <label>Discount Type<span class="text-danger">*</span></label>
          <select
          (change)="onDiscountTypeChange($event)"
            class="form-control"
            formControlName="discountType"
          >
            <option selected value="">Select Discount Type</option>
            <option value="percentage">IN PERCENTAGE </option>
            <option value="amount">IN AMOUNT</option>
          </select>
          <div
            *ngIf="
              controls['discountType'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['discountType']?.errors?.['required']"
            >
              Required
            </div>
          </div>
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label [ngSwitch]="controls['discountType'].value">
            <ng-container *ngSwitchDefault>Discount<span class="text-danger">*</span></ng-container>
            <ng-container *ngSwitchCase="'percentage'">Discount in Percentage<span class="text-danger">*</span></ng-container>
            <ng-container *ngSwitchCase="'amount'">Discount Amount<span class="text-danger">*</span></ng-container>
          </label>
          <input
          (keypress)="onlyNumeric($event)"
            type="number"
            min="0"
            placeholder="{{controls['discountType'].value ? (controls['discountType'].value === 'percentage' ? 'Enter Discount in Percentage' : 'Enter Discount Amount') : 'Enter Discount'}}"
            formControlName="discount"
            class="form-control"
          />
          <div
            *ngIf="controls['discount'].invalid && submitted"
          >
            <div
              class="text-danger"
              *ngIf="controls['discount']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Start Date<span class="text-danger">*</span></label>
          <input
            type="date"
            [min]="now"
            placeholder="Plan Name"
            formControlName="startDate"
            class="form-control"
          />
          <div
            *ngIf="
              controls['startDate'].invalid && submitted
            "
          >
            <div
              class="text-danger"
              *ngIf="controls['startDate']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>End Date<span class="text-danger">*</span></label>
          <input
            type="date"
            placeholder="Plan Name"
            formControlName="endDate"
            class="form-control"
            [min]="now"
          />
          <div
            *ngIf="controls['endDate'].invalid && submitted"
          >
            <div
              class="text-danger"
              *ngIf="controls['endDate']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Remarks<span class="text-danger">*</span></label>
          <input
            type="text"
            placeholder="Remarks"
            formControlName="remarks"
            class="form-control"
          />
          <div
            *ngIf="controls['remarks'].invalid && submitted"
          >
            <div
              class="text-danger"
              *ngIf="controls['remarks']?.errors?.['required']"
            >
              Required
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary active " (click)="onNoClick()">Cancel</button>&nbsp;
  <button class="btn btn-primary active" (click)="submit()">Submit</button>
</div>

