<div class="section-cover fix" id="educator-area">
    <div class="educator-area gray-bg pb-40">
        <div class="container cs-padding">
            <div class="title-wrap">

                <div class="section-title">
                    <h2>Learn With<br>
                        <span class="title-pole sign position-relative">Top Teachers</span>
                    </h2>
                </div>
                <a routerLink="/educator-list" class="link_w_icon">View All Teachers<i
                        class="far fa-arrow-right"></i></a>
            </div>
            <app-educator-slider [teacherList]="teacherList"></app-educator-slider>
        </div>
    </div>
</div>