<main class="fix">
    <div
      class="teachers-area product-pge gray-bg position-relative fix"
      style="padding-bottom: 5%"
    >
      <div>
        <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
        <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
        <div class="container">
          <div class="text-center">
            <div class="tc">
              MAKING <span class="title-pole">EDUCATION</span>&nbsp;<span
                class="position-relative title-pole"
              >
                SIMPLE!<img
                  class="text-btm-line position-absolute"
                  src="assets/img/line-1.png"
                  alt=""
              /></span>
            </div>
            <div class="mt-5">
              <div>
                <img
                  src="../../../assets/images-marketing/nrichgroupimg.svg"
                  height="100%"
                  width="100%"
                  alt="Nrich Learning team"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-area">
      <div class="container">
        <div class="text-center">
          <div class="b3t">Enriching the experience</div>
          <div class="b3t">
            <b>
              <span style="color: rgba(0, 126, 242, 1)"> NRICH Learning </span>
            </b>
          </div>
        </div>
        <div class="row" style="padding-top: 2%">
          <div class="col-md-4 mt-4" style="padding: 0% 4%">
            <div class="card" style="border-radius: 10px">
              <div class="card-body" style="min-height: 404.33px">
                <div class="cp" style="background: #eaf5ff">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/Assignment ind.png"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img
                        src="../assets/images-marketing/Description.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="img-a-2 text-center mt-4">
                  Elevate the education & learning experience for everyone in this
                  universe.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-4" style="padding: 0% 4%">
            <div class="card" style="border-radius: 10px">
              <div class="card-body" style="min-height: 404.33px">
                <div class="cp" style="background: rgba(255, 169, 44, 0.1)">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/images-marketing/ooui_newspaper-ltr.svg"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img src="../assets/images-marketing/2.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="img-a-2 text-center mt-4">
                  Remove the digital divide by making technology affordable &
                  accessible.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-4" style="padding: 0% 4%">
            <div class="card" style="border-radius: 10px">
              <div class="card-body" style="min-height: 404.33px">
                <div class="cp" style="background: rgba(255, 99, 95, 0.1)">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/images-marketing/Vector.svg"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img
                        src="../assets/images-marketing/Description.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="img-a-2 text-center mt-4">
                  Feel free from limitations. Feel free to make right decisions.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-area" style="background: white; padding-top: 50px">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="box2-text setFontSize">
              <b>
                <span style="color: #1f1f1f">Solve </span>
                <span class="title-pole" style="padding-left: 8px">
                  the Unsolved</span
                >
                <br />
                <span style="color: #1f1f1f">Serve </span>
                <span class="title-pole" style="padding-left: 8px">
                  the Unserved</span
                >
              </b>
            </div>
  
            <div class="text-s mt-4">
              <span>
                &nbsp;&nbsp;<b>We</b> started <b>NRICH Learning</b> with a simple
                mission to make edutech accessible & inclusive. To elevate the
                Education & Learning experience for all stakeholders of the
                industry.
              </span>
            </div>
            <div class="text-smt-2">
              <br />
              Technology has broken the barriers & removed the boundaries however
              it also left a digital divide between the have’s and have-not’s.
              Affordability to technology, infrastructure & gadgets created few
              islands of digital citizens while others struggled to be on par.
            </div>
            <div class="text-s mt-2">
              <br />
              <b>NRICH Learning</b> was developed to remove the disparity between
              the urban and rural, between the have’s and have-not’s between the
              technology skilled and technology challenged.
            </div>
            <div class="text-s mt-2">
              <br />
              At <b>NRICH Learning</b> , Our motto is to make the tools and
              technology <span class="d">Simple</span> to bring
              <b> Powerful </b> transformation in the lives of teachers & students
              towards a <b> Leadership</b> journey.
            </div>
            <div class="text-s mt-2">
              <br />
              Feel FREE from all your limitations & make the Wise Choice. Let
              NRICH Enrich your decisions.
            </div>
          </div>
          <div class="col-md-7" style="background: #007ef21a; padding: 3%">
            <div>
              <img
                src="../assets/Imagenrichgroup.png"
                style="width: 100%"
                alt="Nrich Learning team"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-area">
      <div class="container">
        <div
          class="card-body"
          style="padding: 3%; background: white; border-radius: 3%"
        >
          <div class="row" style="padding-bottom: 3%">
            <div class="col-md-5">
              <div class="b2t">
                <b>
                  <span style="color: #1f1f1f">Passion is to </span>
                  <br />
                  <span class="title-pole" style="padding-right: 8px"
                    >Deliver</span
                  >
                  <span class="title-pole position-relative"
                    >Excellence
                    <img
                      class="text-btm-line position-absolute"
                      src="assets/img/line-1.png"
                      alt=""
                  /></span>
                </b>
              </div>
            </div>
            <div class="col-md-7">
              <div class="t-s" style="font-size: 16px; padding-top: 20px">
                We are passionate about educating learning aspirants by giving
                them the advantage with our state - of - the - art technology.
                NRICH brings the best of both worlds, knowledge from experts
                coupled with innovative tools from our team that help Teachers
                teach <b>better</b> & aspirants learn <b>faster</b>.
              </div>
            </div>
          </div>
          <div class="card" style="border-radius: 25px">
            <!-- <div class="card-body"> -->
            <!-- <img
              src="../assets/Screenshot 11233333333333.png"
              style="border-radius: 20px; width: 100%; height: 100%"
              alt="learning excellence"
            /> -->
            <!-- <iframe
              class="v-bg img-fluid w-100"
              style="height: 217px"
              [src]="this.youTubeLink | safe"
              height="315"
            > -->
            <!-- </iframe> -->
            <iframe
              height="500"
              width="100%"
              [src]="this.youTubeLink | safe"
              frameborder="0"
              allowfullscreen
            ></iframe>
  
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="choose-area">
      <div class="container">
        <div class="text-center" style="margin-bottom: 3%">
          <div class="round-top">
            OUR <span style="color: rgba(0, 126, 242, 1)">TEAM </span>
          </div>
        </div>
        <div class="row">
          <app-team-slider></app-team-slider>
        </div>
      </div>
    </div>
    <app-institutes></app-institutes>
    <div class="choose-area">
      <div class="container">
        <div class="minus-margin">
          <h3 class="text-center">TESTIMONIALS</h3>
          <div
            class="institue-active gap-35 slider_shadow gray arw-design slick-initialized slick-slider right_shadow_active"
          >
            <button type="button" class="slick-prev slick-arrow" (click)="prev()">
              <i class="far fa-angle-left"></i>
            </button>
            <div>
              <div class="slick-track">
                <ngx-slick-carousel
                  class="carousel"
                  #slickModal="slick-carousel"
                  [config]="slideConfig"
                  (init)="slickInit($event)"
                  (breakpoint)="breakpoint($event)"
                >
                  <div
                    ngxSlickItem
                    *ngFor="let slide of slides"
                    class="institue-item slick-slide"
                    data-slick-index="0"
                    aria-hidden="true"
                    style="padding: 0.1% 0.6%"
                  >
                    <div class="institue-g-wrapper" style="padding: 0% 9% 0% 0%">
                      <div class="insti-left">
                        <div class="card" style="border-radius: 5%">
                          <div class="card-body" style="padding: 7%">
                            <img
                            src="{{ slide.img }}"
                              style="
                                max-height: 300px;
                                width: 100%;
                                border-radius: 3%;
                              "
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="insti-right">
                        <div class="cmn-content">
                          <!-- <h4 class="title-pole" style="color: #007ef2; font-style: Bold; font-size: 38px;">
                            {{ slide.title }}
                          </h4> -->
                          <p>{{ slide.testimonial }}</p>
                        </div>
                        <div class="img-a-2" style="text-align: right;">
                          <b class="author-name">- {{ slide.author }} </b>
                        </div>
                      </div>
                    </div>
                    <!-- ./institue-g-wrapper -->
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
  
            <button
              type="button"
              class="slick-next slick-arrow"
              style="right: 110px"
              (click)="next()"
            >
              <i class="far fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="container" style="margin-top: 5%; margin-bottom: 3%">
      <app-commen-play-store-card></app-commen-play-store-card>
    </div> -->
  </main>
  