<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between bg-primary">
                <div class="header-title">
                    <h4 class="card-title text-white">Student Listing</h4>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <div class="row justify-content-between d-flex">
                        <div class="col-sm-12 col-md-6">
                            <div id="user_list_datatable_info" class="dataTables_filter">
                                <form class="me-3 position-relative">
                                    <div class="form-group mb-0">
                                        <input class="form-control" #studentSearch type="text" placeholder="Search....">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="files-lists table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="users?.length == 0">
                                <td colspan="4">No data found!</td>
                            </tr>
                            <tr *ngFor="let element of users; let i = index">
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{ element?.firstName }}
                                </td>
                                <td>{{ element?.email }}</td>
                                <td>
                                    <mat-icon aria-hidden="false" mat-button [matMenuTriggerFor]="menu"
                                        aria-label="Example home icon">menu
                                    </mat-icon>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item style="cursor: pointer" (click)="preview(element?.id)"
                                            data-toggle="tooltip" title="Map To class">
                                            Preview
                                        </button>
                                        <!-- <button mat-menu-item (click)="editMapping(element)" data-toggle="tooltip"
                                            title="Edit class Mapping">
                                            Edit Class Mapping
                                        </button>
                                        <button mat-menu-item style="cursor: pointer" (click)="newMapMaterial(element)"
                                            data-toggle="tooltip" title="Map material">
                                            Map to Batch
                                        </button> -->
                                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-table-paginator [size]="size" [totalElements]="totalCount" (pageChange)="pageChange($event)"
                        (changeSize)="changeSize($event)"></app-table-paginator>
                </div>
            </div>
        </div>
    </div>