<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">
      <img src="assets/img/gg-3.png" alt="" class="gg-3 position-absolute" />
      <div class="container cs-padding">
        <div class="">
          <div>
            <div class="gap-38">
              <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
  
                  <li class="breadcrumb-item active" aria-current="page">
                    Tutors List
                  </li>
                </ol>
              </nav>
              <div class="section-title">
                <h2>
                  Explore
                  <span class="title-pole sign position-relative"
                    >Featured Tutors</span
                  >
                </h2>
              </div>
  
              <div class="row">
                <div class="col-md-3">
                  <fieldset
                    class="type-2 z-index-1 col-md-3"
                    style="width: 92%; margin: 15px"
                  >
                    <legend>Teacher Name</legend>
                    <input
                      #teacherSearch
                      type="text"
                      class="form-control"
                      list="teacherNames"
                    />
                    <datalist id="teacherNames">
                      <option *ngFor="let element of searchRes">
                        {{ element }}
                      </option>
                    </datalist>
                  </fieldset>
                </div>
                <div class="col-md-3">
                  <fieldset
                    class="type-2 z-index-1 col-md-3"
                    style="width: 92%; margin: 15px"
                  >
                    <legend>Category</legend>
                    <input
                      [(ngModel)]="categoryName"
                      (change)="fetchCourseByCategory($event)"
                      type="text"
                      class="form-control"
                      list="categoriesNames"
                    />
                    <datalist id="categoriesNames">
                      <option
                        *ngFor="
                          let element of categoryList | filter : categoryName
                        "
                      >
                        {{ element?.categoryName }}
                      </option>
                    </datalist>
                  </fieldset>
                </div>
                <div class="col-md-3">
                  <button
                    (click)="filter()"
                    [disabled]="!(searchTeachersNames || categoryName)"
                    style="width: 90%; margin: 22px"
                    class="col-md-3 btn box-btn gradient-bg"
                  >
                    Search
                  </button>
                </div>
              </div>
              <app-educator-list
                [teachersList]="teachersList"
                [config]="config"
                [pagenumber]="pageNumber"
                [maxPages]="10"
                (nextPage)="nextPage($event)"
              ></app-educator-list>
              <div *ngIf="teachersList.length == 0">No Teachers Found.</div>
            </div>
          </div>
          <app-listing-banner></app-listing-banner>
        </div>
      </div>
    </div>
  </main>
  