<main class="fix">
    <app-school-search></app-school-search>
    <app-school-contact-us></app-school-contact-us>
  
    <div class="branding-area position-relative" style="background: #f6f8ff">
      <div class="container cs-padding z-index-1">
        <div class="brand-content position-relative" style="margin-bottom: 0%">
          <div class="section-title mb-0">
            <h2 style="color:#1f1f1f; font-size:30px;  line-height: 40px; margin-bottom: auto;">Schools you manage &</h2>
            <h2 style="color: #007ef2; font-size: 30px; line-height: 40px">
               we manage your technology
            </h2>
            <p>
              NRICH Learning Platform to power your business in Education space.
              If dream to make your School globally competitive, we have the right
              solutions for you. Choose any plan from managing your daily
              workflows to launching a Digital Campus.
            </p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6" style="padding: 1% 3% 1% 3%">
            <div
              class="card"
              style="border-radius: 10px; padding: 5%; border: 0px"
            >
              <div class="card-body">
                <div
                  class="card"
                  style="
                    padding: 10px;
                    border-radius: 10px;
                    background: #eaf5ff;
                    border: 0px;
                  "
                >
                  <div class="card-body text-center">
                    <img src="../assets/Online.png" alt="" />
                    <div style="margin-top: 40px">
                      <img
                        src="../assets/Course app-rafiki 1.png"
                        style="width: 100%; height: 100%"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="text-center"
                  style="font-weight: 400; align-items: center; margin-top: 20px"
                >
                  Teach Online through NRICH Live integarted Learning Management
                  System
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding: 1% 3% 1% 3%">
            <div
              class="card"
              style="border-radius: 10px; padding: 5%; border: 0px"
            >
              <div class="card-body">
                <div
                  class="card"
                  style="
                    padding: 10px;
                    border-radius: 10px;
                    background: #ffe6e5;
                    border: 0px;
                  "
                >
                  <div class="card-body text-center">
                    <img src="../assets/Offline.png" alt="" />
                    <div style="margin-top: 40px">
                      <img
                        src="../assets/Teaching-amico 1.png"
                        style="width: 100%; height: 100%"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="text-center"
                  style="font-weight: 400; align-items: center; margin-top: 20px"
                >
                  Manage admission process to exit process using Student
                  Management System
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row" style="margin-top: 60px">
          <div class="col-md-6">
            <h3 style="line-height: 38px">
              1 Stop Solution
              <br />
              <span style="color: #007ef2"> in Education </span>
            </h3>
          </div>
          <div class="col-md-6">
            <p style="color: #8491a5; line-height: 28px">
              While Directory listing websites give you only advertising space, at
              NRICH Learning you get listing ++ secured technology infrastructure
              to make your School a Global Standard Educational Business in your
              own branding.
            </p>
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-md-4">
            <div class="card" style="border-radius: 14px">
              <div class="card-body">
                <div
                  class="card"
                  style="
                    background: #f6f8ff;
                    padding: 13px;
                    border-radius: 15px;
                    max-height: 320px;
                    overflow: hidden;
                  "
                >
                  <div class="card-body">
                    <div class="text-center">
                      <h5 style="color: #8491a5">Directory</h5>
                      <img
                        src="../assets/images-marketing/Course Listing.svg"
                        height="100%"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="border-radius: 14px">
              <div class="card-body">
                <div
                  class="card"
                  style="
                    background: #f6f8ff;
                    padding: 13px;
                    border-radius: 15px;
                    max-height: 320px;
                    overflow: hidden;
                  "
                >
                  <div class="card-body">
                    <div class="text-center">
                      <h5 style="color: #8491a5">LMS</h5>
                      <img
                        src="../assets/images-marketing/Dashboard 1.png"
                        height="100%"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="border-radius: 14px">
              <div class="card-body">
                <div
                  class="card"
                  style="
                    background: #f6f8ff;
                    padding: 13px;
                    border-radius: 15px;
                    max-height: 320px;
                    overflow: hidden;
                  "
                >
                  <div class="card-body">
                    <div class="text-center">
                      <h5 style="color: #8491a5">Schedules</h5>
                      <img
                        src="../assets/images-marketing/cal 1.svg"
                        height="100%"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div style="padding: 30px; background: white">
      <img
        src="../assets/images-marketing/student-led=power.svg"
        class="w-100 h-100"
        alt=""
      />
    </div> -->
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white; padding-top: 8%"
    >
      <div class="course-area position-relative" style="padding: 0px">
        <img
          src="assets/img/slice-1.png"
          alt=""
          class="slice-1 position-absolute"
        />
        <div class="container">
          <div>
            <div class="section-title text-center">
              <h2>
                Managing school made
                <span class="title-pole position-relative"
                  >SIMPLE
                  <img
                    style="bottom: 0px"
                    class="text-btm-line position-absolute"
                    src="assets/img/line-1.png"
                    alt=""
                /></span>
              </h2>
              <div class="ms-t">
                Unlock your teaching skills to elevate students’ learning
                potential & create wealth. NRICH Learning is the only education
                portal to position your business stand tall against your
                competitors. List your skills with NRICH and gain visibility with
                the largest Student community.
                <span> <b>Get Listed & Get Promoted.</b> </span>
              </div>
            </div>
          </div>
          <!-- <div style="background-image: url(../assets/images-marketing/Doodle\ Set\ 1.svg);">
            <img src="../assets/images-marketing/gr.svg" style="width: 100%; height:100%" alt="">
          </div> -->
          <div
            style="
              background-image: url(../assets/images-marketing/Doodle\ Set\ 1.svg);
              padding: 3%;
            "
          >
            <img
              src="../assets/images-marketing/gr.svg"
              style="width: 100%; height: 100%"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div style="padding: 0% 5%; background: white;">
  
    </div> -->
  
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white; padding-top: 5%"
    >
      <div class="course-area position-relative">
        <img
          src="assets/img/slice-1.png"
          alt=""
          class="slice-1 position-absolute"
        />
        <div class="container cs-padding">
          <div class="section-title text-center">
            <h3>
              <span class="text-primary"> Platform that is POWERFUL </span> <br />
              Amazing Features & Amazing Price
            </h3>
          </div>
          <app-school-platform-tabs></app-school-platform-tabs>
        </div>
      </div>
      <!-- ./course-area -->
    </div>
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white"
    >
      <div class="course-area position-relative" class="mobilePadding">
        <img
          src="assets/img/slice-1.png"
          alt=""
          class="slice-1 position-absolute"
        />
        <div class="container cs-padding">
          <div class="section-title text-center">
            <h2>
              Social Connect & Be the LEADER
  
              <br />
              <span class="position-relative" style="color: #007ef2">
                Future of Collective Communities
              </span>
            </h2>
            <p style="color: #8491a5; line-height: 28px">
              Collective learning and peer-to-peer support enable better learning
              outcomes. Add competitive edge for students and teachers alike with
              our Social Connect.
            </p>
          </div>
          <div class="setBottomMargin">
            <app-mobile-social-slider [selectedValue]="'school'"></app-mobile-social-slider>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white"
    >
      <div class="course-area position-relative headerPadding">
        <img
          src="assets/img/slice-1.png"
          alt=""
          class="slice-1 position-absolute"
        />
        <div class="container cs-padding">
          <div>
            <div class="section-title text-center setPadding">
              <h2><b>Make the technology work for you</b></h2>
              <div class="ms-t2" style="font-size: 15px; padding-bottom: 3%">
                Expand your school Globally, enroll students Online & manage your
                operations Digitally Get your own website & mobile app with your
                subscription.
              </div>
              <a
                _ngcontent-san-c246=""
                class="btn box-btn view-course"
                (click)="scrollToMyDiv(annual)"
  
                >Subscribe Now</a
              >
            </div>
          </div>
          <div>
            <img
              src="../assets/images-marketing/phonetab.svg"
              style="width: 100%; height: 100%"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  
    <div class="choose-area">
      <div class="container">
        <div class="section-title mb-0 text-center">
          <h3 style="color: #1f1f1f">Plan to enhance your Teaching</h3>
          <div
            style="
              font-weight: 400;
              font-size: 22px;
              line-height: 32px;
              color: #545353;
            "
          >
            Every plan takes you ONE STEP closer to be the Leader
          </div>
          <div #target>
            <div
              style="padding-top: 20px"
              routerLink="/login"
              *ngIf="!isLogin"
            >
              <a class="btn box-btn gradient-bg">Grab A Free Demo</a>
            </div>
          </div>
        </div>
  
        <div class="row" style="padding: 3% 8%; margin-right: 0px" #annual>
          <div
            class="card"
            style="
              background-color: white;
              border: 2px solid #007ef2;
              border-radius: 10px;
              margin-top: 8px;
            "
            *ngFor="let plans of Annualplans"
          >
            <div class="card-body">
              <div class="row" style="padding: 3% 0% 1% 0%">
                <div class="col-md-5 addBorder">
                  <p
                    class="mb-2"
                    style="
                      font-weight: 700;
                      font-size: 20.0326px;
                      line-height: 36px;
                      letter-spacing: 2.47815px;
                      text-transform: uppercase;
                      -webkit-text-fill-color: white;
                      -webkit-text-stroke-width: 1px;
                      -webkit-text-stroke-color: #007ef2;
                    "
                  >
                    {{ plans.pricingPlanName }}
                  </p>
                  <p
                    class="setFontSize"
                    style="
                      font-weight: 700;
                      line-height: 63px;
                      color: #007ef2;
                      padding-bottom: 3%;
                    "
                  >
                    ₹{{
                      plans.discountPrice
                        ? plans.discountPrice
                        : (plans.price | number : "1.0" : "en-US")
                    }}/{{ plans?.frequency == "annual" ? "annum" : "monthly" }}
                  </p>
                  <p
                    *ngIf="plans.discountPrice"
                    style="
                      font-weight: 700;
                      font-size: 19.5951px;
                      color: #8491a5;
                      padding-bottom: 5%;
                    "
                  >
                    <del>₹{{ plans.price }}</del> ORIGINAL PRICE
                  </p>
                  <button
                    class="btn mb-2"
                    style="background-color: #007ef2; border-radius: 21px"
                    (click)="buyPlan(plans.id)"
                  >
                    <span
                      class="text-white"
                      style="
                        font-weight: 700;
                        font-size: 11.6773px;
                        letter-spacing: -0.194621px;
                        margin: 0px 30px;
                      "
                      >Choose The Plan</span
                    >
                  </button>
                  <p
                    style="
                      font-weight: 700;
                      font-size: 18.584px;
                      line-height: 23px;
                      color: #8491a5;
                      opacity: 0.4;
                      padding-top: 3%;
                    "
                  >
                    *excl. GST
                  </p>
                  <br />
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div
                      class="col-lg-5 col-md-12"
                      style="margin-left: 5%"
                      *ngFor="let feature of plans.features"
                    >
                      <p
                        style="
                          display: flex;
                          gap: 10px;
                          color: #8491a5;
                          font-size: 15.78px;
                          line-height: 23.68px;
                          font-weight: 400;
                          padding: 2% 0%;
                        "
                      >
                        <span>✓ </span>
                        <span>{{ feature.featureDescription }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align: end" *ngIf="plans.discountPrice">
                <span
                  style="
                    background-color: #ff635f;
                    border-radius: 10px 0px 0px 10px;
                    margin-right: -28px;
                  "
                >
                  <span
                    style="
                      font-weight: 700;
                      font-size: 14.5141px;
                      line-height: 42px;
                      color: #ffffff;
                      margin: 0px 15px;
                    "
                    >ON DISCOUNT</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-area" style="background-color: white">
      <div class="container">
        <div class="section-title mb-0 text-center">
          <h3 style="font-family: poppins; color: #1f1f1f">
            Enjoy The
            <span style="color: #007ef2" class="position-relative">
              Core Features
            </span>
            On Any Plan
          </h3>
          <div
            style="
              font-style: Regular;
              font-size: 22px;
              line-height: 33.97px;
              color: #7a7a7a;
              font-family: poppins;
            "
          >
            Our Promising Solutions For Every Need
          </div>
          <div></div>
        </div>
        <div class="container">
          <div class="row" style="margin-top: 40px">
            <div class="col-md-6 core_feature">
              <div class="f">
                <span>✓</span>
                <span class="sText">CRM for managing your sales</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Role based access to your Users</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Store all your Course Materials</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Unlimited Student Enrolment</span>
              </div>
              <div class="f">
                <span>✓</span> <span class="sText">Assignments & Quiz</span>
              </div>
            </div>
            <div class="col-md-6 core_feature">
              <div class="f">
                <span>✓</span>
                <span class="sText">Secured & Encrypted Platform</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Live & Recorded Lectures</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText"
                  >Unlimited Course listings in Marketplace</span
                >
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">1 Click Notification for all Students</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Customized Reports & Analytics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-faq [selectedValue]="selectedValue"></app-faq>
  </main>
  