<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">
      <div class="" style="padding: 0% 5% 5% 5%">
        <div class="card ng" style="border: 0px">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6" style="padding: 4%; margin-top: 50px">
                <p
                  style="
                    font-size: 42px;
                    font-weight: 700;
                    font-family: 'Poppins';
                    font-style: normal;
                  "
                >
                  Live Stream Teaching
                </p>
                <div class="set-first-card">
                  <span class="title-pole position-relative"
                    >To every home
                    <img
                      style="bottom: -16px; left: 0px; width: 75%; z-index: 1"
                      class="text-btm-line position-absolute"
                      src="assets/img/line-1.png"
                      alt=""
                  /></span>
                </div>
                <div class="first-card-large-text mt-3">
                  Teach a <b>large audience</b> with easy access & powerful
                  technology. <br />
                  Start streaming your classses with
                  <span style="color: #007ef2">NRICH Live </span>
                </div>
                <br />
                <button
                  class="btn btn-primary mt-2"
                  style="background: #007ef2; color: white"
                  routerLink="/"
                >
                  Live Stream Today
                </button>
              </div>
              <div class="col-md-6">
                <img
                  src="../assets/images-marketing/Macbook Pro.svg"
                  style="margin-bottom: -160px; width: 117%"
                  alt="online teaching hero"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center"
        style="margin-top: 115px; margin-bottom: 50px; position: relative"
      >
        <div style="padding: 0% 3% 0% 3%">
          <img
            src="../assets/images-marketing/ajfz3-xgtxc.svg"
            class="h-60 w-100"
            alt="live classes"
          />
        </div>
        <div
          style="
            position: absolute;
            width: 100%;
            text-align: center;
            margin-top: -20%;
          "
        >
          <p
            style="
              color: #ffffff;
              font-family: Nanum Brush Script;
              line-height: 101.5%;
              margin-top: 94%;
            "
          >
            secured single sign-on
          </p>
        </div>
      </div>
    </div>
  
    <div style="padding: 7%">
      <div class="row">
        <div class="col-lg-4" style="padding-top: 1%">
          <div
            class="card"
            style="
              border-radius: 12px;
              height: 100%;
              border: 0px;
              background: linear-gradient(
                94.38deg,
                #008ce4 -1.08%,
                #00af9e 96.88%
              );
            "
          >
            <div
              class="card-body"
              class="setFontSize"
              style="padding: 13%; text-align: center"
            >
              <h2 class="text-white">Make Your Classroom Productive</h2>
  
              <div class="card mt-4">
                <div class="card-body">
                  <div style="text-align: left; margin-left: 14%">
                    <h5>Total Courses</h5>
                    <div class="d-flex align-items-center">
                      <h3>1/2 </h3>
                      <h5>
                        <small class="text-success ms-3" class="setFontSize1"
                          >Completed/Enrolled</small
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="card mt-2">
                <div class="card-body">
                  <div style="text-align: left; margin-left: 14%">
                    <h5>Total Attendance</h5>
                    <div class="d-flex align-items-center">
                      <h3>780+</h3>
                      <h5><small class="text-danger ms-3">Hours</small></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8" style="padding-top: 1%">
          <div
            class="card"
            style="border-radius: 12px; border: 0px; height: 100%"
          >
            <div class="card-body" style="padding: 6.5%">
              <div class="row">
                <h2 style="color: #007ef2">
                  Get closer to <br />
                  your students
                </h2>
              </div>
              <br /><br />
              <div class="row">
                <div class="col-2">
                  <img
                    src="../assets/images-marketing/Group 39294.svg"
                    width="50px"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h5 style="color: #8491a5">Clarity</h5>
                  <p style="color: #4c535d">
                    NRICH Meet elevates your <b>teaching</b> sessions with a<br />
                    <b>crystal-clear</b> interface
                  </p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-2">
                  <img
                    src="../assets/images-marketing/Group 39295.svg"
                    width="50px"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h5 style="color: #8491a5">Connect</h5>
                  <p style="color: #4c535d">
                    Students stay connected to their learning through <b>Online</b
                    ><br />
                    or <b>Recorded</b> Sessions, never missing their schedules.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div style="padding: 5% 15% 6% 15%; background: white">
      <div class="text-center">
        <p style="color: #1f1f1f; font-size: 32px; line-height: 48px">
          <b>Enrich</b> your students with <br />
          <span style="color: #007ef2">enriched learning <b>outcomes</b></span>
        </p>
      </div>
      <div>
        <div class="row">
          <div class="col-md-7" style="padding-top: 10%; height: 80%">
            <h3 style="color: #1f1f1f">Smart Teaching</h3>
            <p style="color: #8491a5; line-height: 28px">
              Take your regular classroom teaching Online or allow your students
              the <b>choice of attending</b> the class on a recorded session.
            </p>
            <div class="mt-4">
              <img
                src="../../../assets/images-marketing/Group 39305.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39306.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39307 (1).svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn btn-outline-primary"
                [routerLink]="
                  authService.isLoggin() ? '/' : '/login'
                "
              >
                <span
                  style="
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                  "
                  >Sign Up <span style="font-size: 20px">></span></span
                >
              </button>
            </div>
          </div>
          <div class="col-md-5" style="padding-top: 3%; height: 80%">
            <img
              src="../../../assets/images-marketing/Meeting Screen.svg"
              style="border-radius: 25px"
              height="80%"
              width="80%"
              alt="best online learning"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 order-2 order-md-1" style="padding-top: 3%; height: 80%">
            <img
              src="../../../assets/images-marketing/Frame_39252.svg"
              style="border-radius: 25px"
              height="80%"
              width="80%"
              alt="Lead generation"
            />
          </div>
          <div class="col-md-7 order-1 order-md-2" style="padding-top: 10%; height: 80%">
            <h3 style="color: #1f1f1f">Smart Streaming</h3>
            <p style="color: #8491a5; line-height: 28px">
              Our <b>Cloud</b> powered CDN provide seamless experience that
              streams the classes from the nearest server
            </p>
            <div class="mt-4">
              <img
                src="../../../assets/images-marketing/Group 39349.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39350.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39351.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn btn-outline-primary"
                [routerLink]="
                  authService.isLoggin() ? '/' : '/login'
                "
              >
                <span
                  style="
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                  "
                  >Sign Up <span style="font-size: 20px">></span></span
                >
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7" style="padding-top: 10%; height: 80%">
            <h3 style="color: #1f1f1f">Smart Evaluation</h3>
            <p style="color: #8491a5; line-height: 28px">
              Assign classwork’s and assess them all online. Enhance the Exam
              experience and evaluate exams instantly.
            </p>
            <div class="mt-4">
              <img
                src="../../../assets/images-marketing/Group 39352.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39353.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../../../assets/images-marketing/Group 39354.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn btn-outline-primary"
                [routerLink]="
                  authService.isLoggin() ? '/' : '/login'
                "
              >
                <span
                  style="
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                  "
                  >Sign Up <span style="font-size: 20px">></span></span
                >
              </button>
            </div>
          </div>
          <div class="col-md-5" style="padding-top: 3%; height: 80%">
            <img
              src="../../../assets/images-marketing/Assign 1.svg"
              style="border-radius: 25px"
              height="80%"
              width="80%"
              alt="list my course"
            />
          </div>
        </div>
      </div>
    </div>
  
    <div style="background-color: #f6f8ff; margin-top: 85px">
      <div class="row" style="padding: 0% 7%">
        <div class="card ng" style="border: 0px">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img
                  class="ng-img"
                  src="../assets/images-marketing/iPad Pro (11 inch) Mockup.svg"
                  alt="news feed
                (Advantages of learning management)"
                />
              </div>
              <div class="col-md-8" style="padding: 5%">
                <div class="tu">Digital future</div>
                <div class="b-t" style="color: #1f1f1f">
                  Stay on top <br />
                  <span class="title-pole" style="color: #007ef2">
                    of Technology</span
                  >
                </div>
                <div class="ap2-t mt-2">
                  Remote teaching is the growing market and NRICH Meet enable you
                  become the leader for the future
                </div>
                <div class="mt-4">
                  <button
                    class="btn btn-primary"
                    style="color: white; background: rgba(0, 126, 242, 1)"
                    [routerLink]="['/pricing-for-learning-management-system']"
                  >
                    Start 7 Days Trial
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div style="padding: 9% 6%">
      <div class="row" style="padding: 0% 13%">
        <div class="col-md-5">
          <h3 style="line-height: 41px" style="color: #1f1f1f">
            Expand your potential
            <span style="color: #007ef2">with Endless Possibilities</span>
          </h3>
        </div>
        <div class="col-md-7">
          <p style="color: #4c535d; line-height: 34px">
            If you have been waiting for an intuitive way to get your students
            involved in the learning, now is the time to subscribe to
            <b>NRICH Learning</b>
          </p>
        </div>
      </div>
      <div class="row" style="padding-top: 3%">
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39250.svg"
            alt="online profile"
          />
        </div>
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39251.svg"
            alt="learning news online"
          />
        </div>
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39252.svg"
            alt="Online commerce"
          />
        </div>
      </div>
    </div>
  
    <!-- <div style="padding: 2% 10%">
      <app-playstore-mobile></app-playstore-mobile>
    </div> -->
    <!-- <div class="row" style="padding: 7% 12%">
      <div class="card ng" style="border: 0px">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                class="ng-img"
                src="../assets/images-marketing/iPad Pro (11 inch) Mockup.svg"
                alt="online teaching"
              />
            </div>
            <div class="col-md-8" style="padding: 5%">
              <div class="tu">Digital future</div>
              <div class="b-t">
                Stay on top<br />
                <span style="color: #007ef2"> of Technology</span>
              </div>
              <div class="ap2-t mt-4">
                Remote teaching is the growing market and NRICH Live enables you
                to become the leader for the future
              </div>
              <div class="mt-2">
                <a [routerLink]="['/online-platform-for-teachingy']"
                  ><button
                    class="btn btn-primary"
                    style="color: white; background: rgba(0, 126, 242, 1)"
                  >
                    Start 15 Day Trial
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    <div style="background: white !important">
      <app-faq [selectedValue]="selectedValue"></app-faq>
    </div>
  
    <div class="section-cover" id="apply-area">
      <div class="ins-area fix bg-white">
        <div class="container type-2 cs-padding">
          <div class="row ins-row-type-three">
            <div class="col-md-6 mt-2 ins-el-box position-relative">
              <img
                class="img-fluid position-absolute bottom-0 ins-t-1"
                src="assets/img/nl-1.png"
                alt=""
              />
              <div class="ins-element blue">
                <div class="ins-el-inner">
                  <h5>Digitize Your Classroom</h5>
                  <p>
                    Unable to decide the curated courses for your skill-set?<br /><b
                      >Grab a free demo right now !</b
                    >
                  </p>
                  <a
                    [routerLink]="['/connect-with-learning']"
                    class="btn box-btn fill-white small round-60"
                    ><i class="far fa-plus-circle"></i>Apply Now</a
                  >
                </div>
              </div>
            </div>
  
            <div class="col-md-6 mt-2 ins-el-box position-relative">
              <img
                class="img-fluid position-absolute bottom-0 ins-t-1 two"
                src="assets/img/nl-2.png"
                alt=""
              />
              <div class="ins-element green">
                <div class="ins-el-inner">
                  <h5>Register Your Institute</h5>
                  <p>
                    Unable to decide the curated courses for your skill-set?<br /><b
                      >Grab a free demo right now !</b
                    >
                  </p>
                  <a
                    [routerLink]="['/login']"
                    class="btn box-btn fill-white small round-60"
                    ><i class="far fa-plus-circle"></i>Register Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./ins-area -->
    </div>
  </main>
  