<main>
    <div style="margin-top: 150px" class="container">
      <img
        src="assets/img/sq-1.png"
        alt=""
        class="position-absolute"
        style="width: 6%; left: -3%; top: 0.5%"
      />
      <img
        src="../../../assets/images-marketing/cube 1.svg"
        alt=""
        class="position-absolute"
        style="width: 5%; left: 78%; top: 2%"
      />
      <div class="text-center mb-5">
        <div class="section-title">
          <h2>
            <span style="color: #1f1f1f; padding-right: 8px"> Expand </span>
            <span class="title-pole sign position-relative"> your Horizon</span>
          </h2>
        </div>
        <p>Revolutionize the way you teach with technology.</p>
        <p>
          <b>Take your Institute Digital.</b>
          <span style="color: #007ef2; padding-left: 4px">
            <b>Free Trial No Credit Card</b>
          </span>
        </p>
      </div>
      <img
        src="../assets/images-marketing/tri 1.svg"
        alt=""
        class="position-absolute"
        style="width: 5%; left: 13%; top: 7%"
      />
    </div>
  
    <div class="text-center">
      <img
        src="../../../assets/Nrich_For_Institute/Group.svg"
        style="width: 100%; margin-bottom: -10%"
        alt=""
      />
    </div>
  
    <app-institute-contact-us></app-institute-contact-us>
  
    <div class="branding-area position-relative" style="background-color: white">
      <div class="container cs-padding z-index-1">
        <div class="brand-content position-relative">
          <div class="section-title mb-0">
            <h2 style="color: #007ef2; font-size: 38px">
              Become a Global business
            </h2>
            <p>
              Not all training institutes are created equal and it's not just
              about the quality or content of your program. For a successful
              expansion into new markets or locations across continents you need
              reliable tools to help you <b style="color: #4C535D;">achieve success..</b>
            </p>
          </div>
        </div>
        <div class="text-center">
          <div class="video position-relative">
            <!-- <img src="assets/img/v-bg.jpg" alt="" class="v-bg img-fluid w-100" />
            <a
              href="https://www.youtube.com/watch?v=olboi3ttUi8&amp;ab_channel=4EverGreen"
              class="play-video position-absolute top-50 start-50"
              ><i class="fas fa-play"></i
            ></a> -->
            <iframe
              height="500"
              width="100%"
              [src]="this.youTubeLink | safe"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row teaching_powerfull" style="margin-top: 60px">
          <div class="col-md-6">
            <div class="section-title">
              <h1 style="line-height: 53px" class="mobile_center">
                <span style="color: #1f1f1f">Make your Teaching</span>
                <br />
                <span class="title-pole"> more &nbsp; </span>
  
                <span class="position-relative title-pole"
                  >POWERFUL
                  <img
                    class="text-btm-line position-absolute"
                    src="assets/img/line-1.png"
                    alt=""
                /></span>
              </h1>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <p
              style="color: #4c535d; font-size: 18px; line-height: 28px"
              class="mobile_center"
            >
              Teaching Platform built with focus on Teachers & Institutes to help
              them Teach & create Content at Scale.
            </p>
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-md-7">
            <img
              src="../../../assets/Nrich_For_Institute/LMS.webp "
              style="height: 100%; width: 100%"
              alt=""
            />
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 mt-3">
                <div class="category-item-nr" style="border: 1px solid #f1eef303">
                  <div class="cat-icon" style="margin-top: -23px">
                    <img
                      src="../../../assets/images-marketing/Group 39406.svg"
                      alt=""
                    />
                  </div>
                  <div class="cat-content">
                    <h6 class="mb-3">Smart Teaching</h6>
                    <p>
                      Allow Students to join class with a Single Click for online
                      or recorded sessions
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="category-item-nr" style="border: 1px solid #f1eef303">
                  <div class="cat-icon" style="margin-top: -23px">
                    <img
                      src="../../../assets/images-marketing/Group 39408.svg"
                      alt=""
                    />
                  </div>
                  <div class="cat-content">
                    <h6 class="mb-3">LMS</h6>
                    <p>
                      Create, Store & Delivery content for student batches of any
                      size
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="category-item-nr" style="border: 1px solid #f1eef303">
                  <div class="cat-icon" style="margin-top: -23px">
                    <img
                      src="../../../assets/images-marketing/Group 39406 (1).svg"
                      alt=""
                    />
                  </div>
                  <div class="cat-content">
                    <h6 class="mb-3">Webinars</h6>
                    <p>
                      Engage with student groups based on their area of interest
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-1" style="min-height: 170px">
          <div class="row">
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">1,000+</div>
              <div class="box-1-text2">Hours/Day</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">15,000</div>
              <div class="box-1-text2">Downloads</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">500+</div>
              <div class="box-1-text2">Teachers</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">1M+</div>
              <div class="box-1-text2">Screen Time</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-cover fix" id="category-area">
      <div class="category-area gray-bg position-relative">
        <div class="container cs-padding z-index-1">
          <div class="text-center">
            <p
              style="
                font-size: 42px;
                color: #000000;
                font-weight: 700;
                line-height: 63px;
              "
            >
              Subscribe <br />
              <span style="color: #007ef2"> be the Leader</span>
            </p>
            <img
              src="../../../assets/images-marketing/Union.svg"
              class="removeImg"
              style="position: absolute; left: 17%"
              width="65%"
              alt=""
            />
          </div>
          <div class="row removePadding">
            <div class="col-md-4">
              <div class="card subscribe_card mt-5">
                <div class="card-body">
                  <div class="cp" style="background: #eaf5ff">
                    <div class="text-center">
                      <img
                        class="img-a"
                        src="../assets/Assignment ind.png"
                        alt=""
                      />
                      <div class="img-a-1 mt-5">
                        <img src="../assets/images-marketing/pro.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="img-a-2 text-center mt-2">
                    Publish your profile & promote your skills globally
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mt-5 subscribe_card">
                <div class="card-body">
                  <div class="cp" style="background: rgba(255, 169, 44, 0.1)">
                    <div class="text-center">
                      <img
                        class="img-a"
                        src="../assets/images-marketing/ooui_newspaper-ltr.svg"
                        alt=""
                      />
                      <div class="img-a-1 mt-5">
                        <img src="../assets/images-marketing/cou.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="img-a-2">
                    Create your own customized course materials efficiently
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mt-5 subscribe_card">
                <div class="card-body">
                  <div class="cp" style="background: rgba(255, 99, 95, 0.1)">
                    <div class="text-center">
                      <img
                        class="img-a"
                        src="../assets/images-marketing/Vector.svg"
                        alt=""
                      />
                      <div class="img-a-1 mt-5">
                        <img src="../assets/images-marketing/audi.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="img-a-2">
                    Take your business from regional to global
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white"
    >
      <div class="course-area position-relative">
        <img
          src="assets/img/slice-1.png"
          alt=""
          class="slice-1 position-absolute"
        />
        <div class="container cs-padding">
          <div class="section-title text-center">
            <h3 style="font-size: 32px">
              <span style="color: #007ef2"> Platform that is POWERFUL </span>
              <br />
              <span style="color: #1f1f1f">Amazing Features & Amazing Price</span>
            </h3>
          </div>
          <app-school-platform-tabs></app-school-platform-tabs>
        </div>
      </div>
    </div>
    <div class="category-area increased_profile gray-bg position-relative">
      <div class="text-center">
        <h3 style="color: #007ef2">NRICH means increased profits</h3>
        <div class="t-e">
          Say goodbye to advertisements that, Bleed your wallet.
        </div>
      </div>
  
      <div class="row" style="padding: 3% 10% 4% 10%; margin-right: 0px">
        <div class="col-md-4 mb-2">
          <div class="card" style="padding: 7%; border-radius: 10px; border: 0px">
            <div
              class="card-body text-center"
              style="background-color: #eaf5ff; border-radius: 10px"
            >
              <img
                src="../../../assets/Nrich_For_Institute/publish.gif"
                style="width: 50%; margin: 10% 0%"
                alt=""
              />
              <br />
              <img
                src="../../../assets/Nrich_For_Institute/Publish.svg"
                style="padding: 4%"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card" style="padding: 7%; border-radius: 10px; border: 0px">
            <div
              class="card-body text-center"
              style="background-color: #fff9ef; border-radius: 10px"
            >
              <img
                src="../../../assets/Nrich_For_Institute/share.gif"
                style="width: 50%; margin: 10% 0%"
                alt=""
              />
              <br />
              <img
                src="../../../assets/Nrich_For_Institute/Promote.svg"
                style="padding: 4%"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card" style="padding: 7%; border-radius: 10px; border: 0px">
            <div
              class="card-body text-center"
              style="background-color: #ffe6e5; border-radius: 10px"
            >
              <img
                src="../../../assets/Nrich_For_Institute/position.gif"
                style="width: 50%; margin: 10% 0%"
                alt=""
              />
              <br />
              <img
                src="../../../assets/Nrich_For_Institute/Position.svg"
                style="padding: 4%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container cs-padding z-index-1">
        <div class="setMargin">
          <app-commen-play-store-card></app-commen-play-store-card>
        </div>
      </div>
    </div>
  
    <div class="choose-area">
      <div class="container">
        <div class="section-title mb-0 text-center">
          <h3 style="color: #1f1f1f">Plan to enhance your Teaching</h3>
          <div
            style="
              font-weight: 400;
              font-size: 22px;
              line-height: 32px;
              color: #545353;
            "
          >
            Every plan takes you ONE STEP closer to be the Leader
          </div>
          <div #target>
            <div
              style="padding-top: 20px"
              routerLink="/login"
              *ngIf="!isLogin"
            >
              <a class="btn box-btn gradient-bg">Grab A Free Demo</a>
            </div>
          </div>
        </div>
  
        <div class="row" style="padding: 3% 8%; margin-right: 0px">
          <div
            class="card"
            style="
              background-color: white;
              border: 2px solid #007ef2;
              border-radius: 10px;
              margin-top: 8px;
            "
            *ngFor="let plans of Annualplans"
          >
            <div class="card-body">
              <div class="row" style="padding: 3% 0% 1% 0%">
                <div class="col-md-5 addBorder">
                  <p
                    class="mb-2"
                    style="
                      font-weight: 700;
                      font-size: 20.0326px;
                      line-height: 36px;
                      letter-spacing: 2.47815px;
                      text-transform: uppercase;
                      -webkit-text-fill-color: white;
                      -webkit-text-stroke-width: 1px;
                      -webkit-text-stroke-color: #007ef2;
                    "
                  >
                    {{ plans.pricingPlanName }}
                  </p>
                  <p
                  class="setFontSize"
                    style="
                      font-weight: 700;
                      line-height: 63px;
                      color: #007ef2;
                      padding-bottom: 3%;
                    "
                  >
                    ₹{{
                      plans.discountPrice
                        ? plans.discountPrice
                        : (plans.price | number : "1.0" : "en-US")
                    }}/{{ plans?.frequency == "annual" ? "annum" : "monthly" }}
                  </p>
                  <p
                    *ngIf="plans.discountPrice"
                    style="
                      font-weight: 700;
                      font-size: 19.5951px;
                      color: #8491a5;
                      padding-bottom: 5%;
                    "
                  >
                    <del>₹{{ plans.price }}</del> ORIGINAL PRICE
                  </p>
                  <button
                    class="btn mb-2"
                    style="background-color: #007ef2; border-radius: 21px"
                    (click)="buyPlan(plans.id)"
                  >
                    <span
                      class="text-white"
                      style="
                        font-weight: 700;
                        font-size: 11.6773px;
                        letter-spacing: -0.194621px;
                        margin: 0px 30px;
                      "
                      >Choose The Plan</span
                    >
                  </button>
                  <p
                    style="
                      font-weight: 700;
                      font-size: 18.584px;
                      line-height: 23px;
                      color: #8491a5;
                      opacity: 0.4;
                      padding-top: 3%;
                    "
                  >
                    *excl. GST
                  </p>
                  <br />
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div
                      class="col-lg-5 col-md-12"
                      style="margin-left: 5%"
                      *ngFor="let feature of plans.features"
                    >
                      <p
                        style="
                          display: flex;
                          gap: 10px;
                          color: #8491a5;
                          font-size: 15.78px;
                          line-height: 23.68px;
                          font-weight: 400;
                          padding: 2% 0%;
                        "
                      >
                        <span>✓ </span>
                        <span>{{ feature.featureDescription }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align: end" *ngIf="plans.discountPrice">
                <span
                  style="
                    background-color: #ff635f;
                    border-radius: 10px 0px 0px 10px;
                    margin-right: -28px;
                  "
                >
                  <span
                    style="
                      font-weight: 700;
                      font-size: 14.5141px;
                      line-height: 42px;
                      color: #ffffff;
                      margin: 0px 15px;
                    "
                    >ON DISCOUNT</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="choose-area" style="background-color: white">
      <div class="container">
        <div class="section-title mb-0 text-center">
          <h3 style="font-family: poppins; color: #1f1f1f">
            Enjoy The
            <span style="color: #007ef2" class="position-relative">
              Core Features
            </span>
            On Any Plan
          </h3>
          <div
            style="
              font-style: Regular;
              font-size: 22px;
              line-height: 33.97px;
              color: #7a7a7a;
              font-family: poppins;
            "
          >
            Our Promising Solutions For Every Need
          </div>
          <div></div>
        </div>
        <div class="container">
          <div class="row" style="margin-top: 40px">
            <div class="col-md-6 core_feature">
              <div class="f">
                <span>✓</span>
                <span class="sText">CRM for managing your sales</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Role based access to your Users</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Store all your Course Materials</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Unlimited Student Enrolment</span>
              </div>
              <div class="f">
                <span>✓</span> <span class="sText">Assignments & Quiz</span>
              </div>
            </div>
            <div class="col-md-6 core_feature">
              <div class="f">
                <span>✓</span>
                <span class="sText">Secured & Encrypted Platform</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Live & Recorded Lectures</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText"
                  >Unlimited Course listings in Marketplace</span
                >
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">1 Click Notification for all Students</span>
              </div>
              <div class="f">
                <span>✓</span>
                <span class="sText">Customized Reports & Analytics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-faq [selectedValue]="selectedValue"></app-faq>
    <div class="container">
      <div
        class="card"
        style="border: 0px; border-radius: 20px; margin-bottom: -410px"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8 pad-set" style="padding: 6% 8%">
              <div class="blue-ligt mt-2">Be The Leader</div>
              <div class="dark-text-l mt-2">
                Create your FREE Profile and start making revenue.
              </div>
              <button
                class="btn btn-primary mt-2"
                style="color: white"
                [routerLink]="isLogin ? '/' : '/login'"
              >
                Start Today
              </button>
  
            </div>
            <div class="col-sm-4 mt-2">
              <img
                style="width: 100%; height: 100%; max-height: 600px"
                src="../assets/images-marketing/E-Wallet-pana 1.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="c-b-half">
      <div
        style="
          margin-bottom: -10px;
          min-height: 500px;
          height: 100%;
          background: linear-gradient(94.38deg, #008ce4 -1.08%, #00af9e 96.88%)
            no-repeat;
          background-size: calc(100%) calc(50%);
          background-position: bottom;
        "
      ></div>
    </div>
  </main>
  