// i {
//     font-size: 1.25rem !important;
//     color: #b5b5c3 !important;
//   }
  
//   div#kt_datatable {
//     overflow-x: scroll;
//   }
  
//   .custom-table {
//     /* position: absolute; */
//     /* left: 10%; */
//     width: 50%;
//   }
//   div#kt_datatable {
//     overflow-x: scroll;
//   }
  
  // .custom-table {
  //   /* position: absolute; */
  //   /* left: 10%; */
  //   width: 90%;
  // }
  
  // table {
  //   width: 80%;
  // }
  
  .icon {
    height: 80%;
    width: 80%;
    padding-top: 15px;
  }
  
  .pos {
    text-align: center;
  }
  
  .card-wid {
    width: 14rem;
  }
  
  // @media screen and (max-width: 766px) {
  //   .pos {
  //     text-align: left;
  //   }
  //   .card-wid {
  //     width: 14rem;
  //   }
  // }
  