<div class="helper-div position-relative">
  <img src="assets/img/gg-2.png" alt="" class="gg-2 position-absolute" />
  <div class="cmn-box z-index-1">
    <h3 class="tertiary-title medium text-start">Institute Highlights</h3>
    <ul class="hightlight-list">
      <table>
        <tr>
          <th style="width: 47%; padding: 1.5% 0%">
            <img src="assets/img/h-1.png" alt="" />&nbsp;&nbsp;<span
              >Courses :</span
            >
          </th>
          <td style="padding: 1.5% 0%">{{ instituteDetails?.courseCount }}</td>
        </tr>
        <tr>
          <th style="width: 47%; padding: 1.5% 0%">
            <img src="assets/img/h-5.png" alt="" />&nbsp;&nbsp;<span
              >Teacher count :</span
            >
          </th>
          <td style="padding: 1.5% 0%">{{ instituteDetails?.teachersCount }}</td>
        </tr>
        <tr>
          <th style="width: 47%; padding: 1.5% 0%">
            <img src="assets/img/h-3.png" alt="" />&nbsp;&nbsp;<span
              >Contact no. :</span
            >
          </th>
          <td style="padding: 1.5% 0%">{{ instituteDetails?.mobileNumber }}</td>
        </tr>
        <tr>
          <th style="width: 47%; padding: 1.5% 0%">
            <img src="assets/img/h-4.png" alt="" />&nbsp;&nbsp;<span
              >Address :</span
            >
          </th>
          <td style="padding: 1.5% 0%">{{ instituteDetails?.address }}</td>
        </tr>
      </table>
    </ul>

    <!-- <a href="#" class="btn box-btn border-style-medium blue w-100"><i
                class="far fa-plus"></i>Follow</a> -->
  </div>
</div>
