<div class="section-cover fix" id="hero-area">
    <div>
      <a cla ss="logo"
        ><img
          style="height: 80px; width: 150px; margin-left: 20px; margin-top: 20px"
          src="assets/img/logo.png"
          alt=""
          class="img-fluid"
      /></a>
    </div>
    <div>
      <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
      <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
    </div>
  
    <div class="container cs-padding">
      <div class="row">
        <div class="col-md-6">
          <img
            src="../../../assets/images/Login Image.png"
            style="height: 100%; width: 100%"
            alt=""
          />
        </div>
        <!-- ./hero-left-wrapper -->
        <div class="col-md-6">
          <div>
            <div class="section-title">
              <h2>
                <span class="title-pole position-relative">Forgot Password </span>
              </h2>
            </div>
            <form [formGroup]="forgotPasswordForm">
              <div *ngIf="!passwordScreen">
                <div class="mb-3">
                  <label for="exampleInputEmail1 " class="form-label text-dark"
                    >Email</label
                  >
  
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    [disabled]="toggleButton"
                    placeholder="name@example.com"
                  />
                  <div
                    style="text-align: center"
                    *ngIf="
                      (submitted && controls['email'].invalid) ||
                      controls['email'].touched
                    "
                  ></div>
                </div>
                <div *ngIf="!enterOtp" style="text-align: left">
                  <button
                    style="width: 200px"
                    [disabled]="disabledButton"
                    class="btn btn-primary"
                    (click)="sendOtp()"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      *ngIf="loading"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Forgot Password
                  </button>
                </div>
                <div style="color: red">{{ otpResponseMessage }}</div>
                <br />
                <div *ngIf="enterOtp" style="text-align: left" class="mb-3">
                  <label for="exampleInputEmail1" class="form-label text-dark"
                    >Enter Your OTP</label
                  >
  
                  <ng-otp-input
                    (onInputChange)="onOtpChange($event)"
                    [config]="{ length: 4 }"
                  >
                  </ng-otp-input>
                  <br />
                </div>
  
                <div *ngIf="enterOtp" style="text-align: left">
                  <button
                    style="width: 200px"
                    class="btn btn-primary"
                    (click)="confirmOtp()"
                    [disabled]="disabledButton"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      *ngIf="loading"
                      role="status"
                      aria-hidden="true"
                    ></span
                    >Next
                  </button>
                </div>
              </div>
              <div *ngIf="passwordScreen">
                <div class="mb-3">
                  <label for="exampleInputEmail1 " class="form-label text-dark"
                    >New Password</label
                  >
                  <div class="input-group">
                    <input
                      type="newPassword"
                      [type]="password ? 'text' : 'password'"
                      formControlName="new_password"
                      class="form-control"
                      id="exampleFormControlInput1"
                      autocomplete="off"
                    />
                    <div class="input-group-append" (click)="showPassword()">
                      <div class="input-group-text">
                        <span
                          class="fas"
                          [ngClass]="{
                            'fa-eye-slash': !password,
                            'fa-eye': password
                          }"
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1 " class="form-label text-dark"
                    >Confirm Password</label
                  >
                  <div class="input-group">
                    <input
                      type="confirmPassword"
                      [type]="repeatPassword ? 'text' : 'password'"
                      formControlName="confirmpassword"
                      class="form-control"
                      id="exampleFormControlInput1"
                      autocomplete="off"
                    />
                    <div class="input-group-append" (click)="showCPassword()">
                      <div class="input-group-text">
                        <span
                          class="fas"
                          [ngClass]="{
                            'fa-eye-slash': !repeatPassword,
                            'fa-eye': repeatPassword
                          }"
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align: left">
                  <button
                    style="width: 200px"
                    class="btn btn-primary"
                    [disabled]="disabledButton"
                    (click)="changePassword()"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      *ngIf="loading"
                      role="status"
                      aria-hidden="true"
                    ></span
                    >Confirm Password
                  </button>
                </div>
              </div>
            </form>
            <hr />
          </div>
        </div>
      </div>
  
      <div class="d-flex justify-content-end">
        <p style="margin-top: 10px" routerLink="/signup">
          Register Your <span style="color: #008ce4"> Institute/School </span>With
          Us!
        </p>
      </div>
      <div class="d-flex justify-content-start">
        <a> <i></i> Go Back</a>
      </div>
      <img
        src="assets/img/blocks-2.png"
        alt=""
        class="block-2 img-fluid position-absolute"
      />
      <img src="assets/img/sq-2.png" alt="" class="sq-2 position-absolute" />
    </div>
  </div>
  <!-- ./hero-area -->
  