@import url("../../../../../assets/css/bootstrap.min.css");
@import url("../../../../../assets/css/all.min.css");
@import url("../../../../../assets/css/slick.css");
@import url("../../../../../assets/css/nice-select.css");
@import url("../../../../../assets/css/main.css");
@import url("../../../../../assets/css/responsive.css");

.setMargin1 {
  margin: 1% 10% 0% 10%;
}
.justifyContent {
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .setMargin1 {
    margin: 2% 2% 0% 3%;
  }
  .justifyContent {
    justify-content: center;
  }
  .justifyContent1 {
    justify-content: center;
  }
}

.row {
  margin-right: 0%;
}

.plan-card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #007ef2;
}
.title1 {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.subTitle1 {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 14.212px;
  line-height: 21px;
}
.price1 {
  font-weight: 700;
  font-size: 21.5002px;
  line-height: 37px;
}
.discount1 {
  font-weight: 700;
  color: #8491a5;
  font-weight: 700;
  font-size: 9.0426px;
  line-height: 11px;
  //text-decoration-line: line-through;
  color: #8491a5;
}
.button1 {
  font-weight: 700;
  font-size: 11.212px;
  line-height: 17px;
}
.setPadding {
  padding-top: 0% !important;
}
@media screen and (max-width: 772px) {
  .setPadding {
    padding-top: 3% !important;
  }
}
::-webkit-scrollbar {
  width: 0px;
}

.coupon-text-box {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}
.coupon-verify-button {
  margin-left: -50px;
  height: 20px;
  width: 50px;
}

::placeholder {
  color: #8491a5 !important;
}

.setMargin {
  margin-top: 5% !important;
}

@media screen and (max-width: 1400px) {
  .setMargin {
    margin-top: 8% !important;
  }
}

@media screen and (max-width: 800px) {
  .setMargin {
    margin-top: 10% !important;
  }
}

.setCouponMargin {
  margin-top: 0% !important;
}
@media screen and (max-width: 767px) {
  .setCouponMargin {
    margin-top: 5% !important;
  }
}

.screenMargin {
  margin-left: 10% !important;
  margin-right: 8% !important;
}
@media screen and (max-width: 767px) {
  .screenMargin {
    margin-left: 3% !important;
    margin-right: -2% !important;
  }
}
