<div class="card card-custom gutter-b">
    <div class="card-header bg-primary">
        <div class="card-title">
            <h3 class="card-label text-white" style="margin-bottom: -1%;">Term and Conditions</h3>
        </div>
    </div>
    <div class="card-body">

        <form class="form" id="kt_form">

            <ul class="list-group">
                <ul>
                    <li>Downloading applications
                    </li>
                    <li> Installing software</li>
                    <li> Purchasing an airline ticket</li>
                    <li>
                        Shopping online
                    </li>
                    <li>
                        Streaming music on a platform
                    </li>
                    <li>Registering a social media account</li>
                </ul>
            </ul>

        </form>
    </div>

</div>
<div class="card-footer">
    <button type="reset" class="btn btn-secondary active" mat-button mat-dialog-close>
        Cancel
    </button>
</div>