<main class="fix">
    <img
      src="../../../assets/images-marketing/slice4 2.svg"
      alt=""
      class="position-absolute"
      style="
        width: 8%;
        animation: rotation360 20s infinite linear reverse;
        top: 170px;
        left: 7%;
      "
    />
    <img
      src="../../../assets/images-marketing/slice5 1.svg"
      alt=""
      class="position-absolute"
      style="
        width: 4%;
        animation: rotation360 20s infinite linear reverse;
        top: 164px;
        left: 32%;
      "
    />
  
    <div class="text-center" style="padding-top: 150px">
      <img
        src="../../../assets/images-marketing/Group 39281(1).svg"
        alt=""
        class="position-absolute changeTop"
        style="
          width: 8%;
          animation: rotation360 20s infinite linear reverse;
          left: 46.5%;
        "
      />
      <div class="container">
        <img
          src="../../../assets/images-marketing/Mask group.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  
    <!--social contact section here-->
    <section class="social-contact sec-pd">
      <div class="container text-center mb-5">
        <h2 style="color: #007ef2">Social Connect makes it Simple</h2>
        <h2 style="color: #1f1f1f">Professional & Acedmic Networking</h2>
        <p style="color: #4c535d; line-height: 33px">
          Your subscription with NRICH Learning Platform opens the window to the
          world of endless possibilities. FREE access to NRICH Social Connect; the
          Platform to Network, Collaborate and be the Top Influencer in the
          digital world.
        </p>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-sm-6 mb-4">
            <div class="d-flex align-items-center digital-library-card">
              <div class="icon_box">
                <img
                  src="../../../assets/images-marketing/Group add.svg"
                  alt=""
                />
              </div>
              <div>
                <h4>Network</h4>
                <p>Connect to Global Community</p>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6 mb-4">
            <div class="d-flex align-items-center digital-library-card">
              <div class="icon_box">
                <img
                  src="../../../assets/images-marketing/Collections bookmark.svg"
                  alt=""
                />
              </div>
              <div>
                <h4>Promote</h4>
                <p>Free & Ticketed Events</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6 mb-4">
            <div class="d-flex align-items-center digital-library-card">
              <div class="icon_box">
                <img
                  src="../../../assets/images-marketing/Local library.svg"
                  alt=""
                />
              </div>
              <div>
                <h4>Communicate</h4>
                <p>Manage updates from 1 place</p>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6">
            <div class="d-flex align-items-center digital-library-card">
              <div class="icon_box">
                <img src="../../../assets/images-marketing/Star (1).svg" alt="" />
              </div>
              <div>
                <h4>Alerts</h4>
                <p>Gentle nudges to complete tasks</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--social contact section end here-->
  
    <!--the future is here-->
    <section class="future_here_sec sec-pd">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 d-flex align-items-center justify-content-md-start"
          >
            <div class="p-4 pt-0">
              <p style="color: #007ef2; line-height: 28px">
                <b>THE FUTURE IS HERE</b>
              </p>
              <h4 style="line-height: 30px">
                <span style="color: #1f1f1f">The ONLY </span> <br />
                <span style="color: #1f1f1f">Social Media Platform </span> <br />
                <span style="color: #007ef2">Exclusive for </span>
                <span style="color: #1f1f1f; padding-left: 5px"> Education</span>
              </h4>
              <p style="line-height: 25px">
                Connect, Collaborate & be Recognized. Build Communities around
                your Topics Of Interest & Engage Globally.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              style="background: #cce5fc; border-radius: 40px"
              class="d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/social_connect_assets/iphone.svg"
                alt=""
                class="img-fluid phone_img"
              />
            </div>
          </div>
          <div
            class="col-md-4 d-flex align-items-center justify-content-md-center"
          >
            <div class="p-4 pb-0 w-100">
              <img
                src="../../../assets/social_connect_assets/Conquer the world Social Connect makes it Simple.svg"
                alt=""
              />
              <br />
              <button
                class="btn text-white mt-3"
                style="background: #007ef2; border-radius: 22.3963px"
                [routerLink]="authService.isLoggin() ? '/' : '/login'"
              >
                Connect
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--the future end here-->
  
    <!--the learn and grow sec here-->
    <section class="learn_grow_sec sec-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img
              src="../../../assets/social_connect_assets/teacher_learn_grow.svg"
              class="img-fluid phone_img"
            />
          </div>
  
          <div class="col-md-7">
            <h3 style="line-height: 35px; color: #1f1f1f">
              Social Connect is more than FUN
              <span style="color: rgba(0, 126, 242, 1)">
                Teach, Learn & Grow</span
              >
            </h3>
            <p style="line-height: 21px; color: #4c535d; padding-bottom: 5%">
              The perfect opportunity to build your own community for Academic
              Excellence and Peer to Peer Discussions.
            </p>
            <div class="row" style="padding-bottom: 4%">
              <div class="col-md-2">
                <img
                  src="../../../assets/social_connect_assets/graduation_cap_icon.svg"
                  alt=""
                />
              </div>
              <div class="col-md-10">
                <h3 style="line-height: 45px; color: #8491a5">
                  Workshops & Seminar
                </h3>
                <p style="color: #4c535d; line-height: 21px">
                  Manage discussion groups built around topics that you are
                  passionate
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img
                  src="../../../assets/social_connect_assets/start_icon.svg"
                  alt=""
                />
              </div>
              <div class="col-md-10">
                <h3 style="line-height: 45px; color: #8491a5">
                  Ticketing Events
                </h3>
                <p style="color: #4c535d; line-height: 21px">
                  Conduct Programs around your expertise and market those events
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--the learn and grow sec end here-->
  
    <!--stats sec here-->
    <section class="stats_sec">
      <div class="container">
        <div class="box-1" style="min-height: 170px">
          <div class="row">
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">1,000+</div>
              <div class="box-1-text2">Hours/Day</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">15,000</div>
              <div class="box-1-text2">Downloads</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">500+</div>
              <div class="box-1-text2">Teachers</div>
            </div>
            <div class="col-md-3" style="margin-top: 2%">
              <div class="box-1-text mt-1">1M+</div>
              <div class="box-1-text2">Screen Time</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!--stats sec end here-->
  
    <!--brand powerfull here-->
    <section class="brand-prowefull sec-pd">
      <div style="position: relative">
        <img
          src="../../../assets/images-marketing/Ellipse_10.svg"
          style="width: 100%; position: absolute"
          alt=""
        />
  
        <div
          class="row text-center"
          style="position: relative; padding: 6% 20% 2% 20%"
        >
          <h3 style="line-height: 45px; color: #1f1f1f; padding-top: 45px">
            Tools that make your <br />
            <span style="color: #007ef2">Brand Powerful</span>
          </h3>
          <p style="color: #8491a5; line-height: 21px">
            Reduce the noise and clear the clutter. Our simple and focussed User
            Experience will make your Brand stand.
          </p>
        </div>
  
        <div class="row" style="position: relative">
          <div class="col-md-4" style="padding: 5%">
            <div class="row" style="padding: 8% 2%">
              <div class="col-8 alignItems">
                <h4 style="color: #8491a5">News Feed</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Curated topics bring the news as it is happening
                </p>
              </div>
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/news.png"
                  style="width: 70px"
                  alt=""
                />
              </div>
            </div>
            <div class="row" style="padding: 8% 2%">
              <div class="col-8 alignItems">
                <h4 style="color: #8491a5">Chat</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Respond to requests without getting distracted
                </p>
              </div>
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/chat.svg"
                  style="width: 70px"
                  alt=""
                />
              </div>
            </div>
            <div class="row" style="padding: 8% 2%">
              <div class="col-8 alignItems">
                <h4 style="color: #8491a5">Groups</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Manage Groups & discuss that excite your Passion
                </p>
              </div>
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/contacts.svg"
                  style="width: 70px"
                  alt=""
                  class="phone_img"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <img
              src="../../../assets/social_connect_assets/Flying iPhone X Mockups 1.svg"
              alt=""
              style="max-width: 100%"
            />
          </div>
          <div class="col-md-4" style="padding: 5%">
            <div class="row" style="padding: 8% 2%">
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/polls.svg"
                  style="width: 70px"
                  alt=""
                />
              </div>
              <div class="col-8">
                <h4 style="color: #8491a5">Polls & Survey</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Keep your audience engaged with Quizzes and Trivia
                </p>
              </div>
            </div>
            <div class="row" style="padding: 8% 2%">
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/video.svg"
                  style="width: 70px"
                  alt=""
                />
              </div>
              <div class="col-8">
                <h4 style="color: #8491a5">Presentations</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Showcase your Papers and Presentations to the world
                </p>
              </div>
            </div>
            <div class="row" style="padding: 8% 2%">
              <div class="col-4">
                <img
                  src="../../../assets/social_connect_assets/contacts.svg"
                  style="width: 70px"
                  alt=""
                />
              </div>
              <div class="col-8">
                <h4 style="color: #8491a5">Connect</h4>
                <p style="color: #8491a5; line-height: 25px">
                  Collaborate with Top Universities across the Globe
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--brand powerfull end here-->
  
    <!--be the leader section-->
    <section class="be_leader_sec">
      <div class="container">
        <div class="row" style="position: relative; padding: 2% 12%">
          <div class="col-md-6">
            <h2 style="color: rgba(0, 126, 242, 1)">Be The Leader</h2>
            <h2 style="color: #1f1f1f">The world will follow</h2>
          </div>
          <div class="col-md-6">
            <p style="line-height: 32px; color: #4c535d">
              Earn Recognition and Badges to your Profile. The more you answer
              user questions, the more you showcase your achievements your profile
              will earn the Ultimate Crown as the Leader.
            </p>
          </div>
        </div>
  
        <div class="row" style="position: relative; padding: 2% 8%">
          <div class="col-md-4">
            <img
              src="../../../assets/social_connect_assets/across_all_devices.svg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../../../assets/social_connect_assets/seamless.svg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../../../assets/social_connect_assets/smart.svg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>
    <!--be the leader end section-->
  
    <!--the window to the world sec-->
    <section
      class="sec-pd world_window"
      style="position: relative; background: #ffff"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              src="../../../assets/images-marketing/whatsapp Status 1.svg"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div>
              <h2 style="padding-bottom: 2%; padding-top: 5%; color: #1f1f1f">
                The Window to the World
              </h2>
              <p style="line-height: 28px; padding-bottom: 5%">
                From whats happening in the communities to launching your Virtual
                Conferences, get everything to make the world listen to you.
              </p>
              <button
                class="btn text-white"
                style="background: #007ef2"
                [routerLink]="authService.isLoggin() ? '/' : '/login'"
              >
                START TODAY
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--the window to the world end sec-->
  
    <div
      class="row"
      style="position: relative; background: white; padding: 2% 5%"
    >
      <div style="text-align: center">
        <h1>
          <span style="color: rgba(0, 126, 242, 1)"
            >Driving Passion & Excellence <br
          /></span>
        </h1>
        <h1 style="color: #1f1f1f">through Exciting Communities</h1>
      </div>
      <app-blogs></app-blogs>
    </div>
  
    <section class="social_contect_sec">
      <div class="container">
        <div class="row" style="padding: 8% 8%; position: relative">
          <div class="card ng" style="border: 0px">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="ng-img"
                    src="../assets/images-marketing/iPad Pro (11 inch) Mockup.svg"
                    alt=""
                  />
                </div>
                <div class="col-md-8" style="padding: 5%">
                  <div class="tu">Travel the world</div>
                  <div class="b-t">
                    Socially Connect
                    <span style="color: rgba(0, 126, 242, 1)">
                      to WIN the World</span
                    >
                  </div>
                  <div class="ap2-t mt-4">
                    Teach, Learn, Earn & make Fun all from ONE Platform. Don’t
                    need to sign in different channels for different reasons.
                  </div>
                  <div class="mt-2">
                    <button
                      class="btn btn-primary"
                      style="color: white; background: rgba(0, 126, 242, 1)"
                      [routerLink]="authService.isLoggin() ? '/' : '/login'"
                    >
                      Start Today
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  