<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">
      <div class="t-h">
        Enrich the community
        <div class="title-pole">with Nrich</div>
        <span class="title-pole position-relative" style="padding-left: 0.6%"
          >Learning
          <img
            class="text-btm-line position-absolute"
            src="assets/img/line-1.png"
            alt=""
        /></span>
      </div>
      <div class="a-t-center text-center" style="padding-top: 2%">
        <div class="t-black1">
          In the age of ecommerce, people purchase online. Why should your
          teaching skills and services be left behind? Enrich the community with
          your skills. Become a Teacher with NRICH.
        </div>
      </div>
      <div class="text-center mt-2" style="padding: 60px">
        <img
          src="../assets/images-marketing/3-tabes.svg"
          style="max-width: 1068px"
          class="w-100 h-100"
          alt="online teaching hero"
        />
      </div>
    </div>
  
    <div
      class="section-cover fix"
      id="course-area"
      style="background-color: white; padding-top: 8%"
    >
      <div class="course-area position-relative" style="padding: 0px">
        <img
          src="assets/img/slice-1.png"
          alt="teaching profile course online"
          class="slice-1 position-absolute"
        />
        <div class="container" style="max-width: 95%">
          <div
            style="
              background-image: url(../assets/images-marketing/Doodle\ Set\ 2.svg);
              padding: 3%;
            "
          >
            <div>
              <div class="section-title text-center">
                <h3>
                  1 Subscription that takes you to
                  <span class="title-pole"> GLOBAL </span>
                  <span
                    class="title-pole position-relative"
                    style="padding-left: 0.5%"
                  >
                    STANDARDS
                    <img
                      class="text-btm-line position-absolute"
                      src="assets/img/line-1.png"
                      alt=""
                  /></span>
                </h3>
                <div class="ms-t" style="padding-top: 0.5% 21%">
                  Unlock the value out of your teaching expertise. Teach your
                  students in a better & efficient way. NRICH Learning is the
                  platform that elevates your potential to a Global Scale & create
                  wealth. NRICH Learning is the only education portal that
                  position your business stand tall against your competitors.
                </div>
              </div>
            </div>
            <img
              src="../assets/images-marketing/gr.svg"
              style="width: 100%; height: 100%"
              alt="teaching profile course online"
            />
          </div>
        </div>
      </div>
    </div>
  
    <div class="bg-blueliner">
      <div class="row">
        <div class="col-md-6">
          <img
            src="../assets/images-marketing/left-img-cal.svg"
            class="img-s1"
            alt="online teacher profile"
          />
        </div>
        <div class="col-md-6">
          <div class="all-set-center">
            <div class="mt-4">
              <div class="right-fshort">Courses</div>
              <div class="right-fshort1">
                Easily create the courses that you like to teach with simple and
                intuitive up-load options
              </div>
            </div>
            <div class="mt-4">
              <div class="right-fshort">Choices</div>
              <div class="right-fshort1">
                Manage Offline process with our Tools and Go Online with our
                Platform
              </div>
            </div>
            <div class="mt-4">
              <div class="right-fshort">Community</div>
              <div class="right-fshort1">
                Share your expertise targeted to the right student audience and
                start teaching
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background: #f6fcff; margin-top: 5%">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-4">
            <h3>
              Success in
              <span class="title-pole position-relative"
                >3 Steps
                <img
                  class="text-btm-line position-absolute"
                  src="assets/img/line-1.png"
                  alt=""
              /></span>
            </h3>
          </div>
          <div class="col-md-6">
            <p class="text-3box2">
              Our focus is on making education & its intrinsic ability to build
              impacting results. NRICH is <b>Simple</b> enough so you can use them
              in a <b>Powerful</b> way to be the <b>Leader</b>.
            </p>
          </div>
        </div>
      </div>
      <div style="margin-left: 2%; margin-right: 2%; padding: 5%">
        <img
          src="../../../assets/images-marketing/simplePowerfullLeader.svg"
          style="width: 100%"
          alt="connect teacher online,smart course listing,course categories listing"
        />
      </div>
      <!-- <div class="container ">
              <div class="row mt-5">
                  <div class="col-md-5">
                      <div class="text-3box">
                          Success in <span style="color: rgba(0, 126, 242, 1);">3 Steps</span>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="text-3box2">
                          NRICH Learning pltform is built with user sentiments in mind. Our Focus is to make Education and
                          the intrinsic Learning experience make you The Powerful Leader in Simple steps.
                      </div>
                  </div>
              </div>
              <div class="row mt-4">
                  <div class="col-md-4">
                      <div class="tex-center set-boxofcard">
                          <img src="../assets/images-marketing/benifitsbox1.svg" class="m-img-h" alt="">
                          <div class="box1text mt-2">SIMPLE PROCESS</div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="tex-center set-boxofcard">
                          <img src="../assets/images-marketing/benifitsbox2.svg" class="m-img-h" alt="">
                          <div class="box1text mt-2">POWERFUL METHOD</div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="tex-center set-boxofcard">
                          <img src="../assets/images-marketing/benifitsbox3.svg" class="m-img-h" alt="">
                          <div class="box1text mt-2">LEADERS TO BECOME</div>
                      </div>
                  </div>
              </div>
          </div> -->
    </div>
  
    <div class="bg-white">
      <div class="row" style="padding: 2% 9%">
        <div class="col-md-6">
          <div class="internship-t1">TIME TO JOIN</div>
          <div class="internship-t2">NRICH Partnership</div>
          <div class="internship-t3">
            Reach-out to the largest student community
          </div>
          <div>
            <img
              class="img-fluid"
              src="../../../assets/images-marketing/nrich_partnership.svg"
              alt=""
            />
          </div>
          <button
            [routerLink]="authService.isLoggin() ? '/' : '/login'"
            class="btn btn-lg"
            style="
              background: #007ef2;
              color: white;
              margin-top: 5%;
              border-radius: 13.3617px;
            "
            type="button"
          >
            Start Today
          </button>
        </div>
        <div class="col-md-6" style="text-align: center">
          <img
            class="img-fluid"
            src="../assets/images-marketing/Kindergarten student-pana.svg"
            alt="whiteboard"
          />
        </div>
      </div>
      <!-- <div class="container">
              <div class="row">
                  <div class="col-md-6 mt-5">
                      <div class="internship-t1 ">
                          TIME TO JOIN
                      </div>
                      <div class="internship-t2 ">
                          NRICH Partnership
                      </div>
                      <div class="internship-t3 ">
                          Reach-out to the largest student community
                      </div>
                      <div class="row">
                          <div class="internship-t5">
                              Are You A ?
                          </div>
                          <div>
  
                              <div class="internship-t4 mt-2">
                                  Teacher
  
                              </div>
                              <div class="mt-2">
                                  <span class="internship-t4"> School</span> &nbsp; &nbsp; <span class="internship-t4">
                                      Trainer</span>
  
                              </div>
  
                              <div class="mt-2">
                                  <span class="internship-t4"
                                      style="color:rgba(0, 126, 242, 1) ; text-decoration: underline; text-decoration-color: rgba(0, 126, 242, 1);">
                                      Coaching center </span> &nbsp;&nbsp; <span class="internship-t4"> Home Tutor</span>
  
                              </div>
                              <div class="mt-2">
                                  <button class="btn btn-primary" style="color:white;background-color:#007EF2;;"> Start
                                      Today</button>
                              </div>
  
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 mt-5">
                      <img src="../assets/images-marketing/Kindergarten student-pana.svg" alt="">
                  </div>
              </div>
          </div> -->
      <div class="row" style="padding: 2% 5%">
        <div class="col-md-12 text-center">
          <h1 style="color: #8491a5">
            Say Good-bye to the pain of Marketing.
            <br />
            NRICH Learning takes your teaching Global
          </h1>
        </div>
        <div class="col-md-4">
          <div
            style="
              box-shadow: 10px 10px 5px lightgray;
              padding: 5%;
              border-radius: 24px;
            "
          >
            <img
              src="../assets/images-marketing/3box-publish.svg"
              class="w-100 h-100"
              alt="social profile"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div
            style="
              box-shadow: 10px 10px 5px lightgray;
              padding: 5%;
              border-radius: 24px;
            "
          >
            <img
              src="../assets/images-marketing/Group 39377(1).svg"
              class="w-100 h-100"
              alt="online dashboard"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div
            style="
              box-shadow: 10px 10px 5px lightgray;
              padding: 5%;
              border-radius: 24px;
            "
          >
            <img
              src="../assets/images-marketing/Group 39378(1).svg"
              class="w-100 h-100"
              alt="LMS"
            />
          </div>
        </div>
      </div>
      <div class="row" style="padding: 2% 5%">
        <div class="col-md-5 mt-2">
          <h1 style="color: #007ef2">Why List with NRICH ?</h1>
        </div>
        <div class="col-md-7">
          <div class="l-n-text">
            Powerful & Affordable platform with Premium Benefits. FREE Tools &
            Technology to make you the Winner & Leader. Become the Successful new
            age Edu-Tech Entrepreneur.
          </div>
        </div>
        <div class="col-md-12">
          <img
            src="../assets/images-marketing/btn-set.svg"
            style="width: 100%"
            alt=""
          />
        </div>
      </div>
      <!-- <div class="container">
              <div class="row mt-5">
                  <div class="col-md-5 mt-5">
                      <h1 style="color: #007EF2; ">Why List with NRICH ?</h1>
                  </div>
                  <div class="col-md-7">
                      <div class="l-n-text">Powerful & Affordable platform with Premium Benefits.
                          FREE Tools & Technology to make you the Winner & Leader.
                          Become the Successful new age Edu-Tech Entrepreneur.</div>
                  </div>
              </div>
              <div class="mt-5">
                  <img src="../assets/images-marketing/btn-set.svg" style="max-height: 769px;" alt="">
              </div>
  
          </div> -->
    </div>
    <div class="bg-white">
      <div class="choose-area">
        <div class="container">
          <app-carousel1></app-carousel1>
        </div>
      </div>
    </div>
    <div class="institue-area gray-bg position-relative">
      <img src="assets/img/wave-1.png" alt="" class="wave-1 position-absolute" />
      <img src="assets/img/wave-2.png" alt="" class="wave-2 position-absolute" />
      <div class="container cs-padding z-index-1">
        <div class="section-title">
          <h2>
            Learn With<br />
            <span class="title-pole sign position-relative">
              Leading Institutes</span
            >
          </h2>
        </div>
        <div class="text-end mb-4">
          <a routerLink="/institute-list" class="link_w_icon"
            >View All Institues<i class="far fa-arrow-right"></i
          ></a>
        </div>
        <app-institute-slider [institutes]="insituteList"></app-institute-slider>
      </div>
    </div>
  
    <app-faq [selectedValue]="selectedValue"></app-faq>
  
    <div class="section-cover" id="apply-area">
      <div class="ins-area fix bg-white">
          <div class="container type-2 cs-padding">
              <div class="row ins-row-type-three">
                  <div class="col-md-6 mt-2 ins-el-box position-relative">
                      <img class="img-fluid position-absolute bottom-0 ins-t-1" src="assets/img/nb-1.png" alt="">
                      <div class="ins-element blue">
                          <div class="ins-el-inner">
                              <h5>Become An Instructor</h5>
                              <p>Promote your teaching skills & publish your<br><b>profile in our Directory</b></p>
                              <a [routerLink]="['/connect-with-learning']" class="btn box-btn fill-white small round-60"><i
                                      class="far fa-plus-circle"></i>Apply
                                  Now</a>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-md-6 mt-2 ins-el-box position-relative">
                      <img class="img-fluid position-absolute bottom-0 ins-t-1 two" src="assets/img/nb-2.png" alt="">
                      <div class="ins-element green">
                          <div class="ins-el-inner">
                              <h5>Register Your Institute</h5>
                              <p>Advertise your Institute in our Marketplace and<br><b>get more Students</b></p>
                              <a [routerLink]="['/login']" class="btn box-btn fill-white small round-60"><i
                                      class="far fa-plus-circle"></i>Register Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- ./ins-area -->
  </div>
  </main>
  