<div class="section-cover fix" id="category-area">
    <div class="category-area gray-bg position-relative">
      <img
        src="assets/img/blocks-1.png"
        alt=""
        class="block-1 img-fluid position-absolute"
      />
      <img
        src="assets/img/blocks-2.png"
        alt=""
        class="block-2 img-fluid position-absolute"
      />
      <div class="container cs-padding z-index-1">
        <div class="title-wrap">
          <div class="section-title">
            <h2>
              Search <br />
              <span class="title-pole sign position-relative">made simple</span>
            </h2>
          </div>
  
          <a (click)="viewAll()" class="link_w_icon"
            >View All Categories<i class="far fa-arrow-right"></i
          ></a>
        </div>
        <div class="category-g-wrapper" style="grid-gap: 12px">
          <a
            class="d-block category-item"
            *ngFor="let category of categories; let i = index"
            [routerLink]="['/categories/subCategories']"
            [queryParams]="{
              id: category?.idCourseCategory,
              name: category?.categoryName
            }"
          >
            <div *ngIf="i < 9" class="category-item-nr">
              <div class="cat-icon">
                <img
                  style="
                    width: 3.5em;
                    height: auto;
                    margin: auto;
                    background-color: white;
                    fill: none;
                  "
                  [attr.src]="category?.categoryImagePath"
                />
              </div>
              <div class="cat-content">
                <h6>{{ category.categoryName }}</h6>
              </div>
            </div>
          </a>
        </div>
  
        <div class="row">
          <div
            *ngFor="let banner of banners"
            class="col-md-6 item"
            style="padding-top: 5%"
            (click)="redirect(banner)"
          >
            <img
              [src]="banner.bannerImage"
              style="border-radius: 10px"
              width="100%"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  