@import url("../../../../assets/css/bootstrap.min.css");
@import url("../../../../assets/css/all.min.css");
@import url("../../../../assets/css/slick.css");
@import url("../../../../assets/css/nice-select.css");
@import url("../../../../assets/css/main.css");
@import url("../../../../assets/css/responsive.css");

.image-dimensions {
  height: 180.0431671142578px;
  width: 291px;
  left: 840px;
  top: 1432px;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover {
  cursor: pointer;
}

.svg{
  background-color: white;
}
@media screen and (max-width: 767px){
  .category-g-wrapper{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
  .category-g-wrapper{
    grid-template-columns: 1fr;
    }
}


