<div class="faq-area gray-bg" *ngIf="faq.length > 0">
  <div class="container cs-padding z-index-1">
    <div class="section-title">
      <h2>
        Frequently Asked Questions
        <span class="title-pole sign position-relative">( FAQ’s )</span>
      </h2>
    </div>
    <div class="accordion" id="accordionExample">
      <div
        class="accordion-item border-0"
        *ngFor="let item of faq; let i = index"
      >
        <button
          [ngClass]="item.expand == true ?'accordion-button' :'collapsed' "
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse"
          aria-controls="collapseOne"
          (click)="item.expand = !item.expand"
        >
          {{ item.question }}
        </button>
        <div
          id="collapseOne"
          [@collapse]="item.expand"
          [ngClass]="item.expand == true ? 'show Collapsing' : ''"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            {{ item.answer }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
