@import url("../../../assets/css/bootstrap.min.css");
@import url("../../../assets/css/all.min.css");
@import url("../../../assets/css/slick.css");
@import url("../../../assets/css/nice-select.css");
@import url("../../../assets/css/main.css");
@import url("../../../assets/css/responsive.css");
.full {
  width: 100%;
  background: blue;
  background-repeat: no-repeat;
  background-size: 100% 800px;
}
.appd {
  background: blue;
  background-repeat: no-repeat;
  background-size: 100% 400px;

  position: relative;
}
.left1 {
  float: left;
  height: fit-content;
  width: 70%;
}
.right1 {
  float: right;
  height: fit-content;
  width: 30%;
}
.ap1-t {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  text-align: center;

  color: #000000;
}
.ap2-t {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* or 189% */

  font-feature-settings: "salt" on, "liga" off;

  color: #4c535d;
}
.ap3-t {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  /* Black */

  color: #1f1f1f;
}
.cardofback {
  //    box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px -18px 40px rgba(0, 0, 0, 0.06);
  border-radius: 80px 80px 0px 0px;
}
.cardbodyofback {
  padding-top: 6%;
  margin: 0% 8%;
  // margin-top: 120px;
  // margin-left: 10%;
  // margin-right: 10%;
}
.t1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  /* Black */

  color: #1f1f1f;
}
.al {
  display: flex;
  align-items: stretch;
}
.ap4-t {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  color: #000000;
}
.ic {
  width: 115px;
  height: 115px;
}
.bg {
  background: rgba(0, 126, 242, 0.1);
  border-radius: 22px;
}
.tu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.23em;
  text-transform: uppercase;

  /* light grey */

  color: #8491a5;
}
.b-t {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;

  color: #000000;
}
.ng {
  background: rgba(0, 126, 242, 0.1);
  border-radius: 22px;
}
.ng-img {
  margin-bottom: -100px;
  margin-top: -70px;
  width: 100%;
}
.set-first-card {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;

  background: linear-gradient(94.38deg, #008ce4 -1.08%, #00af9e 96.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.first-card-large-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* or 189% */

  font-feature-settings: "salt" on, "liga" off;

  color: #4c535d;
}


.package_feature_slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: transparent;
  grid-row-gap: 10%;
  margin: 10% 0 8% 0;
}

.package_feature_slide .nav-link.active {
  background: transparent;
}

.package_feature_slide .nav-link.active svg {
  border: 1px solid #ffaa2b;
  border-radius: 100%;
}

.package_feature_slide .nav-link.active svg path {
  fill: #ffaa2b;
}

@media screen and (max-width: 900px) {
  .ng-img {
    height: 100%;
    margin-top: 0px;
    width: 100%;
  }
  .ng {
    background: rgba(0, 126, 242, 0.1);
    border-radius: 22px;
    max-height: 100%;
  }
}

.ins-t-1 {
  right: 2%;
  top:0%;
  max-height: 100%;
  width: 100%;
  border-radius: 0 16px 16px 0
}
@media screen and (max-width: 767px) {
  .ins-t-1 {
    right: 4%;
    top:0%;
    max-height: 100%;
    width: 100%;
    border-radius: 0 16px 16px 0
  }
}
.ins-row-type-three {
  grid-template-columns: 1fr 1fr;
}

.ins-element.red {
  background: -o-linear-gradient(358.96deg, #fc6767 48.38%, rgba(255, 127, 127, 0.14) 68.71%);
  background: linear-gradient(91.04deg, #fc6767 48.38%, rgba(255, 127, 127, 0.14) 68.71%);
}

.ins-element.red a {
  color: #fc6767;
}

.setBoxSize{
  padding-top: 100px;
}

@media screen and (max-width: 390px){
  .setBoxSize{
    padding-top: 22px;
  }
}

@media screen and (max-width: 767px){
  .setBoxSize{
    padding-top: 65px;
  }
}
