.correctAnswer {
    background-color: rgb(49, 201, 49);
    color: white;
    border-radius: 8px;
  }
  .wrongAnswer {
    background-color: rgb(226, 61, 61);
    color: white;
    border-radius: 8px;
  }
  