<h1 mat-dialog-title>Pricing Plan</h1>
<div class="mat-typography" mat-dialog-content>
  <div class="card-body">
    <form [formGroup]="createPlanForm">
      <div class="row">
        <div class="col-md-4 mt-2">
          <label>Plan Name<span class="text-danger">*</span></label>
          <input
            type="text"
            placeholder="Plan Name"
            formControlName="pricingPlanName"
            class="form-control"
          />
          <div *ngIf="submitted && form['pricingPlanName']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['pricingPlanName']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label name="planType"
            >Plan Type<span class="text-danger">*</span></label
          >
          <select formControlName="type" class="form-control">
            <option value="" disabled>Select Value</option>
            <option value="starter">Starter</option>
            <option value="tutor">Tutor</option>
            <option value="institute">Institute</option>
            <option value="enterprise">Enterprise</option>
          </select>
          <div *ngIf="submitted && form['frequency']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['frequency']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2">
          <label name="planType"
            >Frequency<span class="text-danger">*</span></label
          >
          <select formControlName="frequency" class="form-control">
            <option value="">Select Value</option>
            <option value="annual">Annual</option>
            <option value="monthly">Monthly</option>
          </select>
          <div *ngIf="submitted && form['frequency']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['frequency']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>Price<span class="text-danger">*</span></label>
          <input
          type="number"
            min="0"
            placeholder="price"
            formControlName="price"
            class="form-control"
          />
          <div *ngIf="submitted && form['price']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['price']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['price']?.errors?.['min']"
            >
              Negative value not allowed.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>Price After Discount Offered(in absolute terms)</label>
          <input
            type="number"
            value="0"
            placeholder="Price After Discount Offered"
            formControlName="discountPrice"
            class="form-control"
          />
            <div
              class="text-danger"
              *ngIf="createPlanForm?.errors?.['inValidDiscountPrice']"
            >
              Invalid Discounted Price
            </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>Start Date</label>
          <input
            type="date"
            [min]="minDate"
            value="0"
            placeholder="startDate
                    "
            formControlName="startDate"
            class="form-control"
          />

          <div *ngIf="submitted && form['startDate']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['startDate']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>End Date</label>
          <input
            type="date"
            value="0"
            [min]="minDate"
            placeholder="Discount Price"
            formControlName="endDate"
            class="form-control"
          />
          <div *ngIf="submitted && form['endDate']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['endDate']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
          <!-- <div *ngIf="form['discountPrice'].invalid && form['discountPrice'].touched">
                        <div class="text-danger" *ngIf="form['discountPrice']?.errors.['required']">
                            Above Field Is ['required'].
                        </div>
                    </div> -->
        </div>
        <div class="col-md-4 mt-2">
          <label>Allowed Students<span class="text-danger">*</span></label>
          <input
            type="number"
            min="0"
            placeholder="Allowed Students"
            formControlName="allowedStudents"
            class="form-control"
          />
          <div *ngIf="submitted && form['allowedStudents']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['allowedStudents']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
            class="text-danger"
            *ngIf="form['allowedStudents']?.errors?.['min']"
          >
            Negative value not allowed.
          </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>Allowed Teachers<span class="text-danger">*</span></label>
          <input
            type="number"
            min="0"
            placeholder="Allowed Teachers"
            formControlName="allowedTeachers"
            class="form-control"
          />
          <div *ngIf="submitted && form['allowedTeachers']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['allowedTeachers']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['allowedTeachers']?.errors?.['min']"
            >
             Negative value not allowed.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label
            >Allowed Storage(in GigaBytes)<span class="text-danger"
              >*</span
            ></label
          >
          <input
            type="number"
            min="0"
            placeholder="Allowed Storage"
            formControlName="allowedStorage"
            class="form-control"
          />
          <div *ngIf="submitted && form['allowedStorage']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['allowedStorage']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['allowedStorage']?.errors?.['min']"
            >
              Negative value not allowed.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label
            >Allowed Concurrent Classes<span class="text-danger">*</span></label
          >
          <input
            type="number"
            min="0"
            placeholder="Allowed Storage"
            formControlName="allowedConcurrentClasses"
            class="form-control"
          />
          <div *ngIf="submitted && form['allowedConcurrentClasses']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['allowedConcurrentClasses']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['allowedConcurrentClasses']?.errors?.['min']"
            >
              Negative value not allowed.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>Display Order<span class="text-danger">*</span></label>
          <input
            type="number"
            min="0"
            placeholder="Display Order"
            formControlName="displayOrder"
            class="form-control"
          />
          <div *ngIf="submitted && form['displayOrder']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['displayOrder']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['displayOrder']?.errors?.['min']"
            >
             Negative value not allowed
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label>No. Of Days<span class="text-danger">*</span></label>
          <input
            type="number"
            min="0"
            placeholder="No Of Days"
            formControlName="noOfDays"
            class="form-control"
          />
          <div *ngIf="submitted && form['noOfDays']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['noOfDays']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
            <div
              class="text-danger"
              *ngIf="form['noOfDays']?.errors?.['min']"
            >
              Negative value not allowed.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label name="planType"
            >Zoom SDK (Included)<span class="text-danger">*</span></label
          >
          <select formControlName="zoomAllowed" class="form-control">
            <option value="" disabled selected>Select Value</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <div *ngIf="submitted && form['zoomAllowed']?.invalid">
            <div
              class="text-danger"
              *ngIf="form['zoomAllowed']?.errors?.['required']"
            >
              Above Field Is required.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <label name="planType"
            >Select SAC Code<span class="text-danger">*</span></label
          >
          <select formControlName="sac" class="form-control">
            <option value="" disabled selected>Select SAC Code</option>
            <option *ngFor="let sac of data.sacCodes" [value]="sac">
              {{ sac }}
            </option>
          </select>
          <div *ngIf="submitted && form['sac']?.invalid">
            <div class="text-danger" *ngIf="form['sac']?.errors?.['required']">
              Above Field Is required.
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div><h3>Add More Features</h3></div>
        <div class="card-body">
          <div
            formArrayName="features"
            *ngFor="let a of getControls(); let i = index"
          >
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-md-6">
                  <label
                    >Feature Description<span class="text-danger"
                      >*</span
                    ></label
                  >
                  <textarea
                    rows="1"
                    placeholder="Feature Description"
                    formControlName="featureDescription"
                    class="form-control"
                  ></textarea>
                  <div *ngIf="submitted && a?.invalid">
                    <div class="text-danger">Above Field Is required.</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Display Order<span class="text-danger">*</span></label>
                  <input
                    type="number"
                    min="0"
                    placeholder="Display Order"
                    formControlName="displayOrder"
                    class="form-control"
                  />
                  <div *ngIf="submitted && a?.invalid">
                    <div class="text-danger">Above Field Is invalid.</div>
                  </div>
                </div>
                <div class="col-md-3" style="margin-top: 2em">
                  <mat-icon (click)="delete(i)">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" (click)="addFeatures()">
            Add Features
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary mr-2" (click)="createPlan()">Submit</button
  >&nbsp;
  <button
    class="btn btn-secondary"
    (click)="close()"
    mat-button
    mat-dialog-close
  >
    Cancel
  </button>
</div>
