<div
  class="course-active gap-35 slider_shadow arw-design right_shadow_active slick-initialized slick-slider"
>
  <button
    type="button"
    class="slick-prev slick-arrow"
    aria-disabled="true"
    (click)="prev()"
  >
    <i class="far fa-angle-left"></i>
  </button>

  <div class="slick-list draggable">
    <div class="slick-track">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
      >
        <div
          ngxSlickItem
          class="course-item slick-slide slick-current slick-active"
          tabindex="0"
          data-slick-index="0"
          aria-hidden="false"
          *ngFor="let slide of slides"
        >
          <div class="row">
            <div class="col-sm-5" style="padding: 5%">
              <img [src]="slide.img" class="img-fluid" alt="" />
            </div>
            <div class="col-sm-7" style="padding: 10% 5% 8% 0%">
              <h2 style="line-height: 45px; padding-bottom: 2%; color: #007ef2">
                {{ slide.title }}
              </h2>
              <p style="line-height: 25px; padding-bottom: 2%; color: #4c535d">
                {{ slide.description }}
              </p>
              <h6 style="line-height: 35px; color: #8491a5">
                {{ slide.subTitle }}
              </h6>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <button
    type="button"
    (click)="next()"
    class="slick-next slick-arrow"
    style="display: block"
    aria-disabled="false"
  >
    <i class="far fa-angle-right"></i>
  </button>
</div>
