<div
  class="section-cover textdec"
  id="hero-area"
  style="background-color: white"
>
  <div class="hero-area fix position-relative">
    <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
    <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
    <div class="container cs-padding">
      <div class="hero-g-wrapper">
        <div class="hero-left-content">
          <div class="section-title">
            <h2>
              Aspire to Learn
              <span class="title-pole">Anything,&nbsp;</span
              ><span class="title-pole position-relative"
                >Anywhere
                <img
                  class="text-btm-line position-absolute"
                  src="assets/img/line-1.png"
                  alt=""
              /></span>
            </h2>
          </div>
          <p>
            Browse Directory, Choose your Course & Enroll <br />
            Sign-up for <strong class="title-pole">FREE Demo</strong>
          </p>

          <form class="search position-relative">
            <button class="btn box-btn fill-blue position-absolute">
              SEARCH
            </button>
            <input
              (keyup)="search($event)"
              type="text"
              placeholder="Type any subject or course......"
            />
            <ul
              *ngIf="searchRes"
              class="suggetions position-absolute global-search-dropdown-alignment"
            >
              <ng-container *ngFor="let element of searchRes | keyvalue">
                <ol>
                  <div class="d-flex justify-content-between">
                    <b> {{ element.key | uppercase }}</b>
                    <a
                      [routerLink]="
                        element.key.toString() == 'courses'
                          ? '/course-list'
                          : element.key.toString() == 'institutions'
                          ? '/institute-list'
                          : '/educator-list'
                      "
                      [queryParams]="
                        element.key.toString() == 'courses'
                          ? { search: 'allCourses', name: searchedText }
                          : { name: searchedText }
                      "
                      >View All</a
                    >
                  </div>
                  <li
                    *ngFor="let res of element.value"
                    (click)="redirect(res.type, res.id, res.name)"
                  >
                    <a> {{ res.name }}</a>
                  </li>
                </ol>
              </ng-container>
            </ul>
          </form>
          <div class="learners-wrap d-flex align-items-center">
            <div class="learners-faces d-flex align-items-center">
              <img src="assets/img/st-1.png" alt="" />
              <img src="assets/img/st-2.png" alt="" />
              <img src="assets/img/st-3.png" alt="" />
              <img src="assets/img/st-4.png" alt="" />
            </div>
            <p>
              <strong class="text-gradient">2,147+ Active</strong> Tutors Across
              The Globe
            </p>
          </div>
        </div>

        <div class="hero-right-content">
          <div class="hero-main-img-wrap position-relative">
            <img
              class="hero-main-img img-fluid w-100 z-index-1"
              src="../assets/images-marketing/student.png"
              alt="online learning hero"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
