<div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table forum-table mb-0 rounded">
          <thead class="bg-primary text-white">
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" *ngIf="referralUsers.users.length==0">
                 No Record Found.
              </td>
           </tr>
            <tr *ngFor="let element of referralUsers?.users">
              <td class="col-lg-4">
                <div class="d-flex align-items-center">
                  <img class="img-fluid rounded-circle avatar-40"
                    [src]="element?.userImagePath ? element?.userImagePath :'../../../assets/images/profile.png'" alt=""
                    loading="lazy" />
                  <div class="media-body ms-3">
                    <h6 class="">
                      <a>{{ element?.name }}</a>
                    </h6>
                  </div>
                </div>
              </td>
              <td class="col-lg-2 h6">{{ element?.email}}</td>
            </tr>
          </tbody>
        </table>
        <app-table-paginator [size]="10" [totalElements]="referralUsers.totalCount" [pagenumber]="pageNumber" (pageChange)="nextPage.emit($event)" [disableSize]="true"
          >
        </app-table-paginator>
      </div>
    </div>
  </div>