<main>
    <app-digital-library-search></app-digital-library-search>
    <div class="row text-center" style="padding: 0% 8%">
      <div class="col-md-6" style="border-right: 2px solid #dedede">
        <h1>Creator</h1>
        <img
          class="w-100"
          src="../../../assets/digitalLibrary/publilsh_your_work.svg"
          alt=""
        />
  
        <div class="row digital-library-card">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Create Contents</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
  
        <div class="row digital-library-card">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Start Selling</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="border-left: 2px solid #dedede ;">
        <h2>Learner</h2>
        <img
          class="w-100"
          src="../../../assets/digitalLibrary/expand_your_knowledge.svg"
          style="padding-top: 3.5%"
          alt=""
        />
  
        <div class="row digital-library-card">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Buy with Points</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
  
        <div class="row digital-library-card">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Share & Earn</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 5%">
      <div class="row" style="padding: 0% 15%">
        <div class="col-md-5">
          <h2 style="color: #007ef2; line-height: 36px">
            Monetize your creatives
          </h2>
        </div>
        <div class="col-md-7">
          <p style="color: #4c535d; line-height: 27px">
            Learning potential beyond your teaching skills. The Digital Library is
            a place to get all your creative and writing skills published. Publish
            and sell what you are good at, Books, Short Stories, Presentations,
            Guides and even DIY kits
          </p>
        </div>
      </div>
      <div class="row" style="padding-top: 3%">
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39250 (1).svg"
            class="w-100"
            alt=""
          />
        </div>
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39251 (2).svg"
            class="w-100"
            alt=""
          />
        </div>
        <div class="col-md-4" style="padding: 0% 1%">
          <img
            src="../../../assets/images-marketing/Group 39252 (3).svg"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
  
    <div style="margin: 0% 6% 5% 6%; background: white; border-radius: 20px">
      <div class="row" style="padding: 3%">
        <div class="col-10">
          <h4 style="margin-left: 4.5%">
            BROWSE <span style="color: #007ef2">Resourses</span>
          </h4>
        </div>
        <div class="col-2">
          <p style="color: #8491a5; float: right"><b>View All -></b></p>
        </div>
        <div class="col-md-6">
          <img
            src="../../../assets/images-marketing/Group 39282 (1).svg"
            width="100%"
            style="padding: 5%"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <img
            src="../../../assets/images-marketing/Group 39283 (1).svg"
            width="100%"
            style="padding: 5%"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <img
            src="../../../assets/images-marketing/Group 39284 (1).svg"
            width="100%"
            style="padding: 5%"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <img
            src="../../../assets/images-marketing/Group 39285 (1).svg"
            width="100%"
            style="padding: 5%"
            alt=""
          />
        </div>
      </div>
    </div>
  
    <div class="section-cover" id="explore-area" style="padding-top: 0px">
      <div class="explore-area position-relative">
        <!-- <img src="assets/img/tile-1.png" alt="" class="tile-1 img-fluid position-absolute">
              <img src="assets/img/tile-2.png" alt="" class="tile-2 img-fluid position-absolute"> -->
        <div class="container cs-padding z-index-1">
          <div class="showcase-g-wrapper">
            <div class="showcase-g-left">
              <div class="showcase-item one position-relative mb-20">
                <img
                  class="img-fluid w-100"
                  src="../../../assets/images-marketing/BG (0).svg"
                  alt=""
                />
                <div class="overlay-content position-absolute start-0">
                  <p class="text-white" style="line-height: 45px">Slideshares</p>
                  <h3
                    class="text-white"
                    style="line-height: 45px; padding-bottom: 15px"
                  >
                    How To Come <br />
                    Up With New Ideas ?
                  </h3>
                  <button class="btn text-white" style="background: #007ef2">
                    Read More
                  </button>
                </div>
              </div>
  
              <div class="twin">
                <div class="showcase-item position-relative">
                  <img
                    class="img-fluid w-100"
                    src="../../../assets/images-marketing/BG (2).svg"
                    alt=""
                  />
                  <div class="overlay-content position-absolute start-0 top-0">
                    <p class="text-white" style="line-height: 45px">
                      Motivational Snippets
                    </p>
                    <h3
                      class="text-white"
                      style="line-height: 45px; padding-bottom: 15px"
                    >
                      It’s Time To <br />
                      Discover !
                    </h3>
                    <button class="btn" style="background: white">
                      <span style="color: #007ef2">Read More</span>
                    </button>
                  </div>
                </div>
                <div class="showcase-item position-relative">
                  <img
                    class="img-fluid w-100"
                    src="../../../assets/images-marketing/BG (3).svg"
                    alt=""
                  />
                  <div class="overlay-content position-absolute start-0 top-0">
                    <p class="text-white" style="line-height: 45px">
                      Guides & Solved Papers
                    </p>
                    <h3
                      class="text-white"
                      style="line-height: 45px; padding-bottom: 15px"
                    >
                      Digital Library <br />
                      To Save Time ?
                    </h3>
                    <button class="btn" style="background: white">
                      <span style="color: #007ef2">Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="showcase-g-right">
              <div class="showcase-item position-relative mb-20">
                <img
                  class="img-fluid w-100"
                  src="../../../assets/images-marketing/BG (1).svg"
                  alt=""
                />
                <div
                  class="overlay-content black position-absolute start-0 top-0"
                >
                  <p
                    class="text-white"
                    style="line-height: 45px; font-size: 16px"
                  >
                    LIFESTYLE
                  </p>
                  <h3
                    class="text-white"
                    style="line-height: 45px; padding-bottom: 15px"
                  >
                    Do Plant Help <br />
                    You Remeber Better ?
                  </h3>
                  <button class="btn" style="background: white">
                    <span style="color: #007ef2">Read More</span>
                  </button>
                </div>
              </div>
              <div class="showcase-item position-relative">
                <img
                  class="img-fluid w-100"
                  src="../../../assets/images-marketing/BG (4).svg"
                  alt=""
                />
                <div class="overlay-content position-absolute start-0 top-0">
                  <p class="text-white" style="line-height: 45px">
                    DYI & Project Support
                  </p>
                  <h3
                    class="text-white"
                    style="line-height: 45px; padding-bottom: 15px"
                  >
                    Meteors From <br />
                    The Red Planet
                  </h3>
                  <button class="btn" style="background: white">
                    <span style="color: #007ef2">Read More</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-faq [selectedValue]="selectedValue"></app-faq>
  </main>
  