<main>
    <div
      class="section-cover text-dec"
      id="hero-area"
      style="background-color: white"
    >
      <app-student-search></app-student-search>
      <app-student-contact-us></app-student-contact-us>
  
      <div class="branding-area position-relative">
        <div class="container cs-padding z-index-1">
          <div class="brand-content position-relative">
            <div class="section-title mb-0">
              <h3 class="textdec">
                <span style="color: #007ef2" class="position-relative">
                  Enrich your learning outcomes
                </span>
              </h3>
              <p class="textdec" style="color: #8491a5; line-height: 45px">
                Join NRICH LEARNING and unlock opportunities to advance your career.
                Search for courses and teachers from our directory, enroll in classes, and start learning today
                Get ahead of the competition with NRICH LEARNING and achieve success on your terms.
              </p>
            </div>
            <div>
              <div style="margin-top: 30px">
                <img
                  src="../../../assets/images-marketing/nrich.gif"
                  style="width: 100%; height: 100%"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <app-student-static-content></app-student-static-content>
  
      <app-categories [bannerType]="'Student'"></app-categories>
  
      <div class="section-cover fix" id="course-area">
        <div class="course-area position-relative">
          <div class="container cs-padding">
            <div class="row" style="margin-top: 40px">
              <div class="col-md-5">
                <div class="section-title" style="margin-bottom: 25px">
                  <h2 class="textdec">
                    Learning <br />
                    <span class="title-pole sign position-relative"
                      >Made POWERFUL</span
                    >
                  </h2>
                </div>
              </div>
              <div class="col-md-7">
                <p
                  class="textdec"
                  style="color: #4c535d; line-height: 35px; font-size: 16px"
                >
                NRICH is a one Stop Platform for all your learning needs.
                From Directory Listing to Enrollment & our Learning Management Systems you get all aspects of Learning addressed in one place.
                </p>
              </div>
            </div>
            <div class="row" style="margin-top: 20px">
              <div class="col-md-4 textdec">
                <div class="card" style="border-radius: 14px; border: 0px">
                  <div class="card-body">
                    <div
                      class="card"
                      style="
                        background: #f6f8ff;
                        padding: 13px;
                        border-radius: 15px;
                        max-height: 320px;
                        overflow: hidden;
                        border: 0px;
                      "
                    >
                      <div class="card-body">
                        <div class="text-center textdec">
                          <h5 class="textdec" style="color: #8491a5">
                            Private Chat
                          </h5>
                          <img
                            src="../assets/Chat Main Screen.png"
                            height="100%"
                            alt="Advantages of learning management"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 textdec">
                <div class="card" style="border-radius: 14px; border: 0px">
                  <div class="card-body">
                    <div
                      class="card"
                      style="
                        background: #f6f8ff;
                        padding: 13px;
                        border-radius: 15px;
                        max-height: 320px;
                        overflow: hidden;
                        border: 0px;
                      "
                    >
                      <div class="card-body">
                        <div class="text-center textdec">
                          <h5 class="textdec" style="color: #8491a5">
                            Dedicated Timeline
                          </h5>
                          <img
                            src="../assets/images-marketing/Timeline.svg"
                            height="100%"
                            alt="online profile"
                            style="
                              box-shadow: 0px 0px 10px lightgrey;
                              margin-top: 16px;
                              border-radius: 15px 15px 0px 0px;
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 textdec">
                <div class="card" style="border-radius: 14px; border: 0px">
                  <div class="card-body">
                    <div
                      class="card"
                      style="
                        background: #f6f8ff;
                        padding: 13px;
                        border-radius: 15px;
                        max-height: 320px;
                        overflow: hidden;
                        border: 0px;
                      "
                    >
                      <div class="card-body">
                        <div class="text-center textdec">
                          <h5 class="textdec" style="color: #8491a5">
                            News Feed
                          </h5>
                          <img
                            src="../assets/images-marketing/News Feed.svg"
                            height="100%"
                            alt="learning news online"
                            style="
                              box-shadow: 0px 0px 10px lightgrey;
                              margin-top: 16px;
                              border-radius: 15px 15px 0px 0px;
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <app-home-courses></app-home-courses>
  
      <div
        class="section-cover fix setPaddding"
        id="course-area"
        style="background-color: white; padding-top: 0px; padding-bottom: 2%"
      >
        <div class="position-relative setPadding1" >
          <img
            src="assets/img/slice-1.png"
            alt=""
            class="slice-1 position-absolute"
          />
          <div class="container cs-padding">
            <div>
              <div
                class="section-title text-center"
                style="margin-right: 8%; margin-left: 8%"
              >
                <h3 style="font-size: 40px; color: #000000" class="textdec">
                  Improve Learning Outcomes with
                  <span style="color: #007ef2"> NRICH </span>
                </h3>
  
                <p class="textdec" style="color: #4c535d; line-height: 35px">
                  With our state-of-the-art technology, we make it easy for
                  students to access personalized learning, practice assessments
                  and tailored resources that can help <b>advance career goals</b>
                </p>
              </div>
            </div>
            <div style="margin-bottom: 100px">
              <app-mobile-social-slider [selectedValue]="'student'"></app-mobile-social-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  