.profilePos {
    position: relative;
    top: 0;
    left: 0;
  }
  .Pos {
    position: absolute;
    top: 12%;
    left: 55%;
  }
  @media screen and (max-width: 1250px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 56%;
    }
  }
  @media screen and (max-width: 1080px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 57%;
    }
  }
  @media screen and (max-width: 685px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 58%;
    }
  }
  @media screen and (max-width: 590px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 60%;
    }
  }
  @media screen and (max-width: 500px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 62%;
    }
  }
  @media screen and (max-width: 415px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 66%;
    }
  }
  @media screen and (max-width: 350px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 70%;
    }
  }
  @media screen and (max-width: 310px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 74%;
    }
  }
  @media screen and (max-width: 275px){
    .Pos {
      position: absolute;
      top: 12%;
      left: 78%;
    }
  }
  .item1:hover {
    cursor: pointer;
  }