<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between bg-primary">
          <div class="header-title">
            <h4 class="card-title text-white">Category Management</h4>
          </div>
          <button
            [routerLink]="['/master/category-requests']"
            class="btn"
            style="background: white; color: #50b5ff; margin-left: 52%"
          >
            Category Requests
          </button>
          <button
            (click)="addCategory()"
            class="btn"
            style="background: white; color: #50b5ff"
          >
            + Add Category
          </button>
        </div>
        <div class="card-body">
          <div id="table">
            <div class="col-sm-12 col-md-6 mb-2">
              <div id="user_list_datatable_info" class="dataTables_filter">
                <form class="me-3 position-relative">
                  <div class="form-group mb-0">
                    <input
                      class="form-control"
                      (keyup)="search($event)"
                      [(ngModel)]="searchParam"
                      type="text"
                      placeholder="Search...."
                    />
                  </div>
                </form>
              </div>
            </div>
            <table class="files-lists table table-striped mt-4">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>
                    Name
                    <i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'categoryName'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('categoryName')"
                    ></i>
                  </th>
                  <th>
                    Description
                    <i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'categoryDescription'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('categoryDescription')"
                    ></i>
                  </th>
                  <th>
                    Display Order
                    <i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'displayOrder'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('displayOrder')"
                    ></i>
                  </th>
                  <th>
                    isFeatured
                    <i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'isFeatured'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('isFeatured')"
                    ></i>
                  </th>
                  <th>
                    isPrivate
                    <i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'isPrivate'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('isPrivate')"
                    ></i>
                  </th>
                  <th>
                    Created Date<i
                      ng-click="typeOfShorting:!typeOfShorting"
                      [ngClass]="
                        typeOfShorting && type == 'isPrivate'
                          ? 'fa fa-sort-amount-desc'
                          : 'fa fa-sort-amount-asc'
                      "
                      (click)="short('createdDate')"
                    ></i>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="8" *ngIf="CourseCategoryVO.length == 0">
                    No Record Found.
                  </td>
                </tr>
                <tr
                  *ngFor="
                    let category of CourseCategoryVO
                      | short : type : typeOfShorting;
                    let i = index
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ category?.categoryName }}</td>
  
                  <td>{{ category?.categoryDescription }}</td>
                  <td>{{ category?.displayOrder }}</td>
                  <td>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        [(ngModel)]="category.isFeatured"
                        (change)="updateFeatured(category.idCourseCategory)"
                        type="checkbox"
                        id="flexSwitchCheckChecked"
                        [checked]="category.isFeatured"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >{{ category.isFeatured ? "Enable" : "Disable" }}</label
                      >
                    </div>
                  </td>
  
                  <td>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        [(ngModel)]="category.isPrivate"
                        (change)="updatePrivate(category.idCourseCategory)"
                        type="checkbox"
                        id="flexSwitchCheckChecked"
                        [checked]="category.isPrivate"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >{{ category.isPrivate ? "Enable" : "Disable" }}</label
                      >
                    </div>
                  </td>
                  <td>
                    {{ category.createdDate | date : "medium" }}
                  </td>
                  <td>
                    <mat-icon
                      aria-hidden="false"
                      mat-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example home icon"
                      >menu
                    </mat-icon>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        style="cursor: pointer"
                        data-toggle="tooltip"
                        title="View Sub Category"
                        (click)="
                          viewSubCategoryListing(category.idCourseCategory)
                        "
                      >
                        View Sub Category
                      </button>
  
                      <button
                        mat-menu-item
                        style="cursor: pointer"
                        data-toggle="tooltip"
                        title="Edit Category"
                        (click)="editCategory(category)"
                      >
                        Edit Category
                      </button>
  
                      <button
                        mat-menu-item
                        style="cursor: pointer"
                        data-toggle="tooltip"
                        title=" Delete Category"
                        (click)="delete(category.idCourseCategory)"
                      >
                        Delete Category
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-table-paginator
              [size]="size"
              [totalElements]="totalCount"
              (pageChange)="pageChange($event)"
              (changeSize)="changeSize($event)"
            ></app-table-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  