<mat-tab-group mat-align-tabs="vertical">
    <mat-tab label="Today's Schedule">
       <div class="card">
 
          <div class="card-body">
             <div id="table" class="table-editable">
                <div class="col-sm-12 col-md-6">
                   <div id="user_list_datatable_info" class="dataTables_filter">
                      <form class="me-3 position-relative">
                         <!-- <div class="form-group mb-0">
                            <input class="form-control" (keyup)="search($event)" [(ngModel)]="searchParam" type="text"
                               placeholder="Search....">
                         </div> -->
                      </form>
                   </div>
                </div>
                <div class="col-sm-12 col-md-6"></div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                   <thead>
                      <tr>
                         <th>Title <i ng-click="typeOfShorting:!typeOfShorting"
                            [ngClass]=" typeOfShorting && type =='name' ?  'fa fa-sort-amount-desc':'fa fa-sort-amount-asc'"
                            (click)="short('name')"></i></th>
                         <th>Teacher <i ng-click="typeOfShorting:!typeOfShorting"
                            [ngClass]=" typeOfShorting && type =='teacher_name' ?  'fa fa-sort-amount-desc':'fa fa-sort-amount-asc'"
                            (click)="short('teacher_name')"></i></th>
                         <th>Start Time <i ng-click="typeOfShorting:!typeOfShorting"
                            [ngClass]=" typeOfShorting && type =='start_date' ?  'fa fa-sort-amount-desc':'fa fa-sort-amount-asc'"
                            (click)="short('start_date')"></i></th>
                         <th>End Time <i ng-click="typeOfShorting:!typeOfShorting"
                            [ngClass]=" typeOfShorting && type =='end_date' ?  'fa fa-sort-amount-desc':'fa fa-sort-amount-asc'"
                            (click)="short('end_date')"></i></th>
                         <th>Manage</th>
                      </tr>
                   </thead>
                   <tbody>
                      <!-- <tr *ngIf="liveClasses.length==0">
                         <td colspan="5">
                            No Record Classes.
                         </td>
                      </tr> -->
                      <tr class="" *ngFor="let live of liveClasses | short:type:typeOfShorting">
                         <td>{{ live?.name }}</td>
                         <td>{{ live?.teacher_name }}</td>
                         <td>
                            <div class="font-weight-bolder font-size-lg mb-0">
                               {{ live?.start_date | date }}
                            </div>
                            <div class="font-weight-bold text-muted">
                               {{ live?.start_date | date: "h:mm a" }}
                            </div>
                         </td>
                         <td>
                            <div class="font-weight-bolder font-size-lg mb-0">
                               {{ live?.end_date | date }}
                            </div>
                            <div class="font-weight-bold text-muted">
                               {{ live?.end_date | date: "h:mm a" }}
                            </div>
                         </td>
 
 
                         <td>
                            <span class="table-remove"><button type="button"
                                  class="btn btn-danger btn-rounded btn-sm my-0"
                                  (click)="joinClass(live.id)">Join</button></span>
                         </td>
                      </tr>
 
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </mat-tab>
    <mat-tab label="Upcoming Demo">
       <div class="card">
 
          <div class="card-body">
             <div id="table" class="table-editable">
                <div class="col-sm-12 col-md-6">
                   <div id="user_list_datatable_info" class="dataTables_filter">
                      <form class="me-3 position-relative">
                         <div class="form-group mb-0">
                            <input class="form-control" (keyup)="search($event)" [(ngModel)]="searchParam" type="text"
                               placeholder="Search....">
                         </div>
                      </form>
                   </div>
                </div>
                <div class="col-sm-12 col-md-6"></div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                   <thead>
                      <tr>
                         <th>Title</th>
                         <th>Teacher</th>
                         <th>Start Time</th>
                         <th>End Time</th>
                         <!-- <th>Action</th> -->
                      </tr>
                   </thead>
                   <tbody>
                      <!-- <tr *ngIf="futureClasses.length==0">
                         <td colspan="4">
                            No Record Found.
                         </td>
                      </tr> -->
                      <tr class="" *ngFor="let element of futureClasses">
                         <td>{{ element?.name }}</td>
                         <td>{{ element?.teacher_name }}</td>
                         <td>
                            <div class="font-weight-bolder font-size-lg mb-0">
                               {{ element?.start_date | date }}
                            </div>
                            <div class="font-weight-bold text-muted">
                               {{ element?.start_date | date: "h:mm a" }}
                            </div>
                         </td>
                         <td>
                            <div class="font-weight-bolder font-size-lg mb-0">
                               {{ element?.end_date | date }}
                            </div>
                            <div class="font-weight-bold text-muted">
                               {{ element?.end_date | date: "h:mm a" }}
                            </div>
                         </td>
 
                         <!--                       
                       <td>
                          <span class="table-remove">  <span class="badge" [ngClass]="element?.active ? 'bg-success' : 'bg-warning'"
                            style="width: 60px;">{{ element?.active ? 'Active' : 'Canceled'}}</span></span>
                       </td> -->
                      </tr>
 
                   </tbody>
                </table>
                <app-table-paginator [size]="size" [totalElements]="totalCountOfFuture"
                   (pageChange)="changeFutureClassesPage($event)" (changeSize)="changeFutureClassesSize($event)">
                </app-table-paginator>
             </div>
          </div>
       </div>
    </mat-tab>
 </mat-tab-group>