.title-pole {
    background: -o-linear-gradient(355.62deg, #008ce4 -1.08%, #00af9e 96.88%);
    background: linear-gradient(94.38deg, #008ce4 -1.08%, #00af9e 96.88%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 161%;
    color: #8491a5;
  }
  