<aside
  [ngClass]="sidebaropen == true ? 'sidebar-mini' : ''"
  class="sidebar sidebar-default navs-pill-all"
  id="first-tour"
  data-toggle="main-sidebar"
  data-sidebar="responsive"
>
  <div style="overflow: auto; max-height: 90%; min-height: 90%; padding: 0px">
    <div class="sidebar-list">
      <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
        <li
          class="nav-item"
          style="padding: 2% 4%"
          *ngFor="let section of menu"
        >
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            (click)="toggleMenu()"
            *ngIf="section.screenUrl != null"
            [routerLink]="section.screenUrl"
            routerLinkActive="active1"
            [routerLinkActiveOptions]="{ exact: true }"
            role="button"
            aria-expanded="false"
            aria-controls="subSection"
          >
            <img
              src="{{ '../../../assets/icons/' + section.iconName + '.svg' }}"
              alt=""
              style="height: 2em"
            />
            <span class="item-name">{{ section.sectionName }}</span>
          </a>
          <a
            class="nav-link"
            id="{{
              section.sectionName === 'Learning Manager'
                ? 'learningManager'
                : section.sectionName === 'Institute Manager'
                ? 'instituteManager'
                : 'section' + section.moduleSectionId
            }}"
            data-bs-toggle="collapse"
            [href]="'#subSection' + section.moduleSectionId"
            *ngIf="section.screenUrl == null"
            href="#subSection"
            role="button"
            aria-expanded="false"
            aria-controls="subSection"
          >
            <img
              src="{{ '../../../assets/icons/' + section.iconName + '.svg' }}"
              alt=""
              style="height: 2em"
            />
            <span class="item-name">{{ section.sectionName }}</span>
            <i
              style="font-size: 18px"
              class="right-icon material-symbols-outlined"
              ><i class="fa fa-sort-desc fa-rotate-270" aria-hidden="true"></i>
            </i>
          </a>
          <ul
            class="sub-nav collapse"
            [id]="'subSection' + section.moduleSectionId"
            data-bs-parent="#sidebar-menu"
            *ngIf="section.screenUrl == null"
          >
            <li
              class="nav-item"
              style="padding: 0% 0% 0% 4%"
              *ngFor="let subSection of section.moduleSubSectionList"
            >
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                *ngIf="subSection.screenUrl != null"
                [routerLink]="[subSection.screenUrl]"
                routerLinkActive="active1"
                [routerLinkActiveOptions]="{ exact: true }"
                role="button"
                (click)="toggleMenu()"
                aria-expanded="false"
                aria-controls="screenNames"
              >
                <img
                  src="{{
                    '../../../assets/icons/' + subSection.iconName + '.svg'
                  }}"
                  alt=""
                  style="height: 2em"
                />
                <span class="item-name">{{ subSection.subSectionName }}</span>
              </a>

              <a
                class="nav-link"
                data-bs-toggle="collapse"
                *ngIf="subSection.screenUrl == null"
                [href]="'#screenNames' + subSection.moduleSubSectionId"
                role="button"
                (click)="toggleMenu()"
                aria-expanded="false"
                aria-controls="screenNames"
              >
                <i class="icon material-symbols-outlined"> person </i>
                <span class="item-name">{{ subSection.subSectionName }}</span>
                <i class="right-icon material-symbols-outlined"
                  >chevron_right</i
                >
              </a>
              <ul
                class="sub-nav collapse"
                style="list-style: none"
                [id]="'screenNames' + subSection.moduleSubSectionId"
                *ngIf="subSection.screenUrl == null"
              >
                <li
                  class="nav-item"
                  style="padding: 0% 0% 0% 4%"
                  *ngFor="let screenNames of subSection.screenList"
                >
                  <a
                    class="nav-link"
                    [routerLink]="screenNames.screenUrl"
                    aria-current="page"
                  >
                    <img
                      src="../../../assets/icons/Dashboard.svg"
                      alt=""
                      style="height: 2em"
                    />
                    <span class="item-name">{{ screenNames.screenName }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-footer"></div>
</aside>
