<div class="hero_section common-pd pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="hero-left-content">
                    <div class="sec_heading">
                      <h1>Amazing Features<br />
                        <span>in</span><span> 1 Platform <img class="" src="assets/img/line-1.png"alt=""/>
                        </span>
                      </h1>

                      <p class="mt-5" style="color:#000;">Redefining Education for everyone.<br /><strong style="color: #007ef2">Students | Trainers | Teachers | Schools</strong>
                      </p>

                      <p style="font-size: 16px;">Customized modules for everyone</p>
                    </div>

                    <button class="blue_btn">Start Your Journey</button>


                    <div class="learners-wrap">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="learners-faces d-flex align-items-center">
                                    <img src="assets/img/st-1.png" alt="" />
                                    <img src="assets/img/st-2.png" alt="" />
                                    <img src="assets/img/st-3.png" alt="" />
                                    <img src="assets/img/st-4.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <p class="mb-0 mt-2"><strong class="text-gradient">1,000+ Hours</strong> Tof Teachers & Learners using the platform <strong class="text-gradient">EVERYDAY.</strong>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="hero-right-content d-flex align-items-center h-100">
                    <img
                      class="hero-main-img img-fluid w-100 z-index-1"
                      src="../../../../assets/all-features/features_hero.svg"
                      alt="course online"
                    />
                </div>
            </div>
        </div>
    </div>
</div>



<!--tell me  more section-->
<section class="tell_more_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sec_heading">
                    <h1>Tell me more </h1>
                    <p>*choose any one</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="button_box d-flex align-items-center justify-content-between h-100">
                    <div><button class="btn" [routerLink]="['/online-platform-for-teaching']">I am A Teacher</button></div>
                    <div><button class="btn" [routerLink]="['/Find-courses-for-students-online']">I am A Student</button></div>
                    <div><button class="btn" [routerLink]="['/management-tools-for-educational-Institutes']">I am A Institute</button></div>
                </div>

                  </div>
                </div>

            </div>


</section>
<!--tell me  more section-->



<!--user type section start-->
<section class="user_type common-pd pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="type_box text-center">
                    <img src="../../../../assets/all-features/student_icon.svg" alt="" class="mb-3">
                    <h1>Students</h1>
                    <p>Browse our Directory to Search for best Courses, teachers & Training Centers</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="type_box text-center">
                    <img src="../../../../assets/all-features/teacher_icon.svg"alt="" class="mb-3">
                    <h1>Teachers</h1>
                    <p>We promote your Teaching skills to students who are Searching for teachers</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="type_box text-center">
                    <img src="../../../../assets/all-features/institute_icon.svg" alt="" class="mb-3">
                    <h1>Institutes</h1>
                    <p>Win over your competition. Use our software & tools to manage your business.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--user type section end-->

<!--inovate edu section-->
<section class="inovation_edu_sec common-pd">
    <div class="container-fluid">
        <div class="sec_heading text-center mb-5 pb-3">
            <h1> Innovate EduTech <span>with NRICH <img src="../../../../assets/all-features/heading_line.svg" /></span></h1>
            <p>FIX the Broken Tech in your Education.  <br>
                The <b style="color: #00ACA5">1 Platform</b> that caters to individual needs of every player in Education.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="edu_box" style="background: #007EF2;">
                    <div class="content d-flex justify-content-center flex-column h-100">
                        <p class="sub-title">Institutes & Coaching schools</p>
                        <h4>Return on Investments</h4>
                        <p>Advertise in our Directory to open the door of Opportunities.</p>
                        <a href="#">Grow more > </a>
                    </div>
                    <img src="../../../../assets/all-features/man_img.png" alt="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="edu_box" style="background: #FF635F;">
                    <div class="content d-flex justify-content-center flex-column h-100">
                        <p class="sub-title">Students & Learners</p>
                        <h4>Make Right Choice</h4>
                        <p>Wide choice in our Directory for what to learn & where to learn.</p>
                        <a href="#">Learn more > </a>
                    </div>
                    <img src="../../../../assets/all-features/student_img.png" alt="" style="left: -10px;"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="edu_box" style="background: #FFA92C;">
                    <div class="content d-flex justify-content-center flex-column h-100">
                        <p class="sub-title">Teachers & Trainers</p>
                        <h4>Teach Students Globally</h4>
                        <p>Teach students across the Globe with less efforts.</p>
                        <a href="#">Earn more > </a>
                    </div>
                    <img src="../../../../assets/all-features/teacher_img.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--inovate edu section end-->


<!--edutech platform section start-->
<section class="edutech_platform common-pd">
    <div class="container-fluid">
        <div class="sec_heading text-center mb-5 pb-3">
            <h1>Edutech Platform made <span>Simple <img src="../../../../assets/all-features/heading_line.svg" /></span></h1>
            <p>NRICH Learning is a Platform to make life simple for Students, Teachers & Institutes. <br>
                Get <b>advanced features</b> at affordable price for effective outcomes.</p>
        </div>
        <div class="row mb-5 pb-3 gx-5">
            <div class="col-md-6">
                <div class="box_img">
                    <img src="../../../../assets/all-features/Engaging&Exciting.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="content">
                    <p class="sub-title">For Students</p>
                    <h4>Engaging & Exciting </h4>
                    <p>Learning Management System that meets the demands for <b>modern day learning</b>. Learn faster & learn better.</p>
                    <a href="#">Show me HOW?</a>
                </div>
            </div>
        </div>

        <div class="row mb-5 pb-3 gx-5 order_change">
            <div class="col-md-6 d-flex align-items-center">
                <div class="content text-end">
                    <p class="sub-title">For Institutions</p>
                    <h4>Online & Offline</h4>
                    <p>Manage your Offline business and conduct your Online classes with our NRICH Platform.
                        <b>Enrich</b> your <b>teaching</b>.</p>
                    <a href="#">Show me NOW ></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box_img">
                    <img src="../../../../assets/all-features/online_offline.png" alt="" />
                </div>
            </div>
        </div>

        <div class="row mb-5 gx-5">
            <div class="col-md-6">
                <div class="box_img">
                    <img src="../../../../assets/all-features/safe_secure.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="content">
                    <p class="sub-title">For TEACHERS</p>
                    <h4>Safe & Secure</h4>
                    <p>Your data is <b>always safe</b> with our advanced Infrastructure & best Security practices.
                        Become a <b>Trustworthy</b> brand.</p>
                    <a href="">Learn Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--edutech platform section end-->



<!--make it powerfull section start-->
<section class="powerfull_sec common-pd">
    <div class="sec_heading text-center mb-5 pb-3">
        <p>Enrich your Learning</p>
        <h1>AND MAKE IT <span>Powerful <img src="../../../../assets/all-features/heading_line.svg" /></span></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/streaming_classes.svg" />
                    <h3>Streaming Classes</h3>
                    <p>Freedom of attending Live Classes or Recorded Sessions</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/content_mangement_icon.svg" />
                    <h3>Content Management</h3>
                    <p>Store audio visual contents to make teaching lively.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/student_portal_icon.svg" />
                    <h3>Student Portal</h3>
                    <p>Take assignments & Test at convenience to improve outcomes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/learning_management_icon.svg" />
                    <h3>Learning Management</h3>
                    <p>Deliver teaching at scale without incurring heavy cost.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/dashboard_icon.svg" />
                    <h3>Dashboard</h3>
                    <p>360 degree view of your business performance.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="box text-center">
                    <img src="../../../../assets/all-features/social_connect_icon.svg" />
                    <h3>Social Connect</h3>
                    <p>Professional networking platform to help peer to peer collaboration.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--make it powerfull section end-->



<!--leadership platform section start-->
<section class="leadership_platform_sec common-pd pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="content">
                    <p class="sub-title">bringing Institutions,Teachers & Students Together</p>
                    <h4 class="mb-4">Leadership Platform</h4>
                    <p>Bridging business opportunities & learning possibilities that make a positive impact for all the partners.</p>
                    <a href="#">Explore</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="w-100" src="../../../../assets/all-features/laptop_img.svg" alt=""/>
            </div>
        </div>
    </div>
</section>
<!--leadership platform section end-->

<!--contact us section start-->
<div id="contact">
    <app-contact-us></app-contact-us>
</div>
<!--contact us section end-->

<!--what client say section start-->
<section class="why_client_say_sec common-pd">
    <div class="container-fluid">
        <div class="sec_heading text-center mb-5 pb-3">
            <h1>What Our Clients Say</h1>
            <p>Successful businesses use NRICH Learning</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="p-4 text-center" style="background-color: #EFF3FD; border-radius: 20px;">
                    <img src="../../../../assets/all-features/chanakya_logo1.svg" alt="" class="w-100"/>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="content">
                    <h3 class="mb-4">“NRICH Learning opened us to a huge market which we were missing. Their marketing assistance is an amazing feature that helped us reach out to the right students”</h3>
                    <p><b>Hitesh</b> -Operations Manager <br>
                        Chanakya IAS Coaching</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--what client say section end-->
