<div class="row bg-color mb-2" style="border-radius: 5.44px">
    <div class="col-sm-7" style="padding: 6% 6% 6% 6%">
      <h2 class="wh-color">Want To Be A Part Of Nrich Learning</h2>
      <p class="wh-p-color">
        Enjoy benefits of earning more income from anywhere and anytime !
      </p>
      <button type="button" (click)="onSignup()" class="btn btn-outline-light"  style="background: transparent;color: #ffff;">
        <span style="display: flex">
          <img class="me-1" src="assets/Nrich_For_Institute/btn-icon.svg"  />
          Signup
        </span>
      </button>
    </div>
    <div class="col-sm-5 text-center">
      <img width="80%" src="assets/Nrich_For_Institute/listing-banner.svg" />
    </div>
  </div>
  