
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-header d-flex justify-content-between bg-primary">
             <div class="header-title">
                <h4 class="card-title text-white">Trial Plan</h4>
             </div>
          </div>
          <div class="card-body">
             <div class="table">
                <div class="row justify-content-between d-flex">
                   <div class="col-sm-12 col-md-6">
                      <div id="user_list_datatable_info" class="dataTables_filter">
                         <form class="me-3 position-relative">
                            <div class="form-group mb-0">
                               <input class="form-control" type="text"
                                  placeholder="Search....">
                            </div>
                         </form>
                      </div>
                   </div>
                   <div class="col-sm-12 col-md-6">
                      <div class="user-list-files d-flex justify-content-end">
 
                         <a (click)="addTrial()" class="chat-icon-delete btn bg-soft-primary">
                            + Add Trial
                         </a>
                      </div>
                   </div>
                </div>
                <table class="files-lists table table-striped mt-4">
                   <thead>
                      <tr>
                       
                        
                         <th scope="col">Name </th>
                         <th scope="col"> Allowed Students</th>
                     
                         <th scope="col">AllowedConcurrentClasses</th>
                         <th scope="col">Space Allowed</th>
                         <th scope="col"> Allowed Teachers</th>
                        
                         <th scope="col">Action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let  element of  Trial">
                         <td>
                            {{element.name}} 
                         </td>
                         <td>
                            {{element.allowedStudents}}
                         </td>
                         <td>
                            {{element.allowedConcurrentClasses}}
                         </td>
                         <td>
                            {{element.allowedStorage}}
                         </td>
                         <td>
                            {{element.allowedTeachers}}
                         </td>
                        
                         
                         <td>
                            <mat-icon aria-hidden="false" mat-button [matMenuTriggerFor]="menu"
                               aria-label="Example home icon">menu
                            </mat-icon>
                            <mat-menu #menu="matMenu">
                              
                               <button mat-menu-item  data-toggle="tooltip"
                                  title="Edit class Mapping" (click)="editTrial(element)">
                                  Edit 
                               </button>
 
                              
                            </mat-menu>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
             <div class="col-md-12">
                
             </div>
          </div>
       </div>
    </div>