@import url("../../../assets/css/bootstrap.min.css");
@import url("../../../assets/css/all.min.css");
@import url("../../../assets/css/slick.css");
@import url("../../../assets/css/nice-select.css");
@import url("../../../assets/css/main.css");
@import url("../../../assets/css/responsive.css");


.imgview {
  background: linear-gradient(94.38deg, #008ce4 -1.08%, #00af9e 96.88%);
  border-radius: 1000px;
}

.profilePos {
  position: relative;
  top: 0;
  left: 0;
}
.Pos {
  position: absolute;
  top: 129px;
  left: 154px;
}
