<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Create/Edit Category</h3>
        </div>
    </div>
    <div class="card-body">
        <form class="form" id="kt_form" [formGroup]="form">
            <ng-container *ngIf="isSubmit && hasError">
                <div class="text-danger">
                    Please Enter something in required field.
                </div>
            </ng-container>
            <div class="row">
                <div class="form-group">
                    <label>Enter Category Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="categoryName"
                        placeholder="Enter Category Name" />
                    <ng-container *ngIf="isSubmit && f['categoryName'].invalid">
                        <div class="
                text-danger
                ">
                            <div class="alert-text" *ngIf="f['categoryName']?.errors?.['required']">
                                Category Name is required.
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Enter display Order<span class="text-danger">*</span></label>
                    <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="displayOrder"
                        placeholder="Enter display Order" />
                    <ng-container *ngIf="isSubmit && f['displayOrder'].invalid">
                        <div class="
                text-danger
                ">
                            <div class="alert-text" *ngIf="f['displayOrder']?.errors?.['required']">
                                Display Order is required.
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Enter Category Description<span class="text-danger">*</span></label>
                    <textarea name="" id="" type="text" class="form-control" formControlName="categoryDescription"
                        placeholder="Enter Category Description"></textarea>
                    <ng-container *ngIf="isSubmit && f['categoryDescription'].invalid">
                        <div class="
                text-danger
                ">
                            <div class="alert-text" *ngIf="f['categoryDescription']?.errors?.['required']">
                                Category Description is required.
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Select Category Image</label>
                            <input #fileSelect type="file" class="form-control" accept=".jpg,.jpeg,.png,.gif,.svg"
                                placeholder="Enter File Name" (change)="onFileChange($event)" />
                        </div>
                        <div class="col-md-2" style="margin-top: 3.3%;">
                        <button (click)="documentPreview(file)" [disabled]="!(file || data.categoryImage )"
                                    class="btn btn-primary"><i _ngcontent-cug-c349="" aria-hidden="true"
                                        class="fa fa-eye"></i> Preview</button>
                        </div>
                    </div>
                    
                    <label>{{ this.data.categoryImage }}</label>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" *ngIf="!data.isEdit" class="btn btn-primary active" style="margin-right: 20px;"
            (click)="onSubmit()">
            Submit
        </button>
        <button type="submit" *ngIf="data.isEdit" class="btn btn-primary active" style="margin-right: 20px;"
            (click)="onSubmit()">
            Edit
        </button>
        <button type="reset" class="btn btn-secondary active" (click)="close()" mat-button mat-dialog-close>
            Cancel
        </button>
    </div>
</div>