<nav class="text-center">
    <div
      class="nav nav-tabs course-tab border-0"
      id="nav-tab"
      role="tablist"
      style="justify-content: space-around"
    >
      <button
        class="nav-link active"
        id="nav-home-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
      >
        <span>Dashboard</span>
      </button>
      <button
        class="nav-link"
        id="nav-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-profile"
        type="button"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
      >
        <span>LMS</span>
      </button>
      <button
        class="nav-link"
        id="nav-contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-contact"
        type="button"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
      >
        <span>Course List</span>
      </button>
      <button
        class="nav-link"
        id="nav-trending-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-trending"
        type="button"
        role="tab"
        aria-controls="nav-trending"
        aria-selected="false"
      >
        <span>App & Website</span>
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent" style="margin-top: 40px">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <div style="margin-top: 60px" class="mobile_center">
            <h3 style="color: #1f1f1f">Learning Made Simple</h3>
            <p style="color: #8491a5; line-height: 28px">
              Power packed features from uploading courses and assigning evaluation tasks to individual students.
              LMS - Learning Management System.
            </p>
            <div class="mt-4">
              <img
                src="../assets/Group 39305.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39306.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
              <img
                src="../../../../assets/Nrich_For_Institute/Group 39307.svg"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn"
                style="background-color: #007ef2"
                [routerLink]="['/learning-management-software']"
              >
                <span class="text-white">EXPLORE</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../../../../assets/Nrich_For_Institute/Group 39410 (1).svg"
            style="width: 100%"
            alt="teaching platform"
          />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <div style="margin-top: 60px" class="mobile_center">
            <h3 style="color: #1f1f1f">Learning Made Simple</h3>
            <p style="color: #8491a5; line-height: 28px">
              Power packed features from uploading courses and assigning
              evaluation tasks to individual students. LMS - Learning Management
              System.
            </p>
            <div class="mt-4">
              <img
                src="../assets/Group 39305.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39306.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39307.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
              >
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn"
                style="background-color: #007ef2"
                routerLink="/learning-management-software"
              >
                <span class="text-white">EXPLORE</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../../../../assets/Nrich_For_Institute/Group 39283.svg"
            style="width: 100%"
            alt="best LMS"
          />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <div style="margin-top: 60px" class="mobile_center">
            <h3 style="color: #1f1f1f">Engaging the Students</h3>
            <p style="color: #8491a5; line-height: 28px">
              Create courses in your LMS and publish them in NRICH Marketplace.
              Students enroll for the classes directly from the Marketplace
            </p>
            <div class="mt-4">
              <img
                src="../assets/Group 39305.png"
                height="60"
                width="60"
                alt="sell online courses"
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39306.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39307.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn"
                style="background-color: #007ef2"
                routerLink="/learning-management-software"
              >
                <span class="text-white">EXPLORE</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../../../../assets/Nrich_For_Institute/Group 39283 (1).svg"
            style="width: 100%"
            alt=""
          />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-trending"
      role="tabpanel"
      aria-labelledby="nav-trending-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <div style="margin-top: 60px" class="mobile_center">
            <h3 style="color: #1f1f1f">Enhance your Reputation</h3>
            <p style="color: #8491a5; line-height: 28px">
              If you're a member of NRICH, you can launch your own app & website
              to showcase your teaching skills.
            </p>
            <div class="mt-4">
              <img
                src="../assets/Group 39305.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
  
              <img
                src="../assets/Group 39306.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
              <img
                src="../assets/Group 39307.png"
                height="60"
                width="60"
                alt=""
                style="margin-right: 10%"
              />
            </div>
            <div class="mt-4 mb-2">
              <button
                class="btn"
                style="background-color: #007ef2"
                routerLink="/get-a-white-labelled-app-for-teaching"
              >
                <span class="text-white">EXPLORE</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../../../../assets/Nrich_For_Institute/Group 39410.svg"
            style="width: 100%"
            alt="free mobile apps"
          />
        </div>
      </div>
    </div>
  </div>
  