@import url("../../../../assets/css/large-display.css");
@import url("../../../../assets/css/global.css");

.textdec {
  font-family: poppins;
}

.Pos {
  position: absolute;
  top: 15%;
  left: 83%;
}

.item1:hover {
  cursor: pointer;
}

.item:hover {
  border: 0.5px solid #007ef2;
  cursor: pointer;
  border-radius: 5px;
}

.active {
  border: 0.5px solid #007ef2;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.not-active {
  border: none;
}

.frame-div10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.profile-icon {
  position: relative;
  width: 104px;
  height: 104px;
  flex-shrink: 0;
}

.form-div8 {
  position: relative;
  width: 252.36px;
  height: 74.6px;
  flex-shrink: 0;
}
.group-div1, .group-div2 {
  height: 47px;
  width: 100%;
}
.oval-4-icon {
  height: 54.17%;
  width: 16.52%;
  top: 25%;
  right: 73.76%;
  bottom: 20.83%;
  left: 9.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.custom_check {
  display: flex;
  justify-content: space-between;
  height: 47px;
  align-items: center;
  padding: 15px;
}
.custom_check img{
  width: 24px;
  height: 24px;
}
