<div class="row">
    <div class="col-sm-12">
      <div class="card file_manager">
        <div class="card-header bg-primary">
          <div class="header-title">
            <h4 class="card-title text-white">Users List</h4>
          </div>
  
          <div class="d-flex button-box gap-1 align-items-center">
            <button
              (click)="OffileEnrollment()"
              class="btn"
              style="background: white; color: #50b5ff; margin-bottom: 1%"
            >
              Offline Enrollments
              <span class="badge bg-primary text-white ml-2">{{
                offlineEnrollmentsCount
              }}</span>
            </button>
            <button
              (click)="bulkUpload()"
              class="btn"
              style="background: white; color: #50b5ff; margin-bottom: 1%"
            >
              + Bulk Users Upload
            </button>
            <button
              (click)="addUser()"
              class="btn"
              style="background: white; color: #50b5ff; margin-bottom: 1%"
            >
              + Create User
            </button>
            <app-support [supportDetails]="supportDetails"></app-support>
          </div>
        </div>
  
        <div class="card-body">
          <ul
            id="top-tab-list"
            style="margin-bottom: 0px !important"
            class="p-0 row list-inline"
          >
            <li
              class="col-md-4 col-xl-3 text-start mb-2"
              (click)="tab = 1"
              [ngClass]="tab == 1 ? 'active' : ''"
              id="account"
            >
              <a href="javascript:void(0);">
                <i class="material-symbols-outlined"> groups </i
                ><span>Admins</span>
              </a>
            </li>
            <li
              id="personal"
              (click)="tab = 2"
              class="col-md-4 col-xl-3 mb-2 text-start"
              [ngClass]="tab == 2 ? 'active' : ''"
            >
              <a href="javascript:void(0);">
                <i class="material-symbols-outlined"> groups </i
                ><span>Teachers</span>
              </a>
            </li>
            <li
              id="personal"
              (click)="tab = 3"
              class="col-md-4 col-xl-3 mb-2 text-start"
              [ngClass]="tab == 3 ? 'active' : ''"
            >
              <a href="javascript:void(0);">
                <i class="material-symbols-outlined"> groups </i
                ><span>Students</span>
              </a>
            </li>
            <!-- <li
              id="confirm"
              (click)="tab = 3"
              class="col-md-4 col-xl-3 mb-2 text-start"
              [ngClass]="tab == 3 ? 'active' : ''"
            >
              <a href="javascript:void(0);">
                <i class="material-symbols-outlined"> groups </i
                ><span>Students</span>
              </a>
            </li> -->
          </ul>
          <div *ngIf="tab == 1">
            <app-admin-listing></app-admin-listing>
          </div>
          <div *ngIf="tab == 2">
            <app-teacher-listing></app-teacher-listing>
          </div>
          <div *ngIf="tab == 3">
            <app-student-listing></app-student-listing>
          </div>
        </div>
      </div>
    </div>
  </div>
  