<main class="fix" style="padding-top: 130px">
    <app-sms-search></app-sms-search>
    <div class="row removePadding" style="background: #f6fcff">
      <div class="col-12 text-center" style="padding-bottom: 2%">
        <h2 style="color: #007ef2">Enrich your learning outcomes</h2>
      </div>
      <div class="col-md-4" style="padding: 2% 2%">
        <div
          class="row digital-library-card"
          style="box-shadow: 10px 10px 5px lightgray"
        >
          <div class="col-sm-4">
            <img src="../../../assets/images-marketing/Group (0).svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Create Contents</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding: 2% 2%">
        <div
          class="row digital-library-card"
          style="box-shadow: 10px 10px 5px lightgray"
        >
          <div class="col-sm-4">
            <img src="../../../assets/images-marketing/Group (0).svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Create Contents</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding: 2% 2%">
        <div
          class="row digital-library-card"
          style="box-shadow: 10px 10px 5px lightgray"
        >
          <div class="col-sm-4">
            <img src="../../../assets/images-marketing/Group (0).svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Create Contents</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background: white; padding: 5% 7% 0% 7%">
      <div class="col-md-6">
        <h2 style="font-size: 42px; line-height: 50px; padding-bottom: 4%">
          Course to <br />
          <span class="title-pole">make you the </span> &nbsp;
          <span class="title-pole position-relative">
            Leader
            <img
              class="text-btm-line position-absolute"
              src="assets/img/line-1.png"
              alt=""
          /></span>
        </h2>
        <p style="color: #4c535d; line-height: 28px">
          NRICH is a 1 Stop Platform for all your learning needs.
        </p>
        <p style="color: #4c535d; line-height: 28px; padding-bottom: 5%">
          From Directory Listing to Enrollment & our Learning Management Systems
          you get all aspects of Learning addressed with one subscription
        </p>
  
        <a
          class="btn box-btn gradient-bg"
          style="border-radius: 20px; padding-bottom: 2%"
          >GET STARTED</a
        >
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../../assets/images-marketing/Group 39390.svg"
          class="img-fluid"
          style="width: 75%; margin-top: -15%"
          alt=""
        />
      </div>
    </div>
    <div class="row" style="background: #f6fcff; padding: 5% 7%">
      <div class="col-12 text-center">
        <h2 style="line-height: 45px">
          Teaching Redefined <br /><span style="color: #007ef2"
            >Edu Tech for Digital Age</span
          >
        </h2>
      </div>
      <img
        src="../../../assets/images-marketing/Vector 10.svg"
        alt=""
        class="block-1 img-fluid position-absolute"
      />
      <div class="col-md-6" style="padding: 5%">
        <h2>
          Start <span style="color: #007ef2; padding-bottom: 2%">SIMPLE</span>
        </h2>
        <p style="line-height: 25px; color: #4c535d; padding-bottom: 5%">
          Teaching Online Made Simple We built this technology to make your
          teaching exciting and your lives simple. Period.
        </p>
  
        <div class="row" style="padding-bottom: 5%">
          <img
            src="../../../assets/images-marketing/Group 39305.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39306.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39307 (2).svg"
            style="width: 85px"
            alt=""
          />
        </div>
        <button class="btn btn-outline-primary">Explore ></button>
      </div>
      <div class="col-md-6" style="padding: 5%">
        <img
          src="../../../assets/images-marketing/image(1).svg"
          class="img-fluid"
          alt=""
        />
      </div>
  
      <div class="col-md-6" style="padding: 5%">
        <img
          src="../../../assets/images-marketing/image(2).svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6" style="padding: 5%">
        <h2>Be <span style="color: #007ef2">POWERFUL</span></h2>
        <p style="line-height: 25px; color: #4c535d; padding-bottom: 5%">
          Enrich your teaching skills to make an impact with the students that is
          powerful.
        </p>
        <div class="row" style="padding-bottom: 5%">
          <img
            src="../../../assets/images-marketing/Group 39305.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39306.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39307 (2).svg"
            style="width: 85px"
            alt=""
          />
        </div>
        <button class="btn btn-outline-primary">Explore ></button>
      </div>
  
      <div class="col-md-6" style="padding: 5%">
        <h2>Become <span style="color: #007ef2">LEADER</span></h2>
        <p style="line-height: 25px; color: #4c535d; padding-bottom: 5%">
          With easy to use tools show the world that you are the real expert &
          Leader
        </p>
        <div class="row" style="padding-bottom: 5%">
          <img
            src="../../../assets/images-marketing/Group 39305.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39306.svg"
            style="width: 85px"
            alt=""
          />
          <img
            src="../../../assets/images-marketing/Group 39307 (2).svg"
            style="width: 85px"
            alt=""
          />
        </div>
        <button class="btn btn-outline-primary">Explore ></button>
      </div>
      <div class="col-md-6" style="padding: 5%">
        <img
          src="../../../assets/images-marketing/image(3).svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div
      class="row"
      style="
        padding: 3% 5%;
        background: linear-gradient(94.38deg, #008ce4 -1.08%, #00af9e 96.88%);
      "
    >
      <div class="row">
        <div class="col-md-6" style="padding: 5%">
          <div class="card" style="border-radius: 10px; background: #e3f2ff">
            <div class="card-body">
              <img
                src="../../../assets/images-marketing/Group 39270.svg"
                style="padding: 7% 7% 0% 7%; width: 100%"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding: 8% 0%">
          <h2 class="text-white" style="line-height: 45px">Courses</h2>
          <p class="text-white" style="line-height: 25px; padding-bottom: 6%">
            Easily create the courses that you like to teach with simple and
            intuitive up-load options
          </p>
          <h2 class="text-white" style="line-height: 45px">Choices</h2>
          <p class="text-white" style="line-height: 25px; padding-bottom: 6%">
            Manage Offline process with our Tools and Go Online with our Platform
          </p>
          <h2 class="text-white" style="line-height: 45px">Community</h2>
          <p class="text-white" style="line-height: 25px; padding-bottom: 6%">
            Share your expertise targeted to the right student audience and start
            teaching
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 0% 7%; background: white">
      <app-sms-slider></app-sms-slider>
    </div>
  
    <div class="row text-center" style="padding: 0% 8%; background: white">
      <div class="col-md-6" style="border-right: 2px solid #dedede">
        <h1>Creator</h1>
        <img
          class="w-100"
          src="../../../assets/digitalLibrary/publilsh_your_work.svg"
          alt=""
        />
  
        <div class="row digital-library-card-1">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Create Contents</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
  
        <div class="row digital-library-card-1">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Start Selling</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="border-left: 2px solid #dedede">
        <h2>Learner</h2>
        <img
          class="w-100"
          src="../../../assets/digitalLibrary/expand_your_knowledge.svg"
          style="padding-top: 3.5%"
          alt=""
        />
  
        <div class="row digital-library-card-1">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Buy with Points</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
  
        <div class="row digital-library-card-1">
          <div class="col-sm-4">
            <img src="../../../assets/digitalLibrary/Add business.svg" alt="" />
          </div>
          <div class="col-sm-8" style="text-align: left">
            <h4>Share & Earn</h4>
            <p>Tailored Tutor Platform</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  