@import url("../../../../assets/css/bootstrap.min.css");
@import url("../../../../assets/css/all.min.css");
@import url("../../../../assets/css/slick.css");
@import url("../../../../assets/css/nice-select.css");
@import url("../../../../assets/css/main.css");
@import url("../../../../assets/css/responsive.css");
.imgview{
    background: linear-gradient(94.38deg, #008CE4 -1.08%, #00AF9E 96.88%);
    border-radius: 1000px;
  
}
// .userInput{
	
// }

input{
	margin: 10px;
	height: 45px;
	width: 45px;
	border: none;
	border-radius: 50px;
	font-family: arimo;
	font-size: 1.2rem;
	background: #eef2f3;

}
