<table class="files-lists table table-striped mt-4" *ngIf="!id">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Module Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngIf="modules.length==0">
        <td colspan="3">No Record Found !</td>
      </tr>
      <tr *ngFor="let element of modules; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ element.moduleName }}</td>
        <td>
          <button
            type="button"
            (click)="id = element.id; moduleName = element.moduleName"
            class="btn btn-primary"
          >
            <i class="fa fa-eye" aria-hidden="true"></i> View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-prerecordedpreview
    *ngIf="id"
    [id]="id"
    [moduleName]="moduleName"
    (goBack)="back()"
  ></app-prerecordedpreview>
  