<div class="light theme-color-default">
    <div class="fixed-header-z">
        <app-header (desktopHamburgerClick)=toggleDesktopSidebarOpen($event)></app-header>
    </div>

    <div style="margin-top: 80px;">
        <div [ngClass]="removecss==false? 'f-l-s':''">
            <app-sidebar [sidebaropen]="opensidebar"></app-sidebar>
        </div>
        <div [ngClass]="removecss==false? 'f-r-c':''" style="padding-bottom: 62px;">
            <div class="position-relative">

                <div id="content-page" class="content-page">
                    <div class="container-fluid" style="margin-right: 10px;">
                        
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-chat></app-chat> -->

    <app-footer></app-footer>
</div>