<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between bg-primary">
          <div class="header-title">
            <h4 class="card-title text-white">Razorpay Details</h4>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-label" for="validationCustom01"
                  >Razorpay Key<span class="text-danger">*</span></label
                >
                <input type="text" class="form-control" />
              </div>
              <div class="form-group col-md-6">
                <label class="form-label" for="validationCustom01"
                  >Razorpay Secret<span class="text-danger">*</span></label
                >
                <input type="text" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  