<ng-template [ngIf]="isPaymentSuccess">
    <div class="container" style="margin-top: 3%">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="payment">
            <div class="payment_header">
              <div class="check">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content">
              <h1>Payment Success !</h1>
              <p>{{ msg }}</p>
              <a routerLink="/admin/profile">Go to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!isPaymentSuccess">
    <div class="container" style="margin-top: 3%">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="payment">
            <div class="payment_failed_header">
              <div class="check">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
            <div class="c1">
              <h1>Payment Failed !</h1>
              <p>{{ msg }}</p>
              <a routerLink="/admin/explore-plans">Try Again</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  