.onbarding-card-hover:hover{
    cursor: pointer;
}


.card_box{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.06); border-radius: 24px;
    position: relative;
    min-height: 280px;
    height: 100%;
}
.card_box h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
}
.card_box p{
    font-weight: 400;
    line-height: 164.5%;
    color: #fff;
}
.card_box.box1 img{ 
    max-height: 210px;
}
.card_box h1{
font-size: 100px;
font-weight: 700;
color: #FFFFFF;
opacity: 0.3;
position: absolute;
right: 0;
bottom: -40px;
margin: 0;
padding: 0;
}
