<div class="section-cover" id="hero-area" style="background-color: white">
    <div class="hero-area fix position-relative" style="padding-bottom: 40px">
      <div class="container cs-padding">
        <div class="row" style="display: flex; align-items: center">
          <div class="col-md-6">
            <div style="padding-top: 20px; padding-bottom: 50px">
              <div class="row" style="padding-top: 15%">
                <div class="col-2">
                  <img
                    src="../../../../assets/images-marketing/1.svg"
                    style="width: 55%; padding-top: 20%"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h2 style="color: #007ef2; font-weight: 700">
                    SEARCH MADE EASY
                  </h2>
                  <p style="font-size: 16px; line-height: 36px">
                    Get a list of choices about Courses, Teachers & Schools - both
                    Online & Off-line. Quick & easy to use, with no additional
                    charges.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="padding-top: 20px; padding-bottom: 50px">
              <img
                src="../../../../assets/images-marketing/browser1.gif"
                style="width: 100%; height: 100%; border-radius: 5%"
                alt="search course online"
              />
            </div>
          </div>
        </div>
        <div class="row flex-column flex-md-row" style="align-items: center">
          <div class="col-md-6 order-2 order-md-1">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <img
                src="../../../../assets/images-marketing/compare2.gif"
                style="width: 100%; height: 100%; border-radius: 5%"
                alt="compare online choice"
              />
            </div>
          </div>
          <div class="col-md-6 order-1 order-md-2">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <div class="row" style="padding-top: 15%">
                <div class="col-2">
                  <img
                    src="../../../../assets/images-marketing/2.svg"
                    style="width: 65%; padding-top: 20%"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h2 style="color: #ffa92c; font-weight: 700">
                    COMPARE YOUR CHOICE
                  </h2>
                  <p style="font-size: 16px; line-height: 36px">
                    Intelligence is making the right choice. Compare the selection
                    to make a fool-proof decision.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="display: flex; align-items: center">
          <div class="col-md-6">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <div class="row" style="padding-top: 15%">
                <div class="col-2">
                  <img
                    src="../../../../assets/images-marketing/3.svg"
                    style="width: 72%; padding-top: 20%"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h2 style="color: #ff635f; font-weight: 700">BOOK YOUR DEMO</h2>
                  <p style="font-size: 16px; line-height: 36px">
                    Attend a TRIAL with the Free Demo. Get all your queries
                    answered from the experts.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <img
                src="../../../../assets/images-marketing/bookademo.gif"
                style="width: 100%; height: 100%; border-radius: 5%"
                alt="learning for free"
              />
            </div>
          </div>
        </div>
        <div class="row flex-column flex-md-row" style="align-items: center">
          <div class="col-md-6 order-2 order-md-1">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <img
                src="../../../../assets/images-marketing/Excel.gif"
                style="width: 100%; height: 100%; border-radius: 5%"
                alt="enroll online learning"
              />
            </div>
          </div>
          <div class="col-md-6 order-1 order-md-2">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <div class="row" style="padding-top: 15%">
                <div class="col-2">
                  <img
                    src="../../../../assets/images-marketing/4.svg"
                    style="width: 72%; padding-top: 20%"
                    alt=""
                  />
                </div>
                <div class="col-10">
                  <h2 style="color: #00aca5; font-weight: 700">ENROL TO EXCEL</h2>
                  <p style="font-size: 16px; line-height: 36px">
                    Sign up and start learning. <br />
                    NRICH is the 1st step to enrich your knowledge.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  