.count-format {
    position: absolute;
    width: 38px;
    height: 113px;
    left: 71px;
    top: 1643px;
  
    font-family: "Fifth Grader";
    font-style: normal;
    font-weight: 400;
    font-size: 182px;
    line-height: 179px;
  
    /* light grey */
  
    color: #8491a5;
  
    opacity: 0.6;
  }
  
  .image-pos {
    /* Rectangle 1 */
    position: absolute;
    width: 535px;
    height: 306px;
    left: 14px;
    top: 12px;
  }
  