<main>
    <div class="card ng" style="border: 0px">
        <div class="card-body">
            <div class="slide--item bg-overlay bg-overlay-dark bg-overlay-gradient">
                <div class="bg-section">
                    <img src="assets/images/background/bg-7.jpg" alt="bg" style="width: 100%;">
                </div>
                <div class="container">
                    <div class="row row-content">
                        <div class="col-xs-12 col-sm-6 col-md-5 pt-100">
                            <div class="slide--headline">Improve Efficiency & Performance
                                of your Teaching with OUR CRM</div>
                            <div class="slide--bio">Sign-up for a CRM
                                that can help you to teach better.</div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2 ">
                            <div class="slide--action form-card">
                                <form class="mb-0" method="post" enctype="text/plain">
                                    <div>
                                        <label>School / Institute</label>
                                        <input type="text" name="first-name" class="form-control">
                                    </div>
                                    <div>
                                        <label>Contact Name</label>
                                        <input type="text" name="last-name" class="form-control">
                                    </div>
                                    <div>
                                        <label>Email ID</label>
                                        <input type="text" name="email" class="form-control">
                                    </div>
                                    <div>
                                        <label>Phone Number</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn--primary btn--block mt-10" value="send">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
