<div class="card-header bg-primary">
    <div class="card-title text-center">
      <h3 class="card-label text-white" style="margin-bottom: -10px">
        Batch Mapping
      </h3>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="card-body" style="padding: 0.5rem 0.5rem">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between text-center">
                <div class="header-title">
                  <div class="row">
                    <div
                      class="col-md-6 ml-0"
                      style="margin-top: auto; margin-bottom: auto"
                    >
                      <h4 class="card-title ml-0">Course List</h4>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        (keyup)="searchCourse($event)"
                        placeholder="Search Course"
                        size="50"
                        class="form-control ps-6"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="card-body"
                style="overflow: auto; max-height: 433px; min-height: 433px"
              >
                <div class="row">
                  <div
                    class="col-12"
                    *ngFor="let course of filteredCourses; let i = index"
                  >
                    <div
                      class="form-check form-check-inline form-checkbox form-checkbox-color"
                    >
                      <input
                        type="checkbox"
                        class="form-check-input"
                        name="flexRadioDefaultBatch"
                        id="{{ 'flexRadioDefaultBatch' + i }}"
                        [(ngModel)]="course.selected"
                        (click)="removeSelectedBatches(course, $event)"
                      />
                      <label class="form-check-label" for="customCheck-11">{{
                        course.name
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <div class="header-title">
                  <div class="row">
                    <div
                      class="col-md-6"
                      style="margin-top: auto; margin-bottom: auto"
                    >
                      <h4 class="card-title">Batch</h4>
                    </div>
                    <!-- <div class="col-md-6">
                      <button
                        (click)="findTeachers()"
                        class="btn btn-success"
                        [disabled]="batchIds.length == 0"
                      >
                        Teachers
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
              <div
                class="card-body"
                style="overflow: auto; max-height: 433px; min-height: 433px"
              >
                <div class="row">
                  <ng-container
                    *ngFor="let course of filteredCourses; let i = index"
                  >
                    <ng-container *ngIf="course.selected">
                      <div
                        class="col-12"
                        *ngFor="let batch of course.batches; let i = index"
                      >
                        <div
                          class="form-check form-check-inline form-checkbox form-checkbox-color me-2"
                        >
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="customCheck-44"
                            name="flexRadioDefaultBatch"
                            id="{{ 'flexRadioDefaultBatch' + i }}"
                            [(ngModel)]="batch.selected"
                            (click)="saveBatchMapping($event, course, batch.id)"
                          />
                          <label class="form-check-label" for="customCheck-44">{{
                            batch.name
                          }}</label>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between text-center">
                <div class="header-title">
                  <div class="row mb-1 mt-1">
                    <div
                      class="col-12"
                      style="margin-top: auto; margin-bottom: auto"
                    >
                      <h4 class="card-title ml-0">Teachers</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="card-body"
                style="overflow: auto; max-height: 433px; min-height: 433px"
              >
                <div class="row">
                  <div
                    class="col-12"
                    *ngFor="let teacher of teachers; let i = index"
                  >
                    <div
                      class="form-check form-check-inline form-checkbox form-checkbox-color me-2"
                    >
                      <input
                        id="{{ teacher.id }}"
                        type="radio"
                        class="custom-control-input"
                        [checked]="teacher.selected"
                        value="{{ teacher.id }}"
                        name="teacher"
                        (click)="saveMapping(teacher.id, $event); flag = true"
                      />
                      <label class="form-label text-dark" for="{{ teacher.name }}"
                        >&nbsp;{{ teacher.name }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <button mat-dialog-close type="reset" class="btn btn-sm btn-danger">
      Close
    </button>
  </div>
  