footer{
    padding: 18px;
    padding-left: 335px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

footer .copyright{
    justify-content: end;
}

@media only screen and (max-width:1200px) {
    footer {
        padding-left: 265px;
    }
}

@media only screen and (max-width:900px) {
    footer {
        padding-left: 15px;
    }
}

@media only screen and (max-width:767px) {
    footer {
        flex-direction: column;
        text-align: center;
        height: inherit;
    }

    footer .copyright{
        justify-content: center;
    }
    footer .copyright p{
        margin-bottom: 0px;
    }
}