@import url("../../../assets/css/bootstrap.min.css");
@import url("../../../assets/css/all.min.css");
@import url("../../../assets/css/slick.css");
@import url("../../../assets/css/nice-select.css");
@import url("../../../assets/css/main.css");
@import url("../../../assets/css/responsive.css");

.changeDisplay {
    display: block !important;
  }
  
  @media screen and (max-width: 767px) {
    .changeDisplay {
      display: none !important;
    }
  }
  .ins-t-1 {
    right: 2%;
    top:0%;
    max-height: 100%;
    width: 100%;
    border-radius: 0 16px 16px 0
  }
  @media screen and (max-width: 767px) {
    .ins-t-1 {
      right: 4%;
      top:0%;
      max-height: 100%;
      width: 100%;
      border-radius: 0 16px 16px 0
    }
  }
  .ins-row-type-three {
    grid-template-columns: 1fr 1fr;
  }