@import url("../../../../assets/css/bootstrap.min.css");
@import url("../../../../assets/css/all.min.css");
@import url("../../../../assets/css/slick.css");
@import url("../../../../assets/css/nice-select.css");
@import url("../../../../assets/css/main.css");
@import url("../../../../assets/css/responsive.css");

.nav-back {
    background: transparent;
}
.text-design{
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 204.5%;


color: #7A7A7A;
}

::-webkit-scrollbar {
    width: 0px;
  }

  .artist-wrapper {
    display: flex;
    align-items: center;
  }
  
  .artist-thumb {
    margin-right: 10px; /* Adjust the margin as desired */
  }
  
  .author {
    font-size: 1.2rem; /* Adjust the font size as desired */
    margin-top: 0; /* Reset the default margin */
    margin-bottom: 5px; /* Adjust the margin as desired */
  }
  
  .author span {
    font-weight: bold;
  }
  
  .author span.d-block {
    display: block;
  }
  