<div class="expert-area fix" style="padding: 30px 0px">
    <div class="container cs-padding">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="expert-left">
            <h2>
              Achievements By <br />
              Our Experts
            </h2>
          </div>
        </div>
        <div class="col-md-7">
          <div class="expert-slider arw-design-2 slick-initialized slick-slider">
            <button
              type="button"
              class="slick-prev slick-arrow"
              (click)="prev()"
              style="width: 40px;height: 40px;"
            >
              <i class="fal fa-chevron-circle-left"></i>
            </button>
  
            <button
              type="button"
              class="slick-next slick-arrow"
              (click)="next()"
              style="width: 40px;height: 40px;"
            >
              <i class="fal fa-chevron-circle-right"></i>
            </button>
  
  
            <div class="slick-list draggable">
              <div class="slick-track">
                <ngx-slick-carousel
                  class="carousel"
                  #slickModal="slick-carousel"
                  [config]="slideConfig"
                  (init)="slickInit($event)"
                  (breakpoint)="breakpoint($event)"
                >
                  <div
                    ngxSlickItem
                    class="course-item slick-slide slick-current slick-active"
                    tabindex="0"
                    data-slick-index="0"
                    aria-hidden="false"
                    *ngFor="let expert of expertsList"
                  >
                    <div class="expert-item-inner position-relative text-center">
                      <div class="ex-thumb">
                        <img
                          [src]="
                            expert.profileImage
                              ? expert.profileImage
                              : 'assets/img/e-1.png'
                          "
                          alt=""
                        />
                      </div>
                      <div class="ex-content">
                        <h6>{{ expert.name }}</h6>
                        <h6>{{ expert.instituteName }}</h6>
                        <p>{{ expert.description }}</p>
                      </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
  
            
          </div>
        </div>
      </div>
    </div>
  </div>
  