@import url("../../../assets/css/bootstrap.min.css");
@import url("../../../assets/css/all.min.css");
@import url("../../../assets/css/slick.css");
@import url("../../../assets/css/nice-select.css");
@import url("../../../assets/css/main.css");
@import url("../../../assets/css/responsive.css");
.cont-ca{
    background: linear-gradient(94.38deg, #008CE4 -1.08%, #00AF9E 96.88%);
/* sub */

box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.06);
border-radius: 18px;
}
.c-us{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 43.0394px;
line-height: 65px;
/* identical to box height */



/* FFF */

color: #FFFFFF;
}
.o-t{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26.3202px;
line-height: 39px;


/* FFF */

color: #FFFFFF;
}
.i-d{
    background: rgba(241, 245, 249, 0.4);
/* Neutral/300 */

border: 1px solid #CBD5E1;
border-radius: 10px;
}
.c-t{

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
/* or 189% */

text-align: center;
max-width: 751px;
font-feature-settings: 'salt' on, 'liga' off;


}