<div class="row">
    <div class="col-sm-12">
      <div id="content-page" class="content-page">
        <div class="card tab_wrapper">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3">
                <div
                  class="nav nav-pills text-center slide_tabs"
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <a
                    class="nav-link vertical-center active"
                    id="v-pills-adminAllClasses-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-adminAllClasses"
                    role="tab"
                    aria-controls="v-pills-adminAllClasses"
                    aria-selected="false"
                    >Classes</a
                  >
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-adminDemoClasses-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-adminDemoClasses"
                    role="tab"
                    aria-controls="v-pills-adminDemoClasses"
                    aria-selected="false"
                    >Demo Classes</a
                  >
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-adminWebinars-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-adminWebinars"
                    role="tab"
                    aria-controls="v-pills-adminWebinars"
                    aria-selected="false"
                    >Webinars
                  </a>
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-AdminAllAssignments-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-AdminAllAssignments"
                    role="tab"
                    aria-controls="v-pills-AdminAllAssignments"
                    aria-selected="true"
                    >Assignments</a
                  >
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-AdminAllMaterial-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-AdminAllMaterial"
                    role="tab"
                    aria-controls="v-pills-AdminAllMaterial"
                    aria-selected="false"
                    >Study Material</a
                  >
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-AdminAllQuiz-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-AdminAllQuiz"
                    role="tab"
                    aria-controls="v-pills-AdminAllQuiz"
                    aria-selected="false"
                    >Quiz</a
                  >
                  <a
                    class="nav-link vertical-center"
                    id="v-pills-prerecorded-tab"
                    data-bs-toggle="pill"
                    href="#v-pills-prerecorded"
                    role="tab"
                    aria-controls="v-pills-prerecorded"
                    aria-selected="false"
                    >Prerecorded Modules</a
                  >
                </div>
              </div>
              <div class="col-lg-9">
                <div class="tab-content mt-0" id="v-pills-tabContent">
                  <div
                    class="tab-pane fade active show"
                    id="v-pills-adminAllClasses"
                    role="tabpanel"
                    aria-labelledby="v-pills-adminAllClasses-tab"
                  >
                    <app-admin-classes> </app-admin-classes>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-adminDemoClasses"
                    role="tabpanel"
                    aria-labelledby="v-pills-adminDemoClasses-tab"
                  >
                    <app-admin-democlasses></app-admin-democlasses>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-adminWebinars"
                    role="tabpanel"
                    aria-labelledby="v-pills-adminWebinars-tab"
                  >
                    <app-admin-webinars></app-admin-webinars>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-AdminAllAssignments"
                    role="tabpanel"
                    aria-labelledby="v-pills-AdminAllAssignments-tab"
                  >
                    <app-admin-all-assignments></app-admin-all-assignments>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-AdminAllMaterial"
                    role="tabpanel"
                    aria-labelledby="v-pills-AdminAllMaterial-tab"
                  >
                    <app-admin-all-material></app-admin-all-material>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-AdminAllQuiz"
                    role="tabpanel"
                    aria-labelledby="v-pills-AdminAllQuiz-tab"
                  >
                    <app-admin-all-quiz></app-admin-all-quiz>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-prerecorded"
                    role="tabpanel"
                    aria-labelledby="v-pills-prerecorded-tab"
                  >
                    <app-batchprerecordedmodules
                      [batchId]="batchId"
                    ></app-batchprerecordedmodules>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  