<div class=" main-card mb-3" mat-dialog-content>
    <div class="card-body">
        <div *ngIf="isPdf == false" class="image-cont">

            <img width="100%" height="50%" [src]="data.imgUrl" />
        </div>
        <div *ngIf="isPdf == true">
            <pdf-viewer [src]="data.imgUrl" [render-text]="true" [original-size]="false"
                style="width: 930px; height: 800px">
            </pdf-viewer>

        </div>
    </div>

   
</div>
<div class="modal-footer" mat-dialog-actions>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeDialog()">Close</button>
</div>