<main class="fix" style="padding-top: 130px">
    <div class="teachers-area product-pge gray-bg position-relative fix">
      <div class="container">
        <div style="padding-bottom: 15px">
          <span
            class="badge badge-pill hand"
            (click)="active = 1"
            [ngStyle]="{
              background: active == 1 ? '#008CE4' : '#EFEFEF',
              color: active == 1 ? 'white' : 'gray'
            }"
            style="border-radius: 13px"
            >Privacy & Policy</span
          >
          <span
            class="badge badge-pill hand"
            (click)="active = 2"
            [ngStyle]="{
              background: active == 2 ? '#008CE4' : '#EFEFEF',
              color: active == 2 ? 'white' : 'gray'
            }"
            style="border-radius: 13px; margin-left: 10px"
            >T & C</span
          >
          <span
            class="badge badge-pill hand"
            (click)="active = 3"
            [ngStyle]="{
              background: active == 3 ? '#008CE4' : '#EFEFEF',
              color: active == 3 ? 'white' : 'gray'
            }"
            style="border-radius: 13px; margin-left: 10px"
            >App Agreement</span
          >
          <span
            class="badge badge-pill hand"
            (click)="active = 4"
            [ngStyle]="{
              background: active == 4 ? '#008CE4' : '#EFEFEF',
              color: active == 4 ? 'white' : 'gray'
            }"
            style="border-radius: 13px; margin-left: 10px"
            >Refund Policy</span
          >
        </div>
  
        <div style="padding-bottom: 20px" *ngIf="active == 1">
          <h5 style="color: #007ef2"><b>NRICH Learning Cookies Policy</b></h5>
  
          <div style="color: #545353">
            <p><b> What are Cookies?</b></p>
            <p>
              This site uses cookies, which are little files downloaded to your
              computer, as is customary with almost all professional websites, to
              enhance your experience. This page explains the data they collect,
              how we use it, and why we occasionally need to keep certain cookies.
              We'll also explain how to stop these cookies from being saved, but
              doing so may degrade or "break" some aspects of the website's
              operation. Visit the HTTP Cookies page on Wikipedia for more
              information about cookies in general.
            </p>
  
            <p><b>How we use Cookies?</b></p>
            <p>
              We employ cookies for several reasons listed below. Sadly, there are
              typically no industry-standard methods for blocking cookies without
              also blocking the functionality and benefits they give our site. If
              you're unsure if you need a particular cookie—one that is used to
              provide a service you use—it is advised that you leave it on.
            </p>
            <p><b> Disabling Cookies</b></p>
            <p>
              You can prevent the setting of cookies by adjusting the settings on
              your browser (see your browser Help for how to do this). Be aware
              that disabling cookies will affect the functionality of this and
              many other websites that you visit. Disabling cookies will usually
              result in also disabling certain functionality and features of this
              site. Therefore, it is recommended that you do not disable cookies.
            </p>
  
            <p><b>The Cookies We Set </b></p>
            <p>
              We will use cookies to administer the signup process and perform
              basic administration if you create an account with us. These cookies
              are typically removed after you log out, but occasionally they could
              stay behind to remember your log-out settings.
            </p>
            <p>
              To keep track of this information when you are logged in, we utilize
              cookies. As a result, you won't need to log in each time you visit a
              new page. To guarantee that you can only access restricted features
              and locations when logged in, these cookies are normally deleted or
              reset when you log out.
            </p>
            <p>
              Cookies may be used to remember if you have already registered on
              this site's newsletter or email subscription services and whether to
              display particular alerts that might only apply to subscribers or
              un-subscribers.
            </p>
            <p>
              Some cookies are required for this website's e-commerce or payment
              features to function properly and for your order to be remembered
              across pages.
            </p>
            <p>
              We occasionally offer user surveys and quizzes to give you
              intriguing insights, and practical tools, or to better understand
              our user base. To remember who has already participated in a survey
              or to provide you with correct results when you switch sites, these
              polls may employ cookies.
            </p>
            <p>
              Cookies may be created when you enter data through a form, such as
              those on contact sites or comment forms, to remember your user
              details for the next communications.
            </p>
            <p>
              We offer the option to adjust your preferences for how this site
              behaves when you use it in addition to giving you a fantastic
              experience while using it. We need to set up cookies to remember
              your interests so that this data can be retrieved each time you
              interact with a page that is affected by your preferences.
            </p>
            <p><b>Third-Party Cookies</b></p>
            <p>
              We occasionally employ cookies provided by reliable third parties in
              special situations. Which third-party cookies you might encounter on
              this site are described in the section that follows.
            </p>
            <p>
              We occasionally employ cookies provided by reliable third parties in
              special situations. Which third-party cookies you might encounter on
              this site are described in the section that follows.
            </p>
  
            <p>
              This site uses Google Analytics which is one of the most widespread
              and trusted analytics solutions on the web for helping us to
              understand how you use the site and ways that we can improve your
              experience. These cookies may track things such as how long you
              spend on the site and the pages that you visit so we can continue to
              produce engaging content.
            </p>
            <p>
              This website makes use of Google Analytics, one of the most
              well-known and reliable online analytics tools, to help us better
              understand how you use the site and how we can make it more
              enjoyable for you. For us to keep making interesting content, these
              cookies may track information such as how long you spend on the
              website and the pages that you visit.
            </p>
            <p>
              Visit the official Google Analytics page for additional details
              regarding Google Analytics cookies.
            </p>
            <p>
              To continue creating interesting material, we track and analyze site
              traffic using third-party analytics. These cookies may keep track of
              things like the number of pages you view or how long you stay on the
              site, which helps us recognize how we can make the site better for
              you.
            </p>
            <p>
              We occasionally test new functionality and make minor adjustments to
              how the site is delivered. These cookies may be used when we are
              testing new features to guarantee that you also have a consistent
              browsing experience and to help us determine which site improvements
              visitors find most useful.
            </p>
            <p>
              These cookies will track this kind of information since we offer
              things and need to know statistics about how many website users make
              purchases. You would care about this since it implies that we can
              generate reliable business representations that let us keep an eye
              on our product and promotional efforts to confirm the lowest
              feasible pricing.
            </p>
            <p>
              A DoubleClick cookie is used by the Google AdSense service we use to
              promote to deliver more relevant advertisements across the web and
              cap the number of times you see a particular ad.
            </p>
            <p>
              Visit the official Google AdSense privacy FAQ for more details on
              Google AdSense.
            </p>
            <p>
              We deploy advertisements to subsidize the costs of maintaining this
              website and to raise money for additional improvements. By
              statistically observing your interests and presenting relevant
              products that may be of interest, the behavioral advertising cookies
              used by this site are designed to make sure that we give you the
              most relevant ads possible.
            </p>
            <p>
              In some situations, we may provide you personalized content based on
              the information you directly or indirectly provided by connecting a
              social media account. These cookie types only help us to deliver to
              you content that we believe may be of relevance to you.
            </p>
            <p>
              Several partners advertise on our behalf and affiliate tracking
              cookies simply allow us to see if our customers have come to the
              site through one of our partner sites so that we can credit them
              appropriately and where applicable allow our affiliate partners to
              provide any bonus that they may provide you for making a purchase.
            </p>
            <p>
              On this website, we also use social media plugins and/or buttons
              that give you several different to interact with your social
              network. In addition, for this to function, the following social
              networking platforms may set cookies through our website. These
              cookies may be used to enhance your profile on those platforms or
              add to the data those platforms already have for a variety of uses
              indicated in their privacy policies.
            </p>
            <p><b>More Information</b></p>
            <p>
              This might have made things simpler for you, and as was already
              mentioned, it's generally safer to leave cookies enabled if there is
              something you are uncertain whether you need or not in case it
              overlaps with a feature you use on our site. However, if you need
              some more information, you can get in touch with us with one of our
              recommended communication channels
            </p>
            <p><b>Like to Connect with us?</b></p>
            <p>Email: support@nrichlearning.co.in</p>
            <p>Phone: +91 79425 30235</p>
          </div>
        </div>
  
        <div style="padding-bottom: 20px" *ngIf="active == 2">
          <h5 style="color: #007ef2"><b>Terms of Use</b></h5>
          <div style="color: #545353">
            <p>
              The day you accept and begin using NRICH Learning's services or
              technology is the effective date of this agreement, which is
              referred to as the Terms of Service or Software Services Agreement.
              Normally, it is addressed to you personally or to the organization,
              you are serving, and it is with NRICH Learning.
            </p>
            <p>
              The underlying agreement explains the legal and non-legal
              responsibilities that arise between NRICH Learning and You, the
              Client, or the Entity, as the case may be. When clicking the I Agree
              to button as well as using NRICH Learning's services, you are
              formally consenting to the ToS or Terms of Service.
            </p>
            <p>
              NRICH Learning retains the ability to add new terms or alter any
              existing clauses. When something happens, you will also be notified
              via the mode of communication that you prefer within a good amount
              of time after the new clause takes effect. Your subsequent use of
              NRICH Learning's services following the introduction of a change in
              policy on the website and communication to you by a broadcast of the
              same changes is considered as your consent to the change(s)
            </p>
  
            <p></p>
  
            <p><b>Terms of the Agreement</b></p>
            <p>
              You could represent The Client; The Individual or The Entity and
              NRICH Learning represent The Company. NRICH Learning retains the
              ability to add new terms or alter any existing clauses. When
              something happens, you will be notified via the mode of
              communication that you prefer within a good amount of time after the
              new clause takes effect. .
            </p>
  
            <p><b>License</b></p>
            <p>
              You are hereby granted a limited license to use NRICH Learning's
              software. This right is not assignable and cannot be sublicensed or
              sold without the Company's express written consent. When you use the
              service for trial purposes, you also consent to the company's right
              to revoke its provision of the software to you at any time,
              including after the trial period has ended.
            </p>
            <p>
              The company may instantly stop you from using the services or the
              software with or without formal notice if it discovers at any time
              that the user has used them in an unauthorized way or misrepresented
              the company or its services. The use of the services thereafter is
              done so with express consent, on an "As Is Basis," and relieves the
              provider from any responsibilities that would be prohibited.
              Additionally, you hold the business harmless from any material text
              or display that uses that you enter or save using the offered
              services. Also, you are considered the real owner of any information
              you enter or store by using services. By agreeing to the terms, you
              confirm that the firm provides its services or subscriptions "as is"
              and that your use of the service may depend on other platforms or
              mediums, such as your broadband internet, wifi, and/or mobile data
              from other service providers. Any interruption of these channels is
              not in any way considered a defect of the company's services, and
              the company retains the right to charge you the applicable and
              accepted cost during any such disruptions.
            </p>
  
            <p><b>Service Tax & Fee</b></p>
            <p>
              The cost of NRICH Learning's services is open to change at any time
              in the future. Any free or low-cost services may be discontinued or
              without an upgrade option. As soon as you decide to upgrade from a
              Freemium subscription to a paid package, you will be billed as per
              the payment term you specified when signing up for the service or
              upgrading, as applicable. Regardless of the plan, payment is always
              made in advance during the time.
            </p>
            <p>
              The company reserves the right to immediately cancel your
              subscription in the event of a failed payment transaction, including
              but not limited to internet technical glitch and/or expired banking
              credentials provided. Any plan or subscription upgrade or downgrade
              always takes effect after the duration of your current plan
              subscription.
            </p>
            <p>
              You are aware that your real charge for your chosen method of
              payment will be different from the fee since it depends on the
              current tax laws in the relevant country from where the service(s)
              are offered and the country from where the service(s) are
              subscribed. The fee quoted is exclusive of any applicable taxes.
              Your payment gateway or banking channel may charge you a fee in
              addition to the required fee; this price is what you pay for the
              payment transaction and is separate from the company fees.
            </p>
            <p>
              The company's services may be provided for free during a trial
              period, for free with a version that has reduced functionality, or
              under any other suitable model that the company deems fit for its
              business. To any version provided by the company that charges a fee,
              your subscription is purchased with your full knowledge and consent.
            </p>
            <p>
              You understand and certify that the payment information you may give
              the business for all or most of the subscription package is yours
              lawfully. The company recommends you stop using your banking
              credentials with us when you're not legally permitted to do so. You
              understand and agree to hold the business harmless from any
              contractual, legal, or regulatory undertakings if an unauthorized
              person, children under the age of 13, minors, or any other terms are
              engaged.
            </p>
            <p>
              The company strongly advises you to write to us at complaince@NRICH
              Learning.co in such a case or cases to inform us of the incident,
              and the company will take reasonable steps to ensure the future use
              of the said credentials on our website or at purchase counters
              starting from the date of your communication. Any already-effected
              payment, however, is not eligible for a refund.
            </p>
            
            <p><b>Data</b></p>
            <p>
              To provide the finest services falling under the scope of this
              agreement, the company may store any and or all information you have
              voluntarily entered into its websites, services, or software. This
              information is held securely. For more information on what we do
              with the data you enter and how we do it, kindly refer to our
              Privacy Policy.
            </p>
            <p>
              Additionally, you concur that the business may use the information
              to deliver a smooth and superior user experience throughout the full
              spectrum of the software and the intended services.
            </p>
            <p>
              The company allows that any internal departments, such as the R&D
              team, accounting team, and/or sales, marketing, and support teams,
              may share the data held.
            </p>
            <p>
              Your name, address, or other information gathered by the company
              during your subscription period will only be used to deliver the
              service you have chosen. If the company is required to share your
              personal or non-personal data with any third party in compliance
              with the legal obligations of the country concerned, you agree that
              the company will take all reasonable and legally reasonable steps
              and provide only the necessary information to the requesting
              authority
            </p>
            <p>
              Additionally, the company will make efforts to evaluate the
              request's legitimacy and keep you informed as relevant all through
              the process. However, this does not require the company to inform
              you of all requests from judicial or government bodies in a certain
              nation.
            </p>
            <p><b>Confidentiality</b></p>
            <p>
              Any and or all data exchanged between the parties is considered as
              data and is governed by the existing confidentiality policy. Either
              during the subscription or after the cancellation any information
              that was already in the public domain will not be treated as
              confidential information.
            </p>
            <p>
              The business will take all measures to safeguard your data and will
              limit the disclosure of that data to its other departments or
              workers who are not involved in the general framework of the
              service, subscription, or this agreement provisions
            </p>
            <p><b>Inferring Information</b></p>
            <p>
              The company does not recognize any of the information that you may
              otherwise derive or decipher using the subscription; rather, it is
              provided to you on an as-is basis from a collection provided by
              external sources, and you expressly agree to hold the company
              harmless from any liability related to such information
            </p>
            <p><b>Rights</b></p>
            <p>
              The company owns all ownership rights to all trademarks,
              intellectual property, and patents. No rights to the company's
              physical or digital assets will belong to you as a client. Without
              the company's written consent, you are not permitted to utilize,
              manipulate, or fraudulently portray any of the company's physical or
              digital assets.
            </p>
            <p>
              Feel free to contact us at if you have any questions or would like a
              clarification of our terms.<br><span style="color: #007ef2"><b>support@nrichlearning.co.in</b></span>
            </p>
          </div>
        </div>
  
        <div style="padding-bottom: 20px" *ngIf="active == 3">
          <h5 style="color: #007ef2"><b>Terms of Use</b></h5>
          <div style="color: #545353">
            <p>
              The day you accept and begin using NRICH Learning's services or
              technology is the effective date of this agreement, which is
              referred to as the Terms of Service or Software Services Agreement.
              Normally, it is addressed to you personally or to the organization,
              you are serving, and it is with NRICH Learning.
            </p>
            <p>
              The underlying agreement explains the legal and non-legal
              responsibilities that arise between NRICH Learning and You, the
              Client, or the Entity, as the case may be. When clicking the I Agree
              to button as well as using NRICH Learning's services, you are
              formally consenting to the ToS or Terms of Service. <br />
              NRICH Learning retains the ability to add new terms or alter any
              existing clauses. When something happens, you will also be notified
              via the mode of communication that you prefer within a good amount
              of time after the new clause takes effect. Your subsequent use of
              NRICH Learning's services following the introduction of a change in
              policy on the website and communication to you by a broadcast of the
              same changes is considered as your consent to the change(s)
            </p>
            <p>
              Terms of the Agreement: <br />
              You could represent The Client; The Individual or The Entity and
              NRICH Learning represent The Company. NRICH Learning retains the
              ability to add new terms or alter any existing clauses. When
              something happens, you will be notified via the mode of
              communication that you prefer within a good amount of time after the
              new clause takes effect. 
            </p>
            <p><b>License:</b></p>
            <p>
              You are hereby granted a limited license to use NRICH Learning's
              software. This right is not assignable and cannot be sublicensed or
              sold without the Company's express written consent. When you use the
              service for trial purposes, you also consent to the company's right
              to revoke its provision of the software to you at any time,
              including after the trial period has ended.
            </p>
            <p>
              The company may instantly stop you from using the services or the
              software with or without formal notice if it discovers at any time
              that the user has used them in an unauthorized way or misrepresented
              the company or its services.
            </p>
            <p>
              The use of the services thereafter is done so with express consent,
              on an "As Is Basis," and relieves the provider from any
              responsibilities that would be prohibited. Additionally, you hold
              the business harmless from any material text or display that uses
              that you enter or save using the offered services. Also, you are
              considered the real owner of any information you enter or store by
              using services.
            </p>
            <p>
              By agreeing to the terms, you confirm that the firm provides its
              services or subscriptions "as is" and that your use of the service
              may depend on other platforms or mediums, such as your broadband
              internet, wifi, and/or mobile data from other service providers. Any
              interruption of these channels is not in any way considered a defect
              of the company's services, and the company retains the right to
              charge you the applicable and accepted cost during any such
              disruptions.
            </p>
            <p><b>Service Fee & Taxes:</b></p>
            <p>
              The cost of NRICH Learning's services is open to change at any time
              in the future. Any free or low-cost services may be discontinued or
              without an upgrade option. As soon as you decide to upgrade from a
              Freemium subscription to a paid package, you will be billed as per
              the payment term you specified when signing up for the service or
              upgrading, as applicable. Regardless of the plan, payment is always
              made in advance during the time.
            </p>
            <p>
              The company reserves the right to immediately cancel your
              subscription in the event of a failed payment transaction, including
              but not limited to internet technical glitch and/or expired banking
              credentials provided. Any plan or subscription upgrade or downgrade
              always takes effect after the duration of your current plan
              subscription.
            </p>
            <p>
              You are aware that your real charge for your chosen method of
              payment will be different from the fee since it depends on the
              current tax laws in the relevant country from where the service(s)
              are offered and the country from where the service(s) are
              subscribed. The fee quoted is exclusive of any applicable taxes.
              Your payment gateway or banking channel may charge you a fee in
              addition to the required fee; this price is what you pay for the
              payment transaction and is separate from the company fees.
            </p>
            <p>
              The company's services may be provided for free during a trial
              period, for free with a version that has reduced functionality, or
              under any other suitable model that the company deems fit for its
              business. To any version provided by the company that charges a fee,
              your subscription is purchased with your full knowledge and consent.
            </p>
            <p>
              You understand and certify that the payment information you may give
              the business for all or most of the subscription package is yours
              lawfully. The company recommends you stop using your banking
              credentials with us when you're not legally permitted to do so. You
              understand and agree to hold the business harmless from any
              contractual, legal, or regulatory undertakings if an unauthorized
              person, children under the age of 13, minors, or any other terms are
              engaged.
            </p>
            <p>
               The company strongly advises you to write to us at complaince@NRICH
              Learning.co in such a case or cases to inform us of the incident,
              and the company will take reasonable steps to ensure the future use
              of the said credentials on our website or at purchase counters
              starting from the date of your communication. Any already-effected
              payment, however, is not eligible for a refund.
            </p>
            
            <p><b>Data:</b></p>
            <p>
              To provide the finest services falling under the scope of this
              agreement, the company may store any and or all information you have
              voluntarily entered into its websites, services, or software.
              This information is held securely. For more information on what we
              do with the data you enter and how we do it, kindly refer to our
              Privacy Policy.
            </p>
            <p>
              Additionally, you concur that the business may use the information
              to deliver a smooth and superior user experience throughout the full
              spectrum of the software and the intended services. 
            </p>
            <p>
              The company allows that any internal departments, such as the R&D
              team, accounting team, and/or sales, marketing, and support teams,
              may share the data held. <br />
            </p>
            <p>
              Your name, address, or other information gathered by the company
              during your subscription period will only be used to deliver the
              service you have chosen. If the company is required to share your
              personal or non-personal data with any third party in compliance
              with the legal obligations of the country concerned, you agree that
              the company will take all reasonable and legally reasonable steps
              and provide only the necessary information to the requesting
              authority
            </p>
            <p>
              Additionally, the company will make efforts to evaluate the
              request's legitimacy and keep you informed as relevant all through
              the process. However, this does not require the company to inform
              you of all requests from judicial or government bodies in a certain
              nation.
            </p>
            <p><b>Confidentiality: </b></p>
            <p>
              Any and or all data exchanged between the parties is considered
              as data and is governed by the existing confidentiality policy.
              Either during the subscription or after the cancellation any
              information that was already in the public domain will not be
              treated as confidential information. 
            </p>
            <p>
              The business will take all measures to safeguard your data and will
              limit the disclosure of that data to its other departments or
              workers who are not involved in the general framework of the
              service, subscription, or this agreement provisions.
            </p>
            <p>Inferring Information: </p>
            <p>
              The company does not recognize any of the information that you may
              otherwise derive or decipher using the subscription; rather, it is
              provided to you on an as-is basis from a collection provided by
              external sources, and you expressly agree to hold the company
              harmless from any liability related to such information.
            </p>
            <p><b>Rights:</b></p>
            <p>
              The company owns all ownership rights to all trademarks,
              intellectual property, and patents. No rights to the company's
              physical or digital assets will belong to you as a client. Without
              the company's written consent, you are not permitted to utilize,
              manipulate, or fraudulently portray any of the company's physical or
              digital assets.
            </p>
            <p>
              Feel free to contact us at if you have any questions or would like a
              clarification of our terms. 
            </p>
            <a href=""><b>compliance@nrichlearning.com</b></a
            ><br /><br />
  
            <p><b>Policy for Online Teaching Mobile App</b></p>
            <p>
              Welcome to our online teaching app! This policy outlines the terms
              and conditions under which you can use our app, so please read it
              carefully. By accessing or using the app, you agree to be bound by
              this policy and our Terms of Service. If you do not agree to this
              policy or our Terms of Service, please do not use the app. <br />
              <b>1. Who can use the app</b> <br />
              The app is available to anyone who is at least 18 years of age and
              has the legal capacity to enter into a binding contract. If you are
              under 18 or do not have the legal capacity to enter into a contract,
              you must have the permission of your parent or guardian to use the
              app. <br />
  
              <b>2. App features and functionality</b> <br />
              Our app allows users to connect with teachers and take online
              classes. You can browse available classes, schedule sessions with
              teachers, and make payments through the app. You can also
              communicate with your teacher through the app's messaging feature.
              <br />
  
              <b>3. Payment terms</b> <br />
              Payments for classes must be made through the app. We accept various
              forms of payment, including credit card and PayPal. All payments are
              final and non-refundable, except in the case of teacher cancellation
              or technical issues. If you experience any issues with payments,
              please contact us at [support email address]. <br />
  
              <b>4. User conduct</b> <br />
              By using the app, you agree to use the app only for lawful purposes
              and in a way that does not infringe the rights of, restrict, or
              inhibit anyone else's use and enjoyment of the app. Prohibited
              conduct includes, but is not limited to, using the app to harass,
              bully, or spam others, or to post or transmit any content that is
              illegal, defamatory, or infringes on the intellectual property
              rights of others. <br />
  
              <b>5. Disclaimer of warranties</b> <br />
              We strive to provide a reliable and enjoyable online learning
              experience, but we cannot guarantee that the app will always be
              available or free from errors or disruptions. The app is provided
              "as is" and "as available," and we make no warranties or
              representations of any kind, express or implied, about the
              completeness, accuracy, reliability, suitability, or availability of
              the app or the information, products, or services contained on the
              app. <br />
  
              <b>6. Limitation of liability</b> <br />
              To the maximum extent permitted by law, we will not be liable for
              any loss or damage of any kind arising from the use of the app,
              including, but not limited to, direct, indirect, incidental,
              punitive, and consequential damages. <br />
  
              <b>7. Changes to this policy</b> <br />
              We may update this policy from time to time, so please review it
              regularly. If we make any material changes to this policy, we will
              provide notice through the app or by other means. Your continued use
              of the app after any changes have been made will constitute your
              acceptance of the revised policy. <br />
  
              <b>8. Governing law</b> <br />
              This policy and your use of the app are governed by the laws of
              [your jurisdiction]. Any disputes arising from or related to this
              policy or the app will be resolved through [arbitration or court
              proceedings in your jurisdiction]. <br />
  
              <b>9. Contact us</b> <br />
              If you have any questions or concerns about this policy, please
              contact us at support@nrichlearning.co.in <br />
            </p>
          </div>
        </div>
  
        <div style="padding-bottom: 20px" *ngIf="active == 4">  
          <h5 style="color: #007ef2"><b><b>Annual Plan Overview</b></b></h5>
          <div style="color: #545353">
              <p>
                  <b>Plan Initiation:</b>
              </p>
              <p>
                  <b>Activation Date:</b> Your plan commences from the day you accept our terms and conditions, initiating our partnership in enhancing your educational offerings.
              </p>
              <p>
                  <b>Annual Billing and Add-Ons:</b> Our model is based on an annual billing cycle. Institutes can also purchase add-ons at any time during this cycle. The Plan will be valid for one year and the add-ons bought will be valid until the current plan is active.
              </p>
      
              <p>
                  <b>Cancellation and Renewal</b>
              </p>
              <p>
                  <b>How to Manage Your Plan:</b>
              </p>
              <p>
                  <b>Plan Management:</b> You can manage your plan through the provided channels, such as email or a customer portal. However, the plan and any add-ons are non-refundable once purchased.
              </p>
              <p>
                  <b>Processing Period:</b> Changes to your plan, such as the addition of add-ons, are processed immediately.
              </p>
      
              <p>
                  <b>Annual Renewal:</b>
              </p>
              <p>
                  <b>Renewal Process:</b> Your plan and any add-ons will not auto-renew. Near the end of your annual cycle, you will have the option to manually renew and purchase additional add-ons.
              </p>
              <p>
                  <b>Updated Pricing:</b> The renewal of plans and add-ons will be subject to the current pricing at the time of renewal.
              </p>
      
              <p>
                  <b>Refund and Payment Policy</b>
              </p>
              <p>
                  <b>No Refund Policy:</b> Please note that once purchased, neither the annual plan nor any add-ons are eligible for a refund under any circumstances.
              </p>
      
              <p>
                  <b>Termination of Services:</b>
              </p>
              <p>
                  <b>Ending the Plan:</b> The user – can decide not to renew the plan. The plan remains active until the end of the current annual cycle.
              </p>
              <p>
                  <b>Post-Termination:</b> Upon the completion of the annual cycle without renewal, access to our platform and its features will end.
              </p>
      
              <p>
                  <b>Additional Information</b>
              </p>
              <p>
                  <b>Our Dedication:</b> We are dedicated to offering high-quality software. Our policies are customized to support continuous service improvement.
              </p>
              <p>
                  <b>Open Communication:</b>
              </p>
              <p>
                  <b>Valued Feedback:</b> We welcome your queries and feedback about our platform or policies to enhance our services.
              </p>
      
              <p>
                  <b>Conclusion</b>
              </p>
              <p>
                  Thank you for choosing Nrich Learning. Our policy aims to be transparent and fair, ensuring a smooth and beneficial experience with our platform. If you have any questions or require assistance, our team is always ready to help.
              </p>
          </div>
      </div>
      
      </div>
    </div>
  </main>
  