<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">
      <img src="assets/img/gg-3.png" alt="" class="gg-3 position-absolute" />
      <div class="container cs-padding">
        <div class="">
          <div>
            <div class="gap-38">
              <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
  
                  <li class="breadcrumb-item active" aria-current="page">
                    Institute List
                  </li>
                </ol>
              </nav>
              <div class="section-title">
                <h2>
                  Explore
                  <span class="title-pole sign position-relative"
                    >Featured Institutes</span
                  >
                </h2>
              </div>
  
              <div class="row">
                <div class="col-md-3">
                  <fieldset
                    class="type-2 z-index-1 col-md-3"
                    style="width: 92%; margin: 15px"
                  >
                    <legend>Institute Name</legend>
                    <input
                      type="text"
                      [(ngModel)]="name"
                      #instituteSearch
                      class="form-control"
                      list="name"
                    />
                    <datalist id="name">
                      <option *ngFor="let nameInstitute of resultName">
                        {{ nameInstitute }}
                      </option>
                    </datalist>
                  </fieldset>
                </div>
                <div class="col-md-3">
                  <fieldset
                    class="type-2 z-index-1 col-md-3"
                    style="width: 92%; margin: 15px"
                  >
                    <legend>Category</legend>
                    <input
                      [(ngModel)]="categoryName"
                      type="text"
                      class="form-control"
                      list="categoriesNames"
                      (change)="fetchInstituteByCategory($event)"
                    />
                    <datalist id="categoriesNames">
                      <option
                        *ngFor="
                          let element of categoryList | filter : categoryName
                        "
                      >
                        {{ element?.categoryName }}
                      </option>
                    </datalist>
                  </fieldset>
                </div>
                <div class="col-md-2">
                  <button
                    (click)="searchInstitutes()"
                    style="width: 90%; margin: 25px 0px 15px 15px; padding: 15px"
                    class="col-md-3 btn box-btn gradient-bg"
                    [disabled]="!(name || categoryId)"
                  >
                    Search
                  </button>
                </div>
                <div class="col-md-3">
                  <button
                    (click)="nearestInstitutes()"
                    style="width: 90%; margin: 25px 0px 15px 15px; padding: 15px"
                    class="col-md-3 btn box-btn gradient-bg"
                  >
                    Find Nearest Institutes
                  </button>
                </div>
              </div>
              <app-institute-list
                [instituteList]="instituteList"
                [config]="config"
                [maxPages]="10"
                (nextPage)="nextPage($event)"
              ></app-institute-list>
            </div>
          </div>
          <app-listing-banner></app-listing-banner>
        </div>
      </div>
    </div>
  </main>
  