<div class="section-cover" id="apply-area">
    <div class="ins-area fix bg-white">
        <div class="container type-2 cs-padding">
            <div class="row ins-row-type-three">
                <div class="col-md-6 mt-2 ins-el-box position-relative">
                    <img class="img-fluid position-absolute bottom-0 ins-t-1" src="assets/img/ins-t-3.png" alt="">
                    <div class="ins-element blue">
                        <div class="ins-el-inner">
                            <h5>Become An Instructor</h5>
                            <p>Promote your teaching skills & publish your<br><b>profile in our Directory</b></p>
                            <a [routerLink]="['/connect-with-learning']" class="btn box-btn fill-white small round-60"><i
                                    class="far fa-plus-circle"></i>Apply
                                Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-2 ins-el-box position-relative">
                    <img class="img-fluid position-absolute bottom-0 ins-t-1 two" src="assets/img/ins-t-4.png" alt="">
                    <div class="ins-element green">
                        <div class="ins-el-inner">
                            <h5>Register Your Institute</h5>
                            <p>Advertise your Institute in our Marketplace and<br><b>get more Students</b></p>
                            <a [routerLink]="['/login']" class="btn box-btn fill-white small round-60"><i
                                    class="far fa-plus-circle"></i>Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./ins-area -->
</div>