<div class="card">
    <div class="card-header d-flex justify-content-between bg-primary nabvar">
       <div class="header-title">
          <h4 class="card-title text-white">Preview Question</h4>
       </div>
       <div>
          <button class="btn ml-2" style="background: white; color: #50B5FF;margin-left: 5px;"><i
                class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
       </div>
    </div>
    <div class="card-body" style="max-height: 900px; overflow:auto">
 
       <div class="d-flex justify-content-between mb-2">
          <span>Teacher Name</span>
          <span>test</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Exam Name</span>
          <span>test</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Marks</span>
          <span>100</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Teacher Name</span>
          <span>100</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Exam Type</span>
          <span>test</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Negtive Marks</span>
          <span>0%</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Start Time</span>
          <span>25/12/2022</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>End Time</span>
          <span>25/12/2022</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Exam Duration</span>
          <span>25</span>
       </div>
       <hr>
       <div class="text-center">
          <h3>section</h3>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span class="text-dark"><span class="text-danger"> Section title:</span> <span> The 2021 edition of the EF EPI
                is out now</span></span>
 
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span class="text-dark"><span class="text-dark"> Section Discription:</span> <span> The 2021 edition of the EF
                EPI is out now</span></span>
 
       </div>
       <hr>
       <div class="text-center">
          <h3>Question</h3>
       </div>
       <hr>
       <div class="text-center">
          <h3> <strong> Question 1 </strong></h3>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span class="text-dark"><strong>Question Type</strong></span>
          <span class="badge bg-success mt-2">Objetive</span>
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span>Marks:25</span>
 
       </div>
       <div class="d-flex justify-content-between mb-2">
          <span class="text-dark"><span class="text-danger"> Question:</span> <span> The 2021 edition of the EF EPI is
                out now</span></span>
 
       </div>
       <div>
          <div class="d-flex justify-content-between mb-2">
             <span class="text-dark"><strong>Options</strong></span>
          </div>
          <div class="form-group">
             <div class="form-check d-block">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                   Assignment
                </label>
             </div>
             <div class="form-check d-block">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                   Assignment
                </label>
             </div>
             <div class="form-check d-block">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                   Assignment
                </label>
             </div>
             <div class="form-check d-block">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                   Assignment
                </label>
             </div>
 
 
 
          </div>
 
       </div>
 
 
 
    </div>
 </div>