<div class="card" style="background: rgba(0, 126, 242, 0.1); border-radius: 22px; border: 0px">
    <div class="card-body max-set-c" style="padding: 0;">
      <div class="row">
        <div class="col-md-8 p-set mobile_center" style="padding: 8%; margin-bottom: 20px" >
          <div class="cblacktext">
            Sign-Up to download <br />
            <span class="title-pole" style="color: #007EF2;"> & Reach out to the world</span>
          </div>
          <div class="cblacktext2 mt-2">
            Experience the endless possibilities of being the leader in Online
            Teaching.
          </div>
  
          <div class="mt-2">
            <div>
              <a href="https://play.google.com/store/apps" target="_blank">
                <img class="set-play-btn" src="../assets/images-marketing/playbtn.svg" alt="" /> </a>
              <span>
                <a href="https://www.apple.com/in/app-store/" target="_blank"><img class="set-play-btn"
                    src="../assets/images-marketing/applebtn.svg" alt="" /></a></span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="set-img-card-common">
            <img src="../../../../assets/images-marketing/iPhone 11 Pro Max Mockup 1.svg" width="100%"
              alt="online teacher profile" />
          </div>
        </div>
      </div>
    </div>
  </div>