<div
  class="card launch_mobile"
  style="background: rgba(0, 126, 242, 0.1); border-radius: 22px; border: 0px"
>
  <div class="card-body max-set-c" style="padding: 0px">
    <div class="row alignText">
      <div class="col-lg-8 p-set mobile_center" style="padding: 8% 8% 0% 8%">
        <div class="cblacktext">
          Launch your mobile app
          <br />
          <span style="color: #007ef2"> & Teach the world </span>
        </div>
        <div class="cblacktext2 mt-2">
          Endless possibilities that make you a Leader in Edutech.
        </div>

        <div class="mt-2 setPadding">
          <div>
            <a href="https://play.google.com/store/apps" target="_blank">
              <img
                class="set-play-btn"
                src="../assets/images-marketing/playbtn.svg"
                alt=""
              />
            </a>
            <a href="https://www.apple.com/in/app-store/" target="_blank">
              <img
                class="set-play-btn"
                src="../assets/images-marketing/applebtn.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="set-img-card-common" style="margin-top: -55px">
          <img src="../assets/images-marketing/mobile.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
