<div class="card" style="text-align: left !important">
    <div class="card-body pl-0 pb-0">
      <form [formGroup]="courseForm">
  
        <div class="row">
          <div class="form-group col-md-3 mb-3">
            <label class="form-label" for="validationCustom01">Course Name<span class="text-danger">*</span></label>
            <input type="text" formControlName="courseName" class="form-control" #value />
            <div *ngIf="isSubmit && getControls['courseName'].invalid">
              <div class="alert-custom alert-light-danger alert-dismissible">
                <div class="text-danger" *ngIf="getControls['courseName'].errors?.['required']">
                  Course Name is required.
                </div>
              </div>
            </div>
            <div *ngIf="
                      getControls['courseName'].invalid &&
                      getControls['courseName'].value
                    ">
              <div class="text-danger" *ngIf="getControls['courseName'].errors?.['validateCharctersInput']">
                Course Name must not contain more than 42 characters.
              </div>
              <div class="text-danger" *ngIf="getControls['courseName'].errors?.['validateInputWords']">
                Course Name must not contain more than 5 words.
              </div>
            </div>
          </div>
  
          <div class="form-group col-md-3 mb-3">
            <label class="form-label" for="validationCustom04">Thumbnail Image<span class="text-danger">*</span></label>
            <input class="form-control" #imageSelect (change)="fileChangeEvent($event)" type="file"
              id="fileSelect" />
            <p *ngIf="getControls['id'].value">
              {{ getControls["courseImage"].value }}
            </p>
            <div *ngIf="isSubmit && getControls['courseImage'].invalid">
              <div class="alert-custom alert-light-danger alert-dismissible">
                <div class="text-danger" *ngIf="getControls['courseImage'].errors?.['required']">
                  Course Image is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" for="exampleFormControlSelect1">Course Type<span class="text-danger">*</span></label>
            <select class="form-select" id="exampleFormControlSelect1" (change)="selectLectureType(liveOrRecordedLectures.value)"
              #liveOrRecordedLectures formControlName="liveOrRecordedLectures">
              <option initial disabled value="">Select Type</option>
              <option value="recordedLectures">Recorded </option>
              <option value="both">Live and Recorded </option>
            </select>
            <div *ngIf="isSubmit && getControls['liveOrRecordedLectures'].invalid">
              <div class="alert-custom alert-light-danger alert-dismissible">
                <div class="text-danger" *ngIf="getControls['liveOrRecordedLectures'].errors?.['required']">
                  Type is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3 mb-3">
            <label class="form-label" for="validationCustom04">Payment Modes<span class="text-danger">*</span></label>
            <br />
            <div class="radio-inline">
              <input id="offline" type="radio" class="custom-control-input" value="offline"
                  name="online" formControlName="paymentType" [checked]='offline' (click)="checkCredentials($event)">
              <label class="form-label text-dark" for="male">&nbsp;Offline</label>
              &nbsp;&nbsp;
              <input id="online" type="radio" class="custom-control-input" value="online"
                  name="online" formControlName="paymentType"  [checked]='online' (click)="checkCredentials($event)">
              <label class="form-label text-dark" for="male">&nbsp;Online</label>
          </div>
            <!-- <div class="form-check form-checkbox form-check-inline">
              <input type="checkbox" class="form-check-input" #offline (change)="paymodeSelected($event)" value="offline"
                id="ii" />
              <label class="form-check-label" for="customCheck5">Offline</label>
            </div>
            <div class="form-check form-checkbox form-check-inline">
              <input type="checkbox" class="form-check-input" #online (change)="paymodeSelected($event)" value="online"
                id="i" />
              <label class="form-check-label" for="customCheck5">Online</label>
            </div> -->
            <div *ngIf="isSubmit && getControls['paymentType'].invalid">
              <div class="alert-custom alert-light-danger alert-dismissible">
                <div class="text-danger" *ngIf="getControls['paymentType'].errors?.['required']">
                  Payment Type is required.
                </div>
              </div>
            </div>
          </div>
      </div>
  
  
        <div class="accordion mt-2" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" style="background: aliceblue" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne" *ngIf="course.courseImagePath || imageName">
                Image Cropper
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="mt-2" *ngIf="!imageName && course.courseImagePath">
                <p>Image Preview</p>
                <img [src]="course.courseImagePath" style="width: 539px; height: 314px" />
              </div>
              <div class="row mt-2" *ngIf="imageName">
                <div class="col-md-12" *ngIf="!isImageLoaded" style="text-align: center">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <p *ngIf="isImageLoaded">Selected Image</p>
                  <image-cropper [imageURL]="course.courseImagePath" [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true" [aspectRatio]="1.75 / 1" format="png" [cropperMinHeight]="500"
                    [cropperMinWidth]="875" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                </div>
                <div class="col-md-6" *ngIf="isImageLoaded">
                  <p>Image Preview</p>
                  <img [src]="croppedImage" style="width: 100%" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-2" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" style="background: aliceblue" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                <span>Details</span>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" [ngClass]="
                getControls['timePeriodCourse'].valid ||
                getControls['courseDescription'].valid ||
                getControls['subjectSyllabus'].valid
                  ? 'show'
                  : ''
              " aria-labelledby="panelsStayOpen-headingOne">
              <div class="row">
                <div class="form-group col-md-12 mt-3">
                  <label class="form-label" for="validationCustom01">Course Duration(In Weeks or Months)
                  </label>
                  <input type="text" formControlName="timePeriodCourse" class="form-control" (keypress)="omit_special_char($event)"/>
                </div>
                <div class="form-group col-md-12">
                  <label class="form-label" for="validationCustom01">Course Description</label>
                  <textarea class="form-control" formControlName="courseDescription" rows="3" ></textarea>
                  <div *ngIf="
                      getControls['courseDescription'].invalid &&
                      getControls['courseDescription'].value
                    ">
                    <div class="alert-custom alert-light-danger alert-dismissible">
                      <div class="text-danger"
                        *ngIf="getControls['courseDescription'].errors?.['validateDescriptionCharctersInput']">
                        Course Description must not contain more than 365
                        characters.
                      </div>
                      <div class="text-danger"
                        *ngIf="getControls['courseDescription'].errors?.['validateDescriptionInputWords']">
                        Course Description must not contain more than 65 words.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="form-label" for="validationCustom01">Syllabus or Table of Contents</label>
                  <angular-editor formControlName="subjectSyllabus" [config]="editorConfig">
                  </angular-editor>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mt-2">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" style="background: aliceblue" type="button"
                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <span>Details to Publish</span>
              </button>
            </h2>
  
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body pb-0">
  
                <div class="row">
                  <div class="col-xl-12 col-lg-6 mb-3">
                    <label class="form-label" for="validationCustom01">Searchable Keywords</label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-chip-list #chipList aria-label="Tag Selection">
                        <mat-chip *ngFor="let tag of metaTags" (removed)="remove(tag)">
                          {{ tag.name }}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input placeholder="Tags..." [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)" />
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 mb-3">
                    <label class="form-label" for="exampleFormControlSelect1">Demo Video Type</label>
                    <select class="form-select" id="exampleFormControlSelect1" (change)="selectInput(demoVideoType.value)"
                      #demoVideoType formControlName="demoVideoType">
                      <option value="">Select Demo Video Type</option>
                      <option value="Normal">Normal Video</option>
                      <option value="YouTubeVideo">YouTube Video</option>
  
                    </select>
                  </div>
                  <div class="col-xl-6 col-lg-6 mb-3" *ngIf="getControls['demoVideoType'].value=='Normal'">
                    <label class="form-label" for="validationCustom04">Demo Video</label>
                    <input class="form-control" (change)="onVideoSelect($event)" #videoSelect type="file"
                      id="validationCustom04" required />
                    <p *ngIf="getControls['id'].value">
                      {{ getControls["demoVideo"].value }}
                    </p>
                  </div>
                  <div class="col-xl-6 col-lg-6 mb-3" *ngIf="getControls['demoVideoType'].value=='YouTubeVideo'">
                    <label class="form-label" for="validationCustom04">YouTube Demo Video Link</label>
                    <input class="form-control" type="text" id="validationCustom04" formControlName="youtubeVideoLink"
                      required />
                  </div>
  
                  <div class="row mt-3">
                    <div class="col-xl-3 col-lg-6 mb-3">
                      <label class="form-label" for="validationCustom04">
                        Study Material</label>
                      <br />
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio11" formControlName="whetherStudyMaterialIncluded" value="true"
                          name="customRadio-1" class="form-check-input" />
                        <label class="form-check-label" for="customRadio11">
                          Yes
                        </label>
                      </div>
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio12" formControlName="whetherStudyMaterialIncluded"
                          value="false" name="customRadio-1" class="form-check-input" />
                        <label class="form-check-label" for="customRadio12">
                          No
                        </label>
                      </div>
                      <!-- <label class="form-label" for="validationCustom04"> Study Material?</label>
                                      <select class="form-select" formControlName="whetherStudyMaterialIncluded"
                                          aria-label="Default select example" id="validationCustom04" required>
                                          <option value="true">Yes</option>
                                          <option value="false" selected>No</option>
                                      </select> -->
                    </div>
                    <div class="col-xl-3 col-lg-6 mb-3">
                      <label class="form-label" for="validationCustom04">
                        Assignment</label>
                      <br />
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio13" formControlName="whetherAssignmentTestIncluded"
                          value="true" name="customRadio-7" class="form-check-input" />
                        <label class="form-check-label" for="customRadio13">
                          Yes
                        </label>
                      </div>
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio14" formControlName="whetherAssignmentTestIncluded"
                          value="false" name="customRadio-7" class="form-check-input" />
                        <label class="form-check-label" for="customRadio14">
                          No
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 mb-3">
                      <label class="form-label" for="validationCustom04">
                        Test</label>
                      <br />
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio8" formControlName="hasTest" value="true" name="customRadio-8"
                          class="form-check-input" />
                        <label class="form-check-label" for="customRadio8">
                          Yes
                        </label>
                      </div>
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio9" formControlName="hasTest" value="false" name="customRadio-8"
                          class="form-check-input" />
                        <label class="form-check-label" for="customRadio9">
                          No
                        </label>
                      </div>
                    </div>
  
                    <div class="col-xl-3 col-lg-6 mb-3">
                      <label class="form-label" for="validationCustom04">
                        Certifications</label>
                      <br />
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio21" formControlName="isCertificateIncluded" value="true"
                          name="customRadio-3" class="form-check-input" />
                        <label class="form-check-label" for="customRadio21">
                          Yes
                        </label>
                      </div>
                      <div class="form-check custom-radio form-check-inline">
                        <input type="radio" id="customRadio22" formControlName="isCertificateIncluded" value="false"
                          name="customRadio-3" class="form-check-input" />
                        <label class="form-check-label" for="customRadio22">
                          No
                        </label>
                      </div>
                    </div>
  
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-xl-4 col-lg-6 mb-3">
  
                    <label class="form-label" for="validationCustom04">Categories</label>
                    <a *ngIf="course.id" class="form-label" for="validationCustom02" (click)="course.id ? openAddCategoryDialog() :null ">
                      (Request for new Category)
                    </a>
  
                    <mat-form-field appearance="outline" style="width: 100%" *ngIf="courseCategories">
                      <mat-label>Select Category</mat-label>
                      <mat-select multiple formControlName="categoryIds" (openedChange)="onSelectionChange($event)">
                        <mat-optgroup>
                          <mat-form-field style="width: 100% !important" class="example-form-field" appearance="legacy">
                            <mat-label>Search..</mat-label>
                            <mat-icon matSuffix>search</mat-icon>
                            <input matInput type="text" #searchCategories />
                          </mat-form-field>
                        </mat-optgroup>
                        <ng-container *ngFor="
                            let category of courseCategories
                              | filter : searchCategories.value
                          ">
                          <mat-option [value]="category.id" *ngIf="category != null">
                            {{ category?.name }}
                          </mat-option>
                          <mat-select-trigger *ngIf="category == null">
                            No Item Found.
                          </mat-select-trigger>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-6 mb-3">
                    <label class="form-label" for="validationCustom04">Sub Categories</label>
                    <mat-form-field appearance="outline" style="width: 100%" *ngIf="subCategories">
                      <mat-label>Select Sub Category</mat-label>
                      <mat-select multiple (openedChange)="onSubCategorySelectionChange($event)"
                        formControlName="subCategoryIds">
                        <mat-optgroup class="mb-2">
                          <mat-form-field style="width: 100% !important" appearance="legacy">
                            <mat-label>Search..</mat-label>
                            <mat-icon matSuffix>search</mat-icon>
                            <input matInput type="text" #searchSubCategories />
                          </mat-form-field>
                        </mat-optgroup>
                        <mat-optgroup *ngFor="let category of subCategories" [label]="category.name">
                          <ng-container *ngFor="
                              let element of category.categories
                                | filter : searchSubCategories.value
                            ">
                            <mat-option [value]="element.id" *ngIf="element != null">
                              {{ element.name }}
                            </mat-option>
                            <mat-select-trigger *ngIf="element == null">
                              No Item Found.
                            </mat-select-trigger>
                          </ng-container>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-6">
                    <label class="form-label" for="validationCustom04">Sub Sub Categories</label>
                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>Select Sub Sub Category</mat-label>
                      <mat-select multiple formControlName="subSubCategoryIds"
                        (openedChange)="onSubSubCategorySelectionChange($event)">
                        <mat-optgroup>
                          <mat-form-field style="width: 100% !important" appearance="legacy">
                            <mat-label>Search..</mat-label>
                            <mat-icon matSuffix>search</mat-icon>
                            <input matInput type="text" #searchSubSubCategories />
                          </mat-form-field>
                        </mat-optgroup>
                        <mat-optgroup *ngFor="let category of subSubCategories" [label]="category.name">
                          <ng-container *ngFor="
                              let element of category.categories
                                | filter : searchSubSubCategories.value
                            ">
                            <mat-option [value]="element.id" *ngIf="element != null">
                              {{ element.name }}
                            </mat-option>
                            <mat-select-trigger *ngIf="element == null">
                              No Item Found.
                            </mat-select-trigger>
                          </ng-container>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" (click)="submitBasicInfo()" type="submit" style="background-color: #007ef2"
        class="btn btn-primary">
        Submit & Next
      </button>
    </div>
  </div>
  