.text-box{
    position: relative;
    background: #fff;
    margin: 10px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(1 1 1 / 10%);
  }
  
  .text-box .top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 1%;
  }
  
  .text-box .top-area h2{
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .text-box .top-area .copy-btn{
    background: #eee;
    color: #999;
    font-size: 1.5em;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .text-box .top-area .copy-btn:hover{
    color: #222;
  }
  
  .text-box textarea{
    width: 100%;
    min-height: 150px;
    font-size: 1em;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 1px solid #009FEF;
  }
  